@import '../../../../styles/variables';
@import '../../styles/variables';

.ptr-item,
a.ptr-item {
	display: flex;
	border-radius: $form-border-radius;
	border: 2px solid $bo-accent3;
	background: $bo-accent-lighter0;
	margin-bottom: $b1;
	padding: 0 m(.25);
	color: $accent8;
	position: relative;
}

a.ptr-item {
	cursor: pointer;
}

.ptr-item .ptr-icon.hover:hover{
	color: $accent5;
}

.ptr-item span,
.ptr-item .option-id{
	line-height: $a2;
}

.ptr-item:hover {
	border-color: $accent5;
}


.ptr-item .label{
	display: flex;
	margin-left: m(.25);
}

.ptr-item .option-id{
	color: var(--base4);
	display: inline-block;
	font-size: m(.5);
	text-align: center;
	margin-right: $a1;
    white-space: nowrap;
    overflow: hidden;
}

.ptr-item .ptr-item-actions-end{
	flex-grow: 2;
	display: flex;
	justify-content: flex-end;
}

.ptr-item .ptr-item-actions-start{
	display: flex;
	justify-content: flex-end;
}

.ptr-item .ptr-order-placeholder{
	width: $a1;
	height: $a1;
}


/* SPECIFIC OPTIONS PASSED AS PROPS */
.ptr-item.ptr-option-add{
	border-style: dashed;
	background: none;
}
