@import '../../../../styles/variables';

.ptr-docs-page {
  display: flex;
  min-height: 100%;
}

.ptr-docs-nav {
  background: var(--base20);
  min-width: 12rem;
}

.ptr-docs-content {
  display: flex;
  flex: 1;
}

.ptr-docs-panel {
  flex: 1;
  padding: m(1);
  background: var(--base0);
}

.ptr-docs-panel-section {
  margin-bottom: m(1);
}

.ptr-docs-panel-section .ptr-button {
  margin: .2rem;
}

@media screen and (max-width: 60rem) {
  .ptr-docs-content {
    flex-direction: column;
  }
}