@import '~@gisatcz/ptr-core/lib/styles/_variables';

.ptr-docs-page {
  display: flex;
  min-height: 100%;
}

.ptr-docs-nav {
  background: var(--base20);
  min-width: 12rem;
}

.ptr-docs-content {
  display: flex;
  flex: 1;
}

.ptr-docs-content.forceColumns {
  flex-direction: column;
}

.ptr-docs-panel {
  flex: 1;
  padding: m(1) m(1) m(5);
  background: var(--base0);
}

.ptr-docs-panel-section {
  margin-bottom: m(1);
}

.ptr-docs-panel-section.inverted {
  background: var(--base100);
  padding: m(2/3) m(1/3);
  border-radius: .2rem;
}

.ptr-docs-panel-section .ptr-button {
  margin: .2rem;
}

@media screen and (max-width: 60rem) {
  .ptr-docs-content {
    flex-direction: column;
  }
}