.dataview-card {
	padding: .5rem;
	display: flex;
	background: white;
	border-radius: .2rem;
	border: 1px solid #ddd;
	border-bottom: 2px solid #ddd;
	border-top: 1px solid #e7e7e7;
	min-width: 35rem;
	margin: .3rem;
	flex-basis: 32%;
}
.dataview-card-preview {
	align-self: center;
	flex-basis: 6rem;
	height: 6rem;
}
.dataview-card-text {
	flex: 1;
	padding: 0 2rem 0 .8rem;
}
.dataview-card-text > h3 {
	font-size: 1.1rem;
	color: rgb(70,75,80);
	font-weight: 600;
	margin-bottom: .2rem;
}
.dataview-card-text > p {
	font-size: .85rem;
	color: rgb(140,145,150);
}
.dataview-card-tools {
	flex-basis: 7rem;
	height: 100%;
	align-self: center;
	align-items: flex-end;
	display: flex;
	flex-direction: column;
}
.dataview-card-buttons {
	text-align: right;
	padding: .3rem .2rem 0 0;
	flex: 1;
}
.dataview-card-icons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 1.2rem;
}
.dataview-card-icons .fa {
	border-radius: .1rem;
	width: 1.8rem;
	height: 1.8rem;
	font-size: 1.15rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(90,95,100);
	cursor: pointer;
	transition: background .3s ease-in-out;
}
.dataview-card-icons .fa.fa-pencil-square-o {
	padding-top: .1rem;
	padding-left: .1rem;
}
.dataview-card-icons .fa:hover {
	background: rgba(70,75,80,.15);
}
.dataview-card-icons .fa.disabled {
	color: rgb(200,205,210);
	pointer-events: none;
}