@import '~@gisatcz/ptr-core/src/styles/_variables';

.ptr-go-to-place-box {
	width: 12rem;
}

.ptr-go-to-place-box > .ptr-input-text {
	border: 1px solid var(--accent55);
}

.ptr-go-to-place-box > .ptr-input-text input::placeholder {
	color: rgba(var(--base50rgb),.8);
}

.ptr-go-to-place-box > .ptr-input-text > .ptr-icon {
	width: 1.25rem;
	margin-right: .25rem;
}
.ptr-go-to-place-box > .ptr-input-text > .ptr-icon .line {
	fill: var(--accent55);
}
.ptr-go-to-place-box > .ptr-input-text.focus > .ptr-icon .line {
	fill: var(--accent55);
}