@import '../../../../styles/variables';

.rotate-needle-control i {
	/*transition: all .2s ease-in-out;*/
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/*#rotate-needle-control:hover i {*/
/*transform: rotate(-45deg);*/
/*}*/

.tilt-control button {
	/*	overflow: hidden;*/
	background-position: center center;
	background-size: 1.2rem;
	background-repeat: no-repeat;
}