.scenario-card {
	background: #fff;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	border-radius: 2px;
	margin-bottom: .5rem;
	position: relative;
	transition: box-shadow .3s ease-in-out, border-color .3s ease-in-out;
}
.scenario-card-overlay {
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	right: 0;
	background: rgba(210,214,220,.85);
}
.scenario-card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: background .3s ease-in-out;
}
.scenario-card-header > label {
	display: flex;
}
.scenario-card-header-checkbox {
	width: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.scenario-card-header-title {
	flex: 1;
}
.scenario-card.not-created .scenario-card-header-title {
	padding-left: .7rem;
}
.scenario-card-header-buttons {
	padding: 0 .3rem;
}
.scenario-card-body {
	padding: 0 .5rem .5rem;
	/*border-top: 1px dashed #aaa;*/
}
.scenario-card-body-buttons {
	padding: .7rem 0;
}
.scenario-card-footer-buttons {
	margin: .5rem 0 1rem .7rem;
}
.scenario-card-footer-buttons > .ptr-button {
	margin: 0 .5rem 0 0;
}

/* loader */
.loading-screen-content-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loading-screen-content {
	display: flex;
	align-items: center;
}

.scenario-card .process-result-message {
	margin: .5rem .3rem;
}

/* todo move to separate component*/
.process-result-message {
	border: 1px solid;
	font-size: .9rem;
	padding: .5rem;
	margin: .5rem 0;
}
.process-result-message.success {
	color: rgb(60,118,61);
	background-color: rgb(223,240,216);
	border-color: rgb(140,168,135);
}
.process-result-message.error {
	color: rgb(169,68,66);
	background-color: rgb(242,222,222);
	border-color: rgb(209,148,148);
}

/* todo move to separate component style sheet */
/* A loader
Apache license 2.0, Copyright (c) 2015 Tom Adamec */
.b-loader-container, .b-loader-container * {
	box-sizing: border-box;
}
.b-loader-container {
	width: 70px;
	height: 70px;
	font-size: 70px;
}
.b-loader-text {
	margin-left: .7rem;
	font-size: .9rem;
	color: #444;
}
.b-loader-container.extra-small {
	width: 25px;
	height: 25px;
	font-size: 25px;
}
@keyframes b-loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.b-loader-container i {
	width: 1em;
	height: 1em;
	position: absolute;

	border-style: solid;
	border-width: 4px;
	border-color: transparent;
	border-radius: 999%;
}
.b-loader-container i.i1 {
	animation: b-loader 1500ms linear infinite;
	border-top-color: rgba(255,80,60,.4);
	/*border-top-color: rgba(0,0,0,.2);*/
}
.b-loader-container i.i2 {
	animation: b-loader 1300ms linear infinite;
	border-top-color: rgba(50,255,50,.7);
	/*border-top-color: rgba(255,255,255,.35);*/
}
.b-loader-container i.i3 {
	animation: b-loader 1100ms linear infinite;
	border-top-color: rgba(100,160,255,.5);
	/*border-top-color: rgba(0,0,0,.3);*/
}
.b-loader-container i.i4 {
	animation: b-loader 1700ms linear infinite;
	/*border-top-color: rgba(255,255,0,.6);*/
	border-top-color: rgba(245,245,0,.6);
	/*border-top-color: rgba(255,255,255,.45);*/
}
.b-loader-container.grayscale i.i1 {
	border-top-color: rgba(0,0,0,.3);
}
.b-loader-container.grayscale i.i2 {
	border-top-color: rgba(0,0,0,.45);
}
.b-loader-container.grayscale i.i3 {
	border-top-color: rgba(0,0,0,.375);
}
.b-loader-container.grayscale i.i4 {
	border-top-color: rgba(0,0,0,.575);
}
/* A loader end */

