#categorize-settings {
	width: 40rem;
	height: 35rem;
}

.categorize-body {
	padding: 0 .5rem;
}
.categorize-body input {
	border: 1px solid #bbb;
	border-radius: .15rem;
	color: #555;
	background: rgba(255,255,255,.9);
	line-height: 1.8;
	padding-left: .2rem;
}
.categorize-footer {
	padding: 0 .5rem;
}
.category-set-box {
	border: 1px dashed #ccc;
	background: rgba(255,245,246,1);
	margin: 1rem 0;
}
.category-set-box-header {
	display: flex;
	padding: .7rem .5rem;
	background: rgba(255,190,190,1);
}
.category-set-box-header > div {
	margin: 0 .2rem;
}
.category-set-box-header .category-set-name {
	flex: 1 0 50%;
}
.category-set-box-header .category-set-name input {
	width: 15rem;
	font-size: 1rem;
}
.category-set-box-header .save-category-set,
.category-set-box-header .delete-category-set {
	cursor: pointer;
	max-width: 8rem;
	flex-basis: 25%;
	line-height: 2.5;

}
.category-box {
	 border-top: 1px solid #e7e7e7;
	 display: flex;
	 padding: .5rem;
}
.category-box > div {
	margin: 0 .2rem;
}
.category-box .category-name {
 	flex: 1 0 30%;
}
.category-box .category-color {
	flex-basis: 30%;
}

.category-box .save-category,
.category-box .delete-category {
	cursor: pointer;
	flex-basis: 4%;
	max-width: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.category-box .fa {
	color: #777;
	font-size: 1.15rem;
	transition: color .3s ease-in-out;
}
.category-box .delete-category:hover .fa,
.category-box .save-category:hover .fa {
	color: #555;
}
