#placeholder-evaluation-widget {
    display: block;
}

/* = Evaluation floater = */
#floater-evaluation-widget {
    left: 16rem;
    top: 10rem;
}

#floater-evaluation-widget .floater-body {
    padding: .5rem;
    height: calc(100% - 7rem);
    overflow: auto;
}
#floater-evaluation-widget .floater-footer {
    height: 5.5rem;
}

#evaluation-confirm {
    width: 50%;
}

.widget-button-export:before {
    height: 100%;
    width: 100%;
    margin-right: 5px;
    position: relative;
    top: 3px;
}

#export-shp:before {
    content: url('../../../../img/map.png');
}
#export-shp[disabled=disabled]:before {
    content: url('../../../../img/map-disabled.png');
}
#export-csv:before {
    content: url('../../../../img/table.png');
}
#export-csv[disabled=disabled]:before {
    content: url('../../../../img/table-disabled.png');
}