#placeholder-evaluation-widget {
    display: block;
}

/* = Evaluation floater = */
#floater-evaluation-widget {
    left: 16rem;
    top: 10rem;
    min-width: 22rem;
}

#floater-evaluation-widget .floater-body {
    height: calc(100% - 7rem);
    padding: 0 0 .5rem;
}

#floater-evaluation-widget .floater-footer {
    height: 5.5rem;
}

/* floater body */
#floater-evaluation-widget .floater-body > div:nth-child(odd) {
    padding: .5rem;
}

#floater-evaluation-widget .floater-body > div:nth-child(even){
    padding: .5rem;
    background: rgba(200,200,200,.1);
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}

#floater-evaluation-widget .floater-row.slider-box,
#floater-evaluation-widget .floater-row.checkbox-row,
#floater-evaluation-widget .floater-row.select-menu-box
{
    margin: 0;
}

/* Footer */

#evaluation-confirm, #evaluation-unselect {
    font-size: .7rem;
    margin: 0 .1rem;
    width: 47%;
}
#evaluation-confirm[disabled=disabled], #evaluation-unselect[disabled=disabled] {
    pointer-events: none;
    color: #ccc;
    background: #eee;
}

.widget-button-export:before {
    height: 100%;
    width: 100%;
    margin-right: 5px;
    position: relative;
    top: 3px;
}

#export-shp:before {
    content: url('../../../../img/map.png');
}
#export-shp[disabled=disabled]:before {
    content: url('../../../../img/map-disabled.png');
}
#export-csv:before {
    content: url('../../../../img/table.png');
}
#export-csv[disabled=disabled]:before {
    content: url('../../../../img/table-disabled.png');
}