@import '~@gisatcz/ptr-core/lib/styles/_variables';
@import '~@gisatcz/ptr-components/dist/style.css';
@import '~@gisatcz/ptr-charts/dist/style.css';
@import '~@gisatcz/ptr-maps/dist/style.css';
@import '~@gisatcz/ptr-atoms/dist/style.css';
@import '~@gisatcz/ptr-core/dist/style.css';

.demo-app {
	width: 100%;
	height: 100%;
	display: flex;
	background: var(--base0);
}

.demo-maps {
	height: 100%;
	flex-grow: 1;
}

.demo-control-panel {
	height: 100%;
	width: 40%;
	min-width: 20rem;
	padding: 0 2rem;
}