@import '../../../styles/variables';

.demo-app {
	width: 100%;
	height: 100%;
	display: flex;
	background: var(--base0);
}

.demo-maps {
	height: 100%;
	flex-grow: 1;
}

.demo-control-panel {
	height: 100%;
	width: 40%;
	min-width: 20rem;
	padding: 0 2rem;
}