.views-window .ptr-window-content {
	padding-top: 1px;
	position: relative;
	background: none;
	height: calc(100% - 2.3rem);
}
.views-window .ptr-window-content .ptr-views-list {
	position: absolute;
	background: rgba(235,235,235,.95);
}