$lightAccent0: hsl(40,100%,99.41%);
$lightAccent5: hsl(84.3,38.2%,95.88%);
$lightAccent10: hsl(91.12,37.01%,93.24%);
$lightAccent15: hsl(94.61,36.37%,90.27%);
$lightAccent20: hsl(97.14,35.85%,86.26%);
$lightAccent25: hsl(99.09,35.37%,80.99%);
$lightAccent30: hsl(100.73,34.9%,74.32%);
$lightAccent35: hsl(102.27,34.43%,66.49%);
$lightAccent40: hsl(103.94,33.98%,57.76%);
$lightAccent45: hsl(105.96,35.72%,48.5%);
$lightAccent50: hsl(108.65,53.23%,38.78%);
$lightAccent50rgb: 66, 152, 46;
$lightAccent55: hsl(109.6,63.15%,32.09%);
$lightAccent60: hsl(108.88,60.45%,28.28%);
$lightAccent65: hsl(108.12,57.87%,24.93%);
$lightAccent70: hsl(107.35,55.46%,22.09%);
$lightAccent75: hsl(106.58,53.2%,19.7%);
$lightAccent80: hsl(105.77,50.98%,17.6%);
$lightAccent85: hsl(104.78,48.42%,15.46%);
$lightAccent90: hsl(103.21,44.67%,12.85%);
$lightAccent95: hsl(95.11,41.39%,8.88%);
$lightAccent100: hsl(45,100%,0.87%);