/* === Sliders === */
.slider-box {
    margin: .5rem 0;
}

.slider-caption span {
    font-weight: bold;
    height: 1.2rem;
    line-height: 1.2rem;
}

.slider-row {
    min-width: 14.5rem;
    width: 90%;
    margin: .5rem .4rem .35rem .4rem;
}

.slider-row.ui-slider-horizontal {
    background: #ccc;
    border: 0;
    height: 4px;
    min-width: 14.5rem;
    width: 90%;
}

.slider-row.ui-slider-horizontal .ui-slider-handle {
    background: #c92d42;
    border: 0;
    border-radius: .5rem;
    top: -.45em;
    transition: background .3s ease-out;
}

.slider-row.ui-slider-horizontal .ui-slider-handle:hover, .slider-row.ui-slider-horizontal .ui-slider-handle.ui-state-focus {
    background: #ad2738;
}

.slider-row .ui-widget-header {
    border: 0;
    background: #c92d42;
}

.floater-row.slider-labels {
    font-size: .7rem;
    color: #999;
    padding: 0 .1rem;
    min-width: 15.2rem;
    width: calc(90% + .7rem);
}
.slider-labels-min {
    display: inline-block;
    position: relative;
    width: 50%;
}
.slider-labels-max {
    display: inline-block;
    position: relative;
    text-align: right;
    width: 50%;
}

.slider-popup {
    display: none;
    position: absolute;
    margin: -9rem .4rem 0 .4rem;
    min-width: 14.5rem;
    width: calc(90% - 1.2rem);
    height: 7rem;
    background: white;
    -webkit-box-shadow: 0 0 4px rgb(136, 136, 136);
    -moz-box-shadow: 0 0 4px rgb(136, 136, 136);
    box-shadow: 0 0 4px rgb(136, 136, 136);
    z-index: 8888;
}

.slider-popup.open {
    display: block;
}

.slider-popup-values {
    color: #666;
    font-size: .9rem;
    margin: .5rem auto;
    text-align: center;
}