/* === Sliders === */
.slider-box {
    padding-bottom: .7rem;
}

.slider-caption span {
    font-weight: bold;
    height: 1.2rem;
    line-height: 1.2rem;
}

.slider-row {
    min-width: 14.5rem;
    width: 90%;
    margin: .5rem .4rem .35rem .4rem;
}

.slider-row.ui-slider-horizontal {
    background: #ccc;
    border: 0;
    height: 4px;
    min-width: 14.5rem;
    width: 95%;
}

.slider-row.ui-slider-horizontal .ui-slider-handle {
    background: #c92d42;
    border: 0;
    border-radius: .5rem;
    top: -.45em;
    transition: background .3s ease-out;
}

.slider-row.ui-slider-horizontal .ui-slider-handle:hover, .slider-row.ui-slider-horizontal .ui-slider-handle.ui-state-focus {
    background: #ad2738;
}

.slider-row .ui-widget-header {
    border: 0;
    background: #c92d42;
}

.floater-row.slider-labels {
    font-size: .75rem;
    color: #666;
    padding: .2rem 0;
    min-width: 15.2rem;
    width: calc(95% + .7rem);
}
.floater-row.slider-labels > div {
    display: inline-block;
    position: relative;
    width: 25%;
    margin: 0 -3px 0 0;
}
.slider-thresholds {
    height: 1.2rem;
}
.slider-thresholds > input {
    background: rgba(255,255,255,.7);
    border: 1px solid #bbb;
    border-radius: 1px;
    padding: 0 .2rem;
    position: relative;
    margin: 0 2.5%;
    width: 95%;
}

.slider-thresholds > .input-max, .slider-labels-max {
    text-align: right;
}

.slider-popup {
    display: none;
    position: absolute;
    margin: -9.5rem .4rem 0 .4rem;
    min-width: 14.5rem;
    height: 7rem;
    background: white;
    -webkit-box-shadow: 0 0 4px rgb(136, 136, 136);
    -moz-box-shadow: 0 0 4px rgb(136, 136, 136);
    box-shadow: 0 0 4px rgb(136, 136, 136);
    z-index: 8888;
}

.slider-popup.open {
    display: block;
}