@import '~@gisatcz/ptr-core/src/styles/_variables';

$lightAccent0: hsl(40,100%,99.41%);
$lightAccent05: hsl(33.59,100%,97.44%);
$lightAccent10: hsl(32.86,100%,95.87%);
$lightAccent15: hsl(32.48,100%,94.1%);
$lightAccent20: hsl(32.22,100%,91.74%);
$lightAccent25: hsl(32.03,100%,88.59%);
$lightAccent30: hsl(31.89,100%,84.64%);
$lightAccent35: hsl(31.8,100%,79.95%);
$lightAccent40: hsl(31.78,100%,74.7%);
$lightAccent45: hsl(31.89,100%,69.03%);
$lightAccent50: hsl(32.26,100%,62.92%);
$lightAccent50rgb: 255,168,66;
$lightAccent55: hsl(33.4,92.25%,55.28%);
$lightAccent60: hsl(33.11,72.26%,48.19%);
$lightAccent65: hsl(32.84,69.99%,42%);
$lightAccent70: hsl(32.6,67.86%,36.77%);
$lightAccent75: hsl(32.39,65.86%,32.4%);
$lightAccent80: hsl(32.19,63.88%,28.56%);
$lightAccent85: hsl(31.97,61.57%,24.7%);
$lightAccent90: hsl(31.68,58.13%,20%);
$lightAccent95: hsl(31.46,51.64%,13.37%);
$lightAccent100: hsl(43.33,95.07%,0.91%);