.world-wind-map {
	position: relative;
	left: 0;
	height: 100%;
	width: 100%;
}
.world-wind-canvas {
	width: 100%;
	height: 100%;
}
.map-window-tools {
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
}

/* close button */
.close-map-button {
	background: rgba(80,87,94,.9);
	border-right: 1px solid rgba(214,213,219,.3);
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.5rem;
	height: 1.5rem;
	z-index: 1;
	transition: background .3s ease-in-out;
}
.close-map-icon {
	color: rgba(244,243,239,.9);
	font-size: .9rem;
	font-style: normal;
	transition: color .3s ease-in-out;
}
.close-map-button:hover {
	background: rgba(80,87,94,1);
}
.close-map-button:hover .close-map-icon {
	color: rgba(244,243,239,1);
}

/* period label */
.map-period-label {
	color: rgba(244,243,239,.9);
	background: rgba(80,87,94,.9);
	font-weight: 500;
	font-size: .9rem;
	height: 1.5rem;
	line-height: 1.5rem;
	padding: 0 .5rem;
}