/* triggers */
.map-tool-trigger {
	border-bottom: 1px solid #e0e3e7;
	cursor: pointer;
	display: flex;
	line-height: 1.5;
	transition: background .3s ease-in-out;
	padding: 0 .5rem;
}
.map-tool-trigger.hidden {
	display: none;
}
.map-tool-trigger:hover,
.map-tool-trigger.active {
	background: rgba(0,0,0,.07);
}
.map-tool-trigger-label {
	align-items: center;
	display: flex;
	flex: 1;
}
.map-tool-trigger-label-title {
	color: rgb(65,69,81);
	font-size: .9rem;
	font-weight: 400;
	padding: 0 .3rem;
}
/* tool icon */
.map-tool-icon {
	display: flex;
	margin: 0 .3rem;
	width: 1.3rem;
	justify-content: center;
}
.map-tool-icon .fa {
	font-size: 1rem;
	color: rgb(65,69,81);
}
.map-tool-icon-svg {
	flex: 1;
	height: 1.1rem;
}
#layers-info-icon {
	height: 1.3rem;
}
.map-tool-icon-svg path {
	fill: rgb(65,69,81);
}

/* icons container */
.map-tool-trigger-icons {

}

/* specific triggers */
#pucs-feature-info-trigger {
	padding-top: .25rem;
}