/* === Checkboxes === */
.checkbox-row a {
    text-decoration: none;
}

.checkbox-icon {
    display: block;
    float: left;
    margin: 0 .2rem;
    width: 1.2rem;
    height: 100%;
    transition: background .3s;
}
.checkbox-icon:before {
    content: "\f096";
    font-family: FontAwesome;
    font-size: 1rem;
}
.checkbox-row.checked .checkbox-icon:before {
    content: "\f046";
    color: rgb(153,54,75);
}

.checkbox-label {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    height: 100%;
    font-size: .8rem;
}