/* === Radiobox === */
.radiobox-icon {
	display: inline-block;
	margin: 0 .2rem;
	width: 1.2rem;
	height: 1.2rem;
	line-height: 1.2rem;
	transition: background .3s;
}
.radiobox-row .radiobox-icon:before {
	content: "\f1db";
	font-family: FontAwesome;
	font-size: 1rem;
}
.radiobox-row.checked .radiobox-icon:before {
	content: "\f058";
	color: rgb(186,65,91);
}

.radiobox-label {
	display: inline-block;
	font-weight: bold;
	height: 1.2rem;
	line-height: 1.2rem;
	font-size: .8rem;
}