/* === Radiobox === */
.radiobox-row.checked .radiobox-icon {
	background: url('../../../../../img/radio-checked.png') no-repeat center center;
}

.radiobox-icon {
	background: url('../../../../../img/radio-unchecked.png') no-repeat center center;
	display: inline-block;
	margin-right: .5rem;
	width: 1.2rem;
	height: 1.2rem;
	line-height: 1.2rem;
	transition: background .3s;
}

.radiobox-label {
	display: inline-block;
	font-weight: bold;
	height: 1.2rem;
	line-height: 1.2rem;
	font-size: .8rem;
}