.ptr-intro-geoinv-content {
	margin: 2rem;
	max-width: 50rem;
}

.ptr-intro-geoinv-content h3 {
	font-size: 1.25rem;
	margin-bottom: .3rem;
}

.ptr-intro-geoinv-content p {
	font-size: 1rem;
	margin-bottom: 1rem;
}