/* triggers */
.map-tool-trigger {
	border-bottom: 1px solid #ddd;
	cursor: pointer;
	display: flex;
	line-height: 1.7;
	transition: background .3s ease-in-out;
}
.map-tool-trigger:hover {
	background: rgba(0,0,0,.07);
}
.map-tool-trigger.active .map-tool-trigger-label-title {
	color: rgba(186,65,91,1);
}
.map-tool-trigger.active .map-tool-icon-svg path {
	fill: rgba(186,65,91,1);
}
.map-tool-trigger-label {
	align-items: center;
	display: flex;
	flex: 1;
}
.map-tool-trigger-label-title {
	color: rgb(65,69,81);
	font-size: .95rem;
	font-weight: 400;
	padding: 0 .3rem;
}
/* tool icon */
.map-tool-icon {
	display: flex;
	margin: 0 .3rem;
	width: 1.1rem;
}
.map-tool-icon-svg {
	flex: 1;
	height: 1.1rem;
}
.map-tool-icon-svg path {
	fill: rgb(106,110,120);
}

/* icons container */
.map-tool-trigger-icons {

}
