#floater-map-tools-widget {
	left: 17rem;
	top: 10rem;
	height: 12rem;
}

#floater-map-tools-widget .floater-body {
	height: calc(100% - 2.3rem);
}

.map-tools-triggers-container {
	display: flex;
	flex-direction: column;
}