.ptr-login-overlay {
	position: absolute;
	background: rgba(30,30,30,.95);
	color: #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100000;
	height: 100%;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	transition:
			opacity .3s ease-in-out;
}

.ptr-login-overlay.open {
	opacity: 1;
	pointer-events: all;
}

.ptr-login {
	width: 20rem;
	flex-grow:0;
}
.ptr-login > div {
	margin-bottom: .75rem;
}

.ptr-login .ptr-button {
	margin-right: .5rem;
}