.ptr-login-overlay {
	background: rgba(30,30,30,.95);
	color: #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100000;
}

.ptr-login {
	width: 20rem;
	height: 15rem;
	flex-grow:0;
}

.ptr-login-eosso {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 30rem;
	margin-bottom: 2rem;
	position: relative;
}

.ptr-login-eosso .ptr-button {
	font-size: 1.125rem;
	text-decoration: none;
	padding: .75rem 1.5rem;
	margin-top: 1rem;
	width: 20rem;
	text-align: center;
}

.ptr-login-divider {
	color: rgba(255,255,255,.3);
	font-size: 1rem;
	display: flex;
	align-items: center;
	margin-top: 2rem;
	width: 100%;
}
.ptr-login-divider::before,
.ptr-login-divider::after {
	content: "";
	flex: 1;
	height: 1px;
	background-color: rgba(255,255,255,.2);
}
.ptr-login-divider::before {
	left: 0;
	margin-right: .5rem;
}
.ptr-login-divider::after {
	margin-left: .5rem;
	right: 0;
}


.ptr-login > div {
	margin-bottom: .75rem;
}

.ptr-login .ptr-button {
	margin-right: .5rem;
}