@import '../../../../styles/variables';

.ptr-item,
a.ptr-item {
	display: flex;
	border-radius: .25rem;
	border: 2px solid $bo-accent3;
	background: $bo-accent-lighter0;
	margin-bottom: .875rem;
	padding: 0 .5rem;
	color: $accent8;
	position: relative;
}

a.ptr-item {
	cursor: pointer;
}

/* .ptr-item:hover,
a.ptr-item:hover {
	color: var(--accent7);
} */

.ptr-item .ptr-icon.hover:hover{
	color: var(--accent5);
}

.ptr-item span,
.ptr-item .option-id{
	line-height: 1.875rem;
}

.ptr-item:hover {
	border-color: $accent5;
}


.ptr-item .label{
	display: flex;
	margin-left: 0.5rem;
}

.ptr-item .option-id{
	color: var(--base4);
	display: inline-block;
	font-size: .75rem;
	text-align: center;
	margin-right: 1ch;
	text-overflow: ellipsis;
    max-width: 8ch;
    white-space: nowrap;
    overflow: hidden;
}

.ptr-item .ptr-item-actions-end{
	flex-grow: 2;
	display: flex;
	justify-content: flex-end;
}

.ptr-item .ptr-item-actions-start{
	display: flex;
	justify-content: flex-end;
}

.ptr-item .ptr-order-placeholder{
	width: 16px;
	height: 16px;
}


/* SPECIFIC OPTIONS PASSED AS PROPS */
.ptr-item.ptr-option-add{
	border-style: dashed;
	background: none;
}
