.ptr-select-container .ptr-select__control {
	display: flex;
	border-radius: .25rem;
	border: 2px solid var(--base4);
	background: var(--base3);
	margin-bottom: .875rem;
	padding: 0 .5rem;
	color: var(--base6);
	position: relative;
	line-height: 1.875rem;
	min-height: 1rem;
}

.ptr-select-container .ptr-select__control.ptr-select__control--menu-is-open {
	box-shadow: none;
	border-color: var(--accent5);
}

.ptr-select-container .ptr-select__value-container {
	padding-top: 0px;
	padding-bottom: 0px;
}
.ptr-select-container .ptr-select__value-container > div {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.ptr-select-container .ptr-select__control:hover {
	border-color: var(--accent4);
}

.ptr-select-container .ptr-select__indicator-separator {
	background-color: var(--base6);
	margin-bottom: 4px;
    margin-top: 4px;
}

.ptr-select-container .ptr-select__dropdown-indicator {
	color: var(--base6);
	padding: 4px;
}

.ptr-select-container .ptr-select__placeholder {
	color: var(--base6);
}

.ptr-select-container .ptr-select__menu {
	margin-top: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.ptr-select-container .ptr-select__menu .ptr-select__menu-list {
	color: var(--base6);
}
.ptr-select-container .ptr-select__menu .ptr-select__option.ptr-select__option {
	cursor: pointer;
}
.ptr-select-container .ptr-select__menu .ptr-select__option.ptr-select__option--is-focused {
	background-color: var(--base2);
}