/* Table of contents
	HEADER
	CONTENT
*/

.ptr-window {
	flex-direction: column;
	z-index: 80000;
}

/* === HEADER ================== */
.ptr-window-header {
	background: rgba(153,54,75,.9);
	display: flex;
	cursor: move;
	height: 2.3rem;
}
.ptr-window-title {
	line-height: 2.4rem;
	font-size: 1rem;
	flex: 1;
	color: #eee;
	padding: 0 .5rem;
}
.ptr-window-tools {
}
.ptr-window-tool {
	cursor: pointer;
	width: 2rem;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #eee;
	transition: background .3s ease-in-out;
}
.ptr-window-tool:hover {
	background: rgba(255,255,255,.2);
}
.ptr-window-tool.window-close {
	font-size: 1rem;
	font-weight: 600;
}

/* === CONTENT ================= */
.ptr-window-content {
	background: rgba(255,255,255,.9);
	flex: 1;
}