.ptr-snapshot-card {
	margin: 0 1rem 1rem 0;
	border: 1px solid #bbb;
	box-shadow: 1px 1px 1px 1px rgba(33,38,53,.2);
	width: 16rem;
	height: 10rem;
	background-size: cover;
	border-radius: .2rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.ptr-snapshot-card-content {
	background: rgba(33,38,53,.95);
	border-radius: 0 0 .2rem .2rem;
}
.ptr-snapshot-card-name {
	color: rgba(168,172,180,1);
	font-size: 1rem;
	padding: .5rem .5rem 0 .5rem;
}
.ptr-snapshot-card-tools {
	display: flex;
	justify-content: flex-end;
	padding-right: .3rem;
}
.ptr-snapshot-cart-tool {
	padding: .2rem .4rem;
}
.ptr-snapshot-cart-tool .ptr-icon {
	width: 1.35rem;
	cursor: pointer;
}
.ptr-snapshot-cart-tool .ptr-icon .polygon,
.ptr-snapshot-cart-tool .ptr-icon .line {
	stroke: rgba(168,172,180,1);
	transition: .3s stroke ease-in-out;
}
.ptr-snapshot-cart-tool:hover .ptr-icon .polygon,
.ptr-snapshot-cart-tool:hover .ptr-icon .line {
	stroke: white;
}