<div id="{{id}}" class="{{classes}} floating-window">
	<div class="feature-info-window-header">
		<div class="feature-info-title">{{featureName}}</div>
		<div class="feature-info-close">
			<img title="Close" src="__new/img/close.png">
		</div>
		<div class="feature-info-settings">
			<img title="Settings" src="__new/img/settings-gray.png">
		</div>
	</div>
	<div class="feature-info-window-body">
	</div>
	<div class="feature-info-window-footer">
		<div class="floater-row">
			<div class="widget-button widget-button-export" id="export-feature-info-csv">{{exportToXls}}</div>
		</div>
	</div>
	<div class="overlay"></div>
</div>