<div id="{{id}}">
	<div class="feature-info-window-header">
		<div class="feature-info-title">Feature name (GID)</div>
		<div class="feature-info-close">
			<img title="close-button" src="__new/img/close.png">
		</div>
	</div>
	<div class="feature-info-window-body">
		<table>
		</table>
	</div>
	<div class="feature-info-window-footer">
		<div class="floater-row">
			<div class="widget-button widget-button-export" id="export-feature-info-csv">Export to XLS</div>
		</div>
	</div>
	<div class="overlay"></div>
</div>