<div class="tools-buttons-container">
	<div id="feature-info" class="tool">Info</div>
</div>
<div id="feature-info-window">
	<div class="feature-info-window-header">Feature name (GID)</div>
	<div class="feature-info-window-body">
		<table>
			<tr>
				<td>Population: </td>
				<td>666,666</td>
			</tr>
			<tr>
				<td>Population over 65: </td>
				<td>76,566</td>
			</tr>
			<tr>
				<td>Area (km2): </td>
				<td>4,725.03</td>
			</tr>
			<tr>
				<td>Flooding zone Q20: </td>
				<td>True </td>
			</tr>
			<tr>
				<td>Flooding zone Q100: </td>
				<td>False </td>
			</tr>
			<tr>
				<td>Country: </td>
				<td>Czech Republic </td>
			</tr>
		</table>
	</div>
</div>