/* .satellite-selector {
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    position: absolute;
    left:0;
    top:0;
    bottom:10px;
    font-size: 14px;
    bottom: 170px;
} */

.timelineWrapper.vertical .ptr-timeline-container{
    height: 100%;
}

.timelineWrapper.horizontal .ptr-timeline-container{
    width: 100%;
}

.ptr-timeline-content {
    width: 100%;
    z-index: 1000;
    line-height: 0.6rem;
    /* background: rgba(197, 197, 197, 0.38); */
    background:rgba(126, 125, 125, 0.13);
    transform: translate3d(0,0,0);
    user-select: none;
}

g.ptr-timeline-year,
.ptr-timeline-year > line,
g.ptr-timeline-month,
g.ptr-timeline-month > line,
g.ptr-timeline-day,
g.ptr-timeline-hour,
g.ptr-timeline-hour > line,
g.ptr-timeline-minute,
g.ptr-timeline-minute > line{
    stroke: #FFFF;
}