/* BASICS */
html, body {
	height: 100%;
	width: 100%;
}

body, body.x-body {
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	background: #e5e3df;
}

body.application {
	background-image: none;
}

a {
	text-decoration: none;
	color: #999;
}

a:hover, a:focus {
	text-decoration: underline;
}

strong {
	font-weight: bold;
}

#loading-mask-shim, #loading-mask {
	display: none;
	position: absolute;
	z-index: 1000000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#loading-mask-shim {
	background: #666;
	opacity: .5;
	filter: Alpha(opacity=50);
}

#loading-mask {
	background: url("../images/loading-mask.gif") no-repeat 50% 50%;
	/*        background           : url("../images/loading.gif") no-repeat 50% 50%;*/
}

/* LAYOUT */
#main {
	width: 100%;
	height: 100%;
	padding: 0; /* useWBHeader, useHeader and useWBfooter toggle default */
	position: relative;
}

body.application #main {
	padding-top: 25px; /* useWBHeader, useHeader and useWBfooter toggle default */
}

/* Maps */
#map-holder .map {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#map-holder .map .map-label {
	display: none;
}

#map-holder #app-map2 {
	display: none;
}

#map-holder.split .map {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 50%;
	float: left;
	border-right: 1px solid #333;
}

#map-holder.split #app-map2 {
	display: block;
	float: right;
	border-left: 1px solid #333;
	border-right: 0;
}

#map-holder.split .map .map-label {
	display: block;
}

/* WB header */
#wb-header {
	font-family: arial, verdana, sans-serif;
	font-size: 12px;
	color: #fff;
	width: 100%;
	line-height: 25px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 10px;
	background: #333;

	border-bottom: 0 solid #222; /* useWBHeader toggle default */
	display: none; /* useWBHeader toggle default */
	height: 0; /* useWBHeader toggle default */
}

#wb-header a {
	color: #fff;
	background: #2b292a url("../images/WB-LOGO-EN.gif") no-repeat 0 0;
	padding-left: 30px;
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	width: 390px;
	height: 40px;
}

#wb-header a span {
	display: none;
}

#wb-header a:hover, #wb-header a:focus {
	text-decoration: none;
}

/* Header */
#header {
	/* font-family: arial, verdana, sans-serif; */
	text-transform: uppercase;
	line-height: 30px;
	background: #4d5146 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAC1JREFUeNpiiIkPZWJgYGD6//8/mP73/x+YhuH///7jlIfJESP+7x+KuQABBgDF4B8flBhaWQAAAABJRU5ErkJggg==) repeat-x 0 0;
	color: #fff;
	font-weight: bold;
	position: absolute;
	top: 0; /* useWBHeader toggle default */
	left: 0;
	width: 100%;
	display: none; /* useHeader toggle default */
	height: 0; /* useWBHeader toggle default */
}

#header h1 {
	display: inline-block;
	margin: 0;
	font-size: 21px;
	line-height: 50px;
	font-weight: 600;
	padding-right: 1rem;
	color: rgb(224,227,231);
	/* height: 45px; */
}
body.intro #header h1 {
	display: none;
}

#header a {
	padding: 0 10px;
	display: inline-block;
	color: #fff;
	text-decoration: none;
}

#header a:hover, #header a:focus {
	text-decoration: underline;
}

#header .home {
	height: 28px;
	width: 28px;
	position: absolute;
	left: 7px;
	top: 0;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGhJREFUeNrEkuEKgDAIhHX42v3xxa9GBSHzlPrRgWxMvxubKgB5q1HknWbnzUk4TnlWU4FgBgyUsHoFRxDMoAOmBl1waWBXO7YjdH5+0To86zQMSWdi9N5YpygzHfJB/8FG3lme7wIMACT0O5C4xmFCAAAAAElFTkSuQmCC) no-repeat 50% 50%;
}

#header .home:hover, #header .home:focus {
	text-decoration: none;
}

#header .home span {
	display: none;
}

#header .menu {
	display: inline-block;
	margin: 8px 0 0 10px;
	vertical-align: top;
}

#header .menu li {
	float: left;
	position: relative;
}

#header .menu li a {
	padding: 0 15px;
}

#header .menu li:before {
	display: block;
	content: "";
	height: 15px;
	width: 1px;
	position: absolute;
	left: 0;
	top: 7px;
	background-color: #bbb;
}

body.intro #header .menu li:first-child a {
	padding-left: 0;
}
body.intro #header .menu li:first-child::before {
	display: none;
}

#help-link {
	display: none; /* usePumaHelp toggle default */
}

#downloads-link {
	display: none; /* useDownloadsLink toggle default */
}

#legacy-view-selector .user {
	position: absolute;
	top: 0;
	right: 0;
	text-transform: uppercase;
	margin-top: 10px;
	font-size: 15px;
	margin-right: 10px;
	z-index: 1;
}

#legacy-view-selector .user .sep {
	display: inline-block;
	height: 12px;
	width: 1px;
	background-color: #6f6e75;
	position: relative;
	top: 1px;
}

#legacy-view-selector .user .login {
	display: inline-block;
}

/* Content */
.map {
	width: 100%;
	height: 100%;
	position: relative;
}

.map .map-label {
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .7);
	-ms-box-shadow: 0 0 2px rgba(0, 0, 0, .7);
	box-shadow: 0 0 2px rgba(0, 0, 0, .7);
	position: absolute;
	top: 5px;
	right: 5px;
	border-radius: 3px;
	background: #fff;
	padding: 2px 5px;
	z-index: 1000;
	color: #666;
	font-family: "Open sans";
	font-size: 12px;
	font-weight: bold;
}

#app-map2.map .map-label {
	right: auto;
	left: 5px;
}

.map .cursor {
	width: 10px;
	position: absolute;
	z-index: 10000;
}

#content-intro, #content-intro-guide, #content-intro-terms, #content-application {
	display: none;
	position: absolute;
	z-index: 10000;
}

body.intro #content-intro, body.intro #content-intro-guide, body.intro #content-intro-terms, body.application #content-application {
	display: block;
	border: 0;
}

body.dataview #content-intro-terms,
body.intro #content-intro-terms {
	display: none; /* useWBAgreement toggle default */
	z-index: 1000000;
}

/* Fields */
.fields-holder {
	background-color: #434254;
	color: #fff;
}

.fields-holder > .label {
	width: 300px;
	height: 69px;
	padding-left: 81px;
	/* background       : url("../images/project-logo.png") no-repeat 0 8px; /* usePumaLogo toggle default */
	line-height: 38px;
	font-size: 1.9rem;
	font-weight: 700;
	float: left;
	text-transform: uppercase;
}

.fields-holder > .fields {
	float: left;
	margin-left: 25px;
}

.fields-holder .group {
	width: 245px;
	float: left;
	margin-left: 5px;
}

.fields-holder .group:first-child {
	margin-left: 0;
}

.fields-holder .field {
	height: 30px;
	display: inline-table;
	margin-top: 10px;
}

.fields-holder .field:first-child {
	margin-top: 0;
}

.fields-holder .field > .label {
	display: table-cell;
	text-align: right;
	vertical-align: middle;
	padding-right: 10px;
	color: #c8bfc7;
	font-family: "Open sans";
	font-weight: bold;
	font-size: 12px;
	width: 70px;
}

.fields-holder .field > .widget {
	display: table-cell;
	vertical-align: middle;
	width: 150px;
	height: 30px;
	line-height: 30px;
}

.fields-holder .field > #app-legacy-view-selector-visualization, .fields-holder .field > #app-legacy-view-selector-theme {
	width: 180px;
}

.fields-holder .field > .widget .x-btn,
.fields-holder .field > .widget .x-field {
	vertical-align: top;
}

#legacy-view-selector .help-label, #legacy-view-selector .app-legacy-view-selector-help {
	display: none; /* usePumaHelp toggle default */
}

/* Intro */
#content-intro {
	background-color: #434254;
	background-color: rgba(67, 66, 84, .9);
	color: rgba(204,207,211,1);
	top: 125px;
	padding: 20px;
	width: 860px;
}

#content-intro-guide {
	font-family: "Open Sans", sans-serif !important;
	font-size: 12px;
	background-color: #3c3b38;
	background-color: rgba(60, 59, 56, .9);
	color: #fff;
	top: 280px;
	right: 0;
	padding: 15px 20px;
	width: 730px;
}

#content-intro-terms {
	font-family: "Open Sans", sans-serif !important;
	font-size: 12px;
	background-color: #fff;
	background-color: rgba(255, 255, 255, .95);
	color: #000;
	margin: 0 auto;
	top: 100px;
	left: 520px;
	padding: 15px 20px;
	width: 530px;
	height: 594px;
	text-align: justify;
}

#content-intro-terms #agreement-detail {
	height: 316px;
	overflow: auto;
	padding: 10px;
	border: 1px solid #ddd;
}

#content-intro-terms #agreement-accept-chb {
	margin-left: 33px;
	height: 38px;
}

#content-intro-terms #agreement-accept-chb label {
	font-weight: bold;

}

#content-intro-terms #agreement-btns div {
	float: right;
	background-color: #ff0000;
	height: 30px;
	margin-left: 20px;
	width: 75px;
}

#content-intro-guide h2, #content-intro-terms h2 {
	font-size: 1.5rem;
	font-weight: 400;
	margin-top: 0;
	border-bottom: 1px solid #fff;
	margin-bottom: 10px;
}

#content-intro-terms h2 {
	border-bottom: 1px solid #000;
}

#content-intro-terms .list-margin {
	margin-left: 40px;
}

#content-intro-guide h3, #content-intro-terms h3 {
	font-size: 1.1rem;
	font-weight: 500;
	margin-bottom: .2rem;
}

#content-intro-guide p {
	margin-bottom: 15px;
	font-size: .8rem;
	font-weight: 400;
}

/* Application */
#content-application {
	top: 0; /* useWBHeader, useHeader toggle default */
	width: 100%;
}

#view-selector {
	width: 100%;
	height: 40px;
	background-color: #212635;
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 15px;
}

#view-selector > .group {
	display: inline-block;
	vertical-align: top;
	margin-top: 5px;
}

#view-selector .field {
	display: inline-block;
	/* width: 210px; */
	margin-right: 15px;
}

#view-selector .field > div {
	display: inline-block;
}

#view-selector .field .label {
	padding-right: 3px;
	vertical-align: top;
	line-height: 30px;
	color: rgba(168,172,180,1);
	font-family: "Open Sans", sans-serif;
	font-size: .85rem;
	font-weight: 500;
}


#app-view-selector-visualization-save, 
#app-view-selector-visualization-manage, 
#app-view-selector-period-compare {
	height: 23px;
	margin-top: 2px;
}

#app-view-selector-visualization-manage .x-btn-icon, #app-view-selector-manage .x-btn-icon {
	/*background: url(../images/new/settings.png) no-repeat 50% 50% !important;*/
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	line-height: 27px;
}
#app-view-selector-visualization-manage .x-btn-icon:before, #app-view-selector-manage .x-btn-icon:before {
	content: "\f013";
	font-family: "FontAwesome";
	font-size: 1.15rem;
	color: rgb(204,207,211);
}

#app-view-selector-save,
#app-view-selector-manage,
#app-view-selector-share,
#app-view-selector-visualization-save,
#app-view-selector-visualization-manage,
#app-view-selector-period-compare {
	height: 23px;
	line-height: 23px;
	width: 22px;
	vertical-align: top;
}

#app-view-selector-save .x-btn,
#app-view-selector-manage .x-btn,
#app-view-selector-share .x-btn,
#app-view-selector-visualization-save .x-btn,
#app-view-selector-visualization-manage .x-btn {
	background: rgba(255, 255, 255, .6);
}

#app-view-selector-visualization-save {
	width: auto;
}
#app-view-selector-period-compare {
	vertical-align: top;
	margin-left: 4px;
	width: 66px;

}
#app-view-selector-period-compare button,
#app-view-selector-period-compare button span {
	height: 23px!important; /* because Ext magic */
	line-height: 23px!important;
	font-size: .85rem;
	font-weight: 500;
	color: rgb(204,207,211);
}

#view-selector .timeline-labels {
	font-size: 10px;
	padding-left: 2px;
	margin-bottom: -5px;
}

#view-selector .timeline-labels > span {
	margin-bottom: -5px;
}

#view-selector .field.period .widget .x-field .x-form-item-body {
	color: #eee;
	font-weight: 600;
}



#legacy-view-selector {
	width: 100%;
	height: 90px;
	background-color: #434254;
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 15px;
}

#legacy-view-selector > .label {
	margin-top: 5px;
	padding-top: 8px;
	line-height: 30px;
	font-size: 24px;
	width: 250px;
}

#legacy-view-selector .group {
	float: none;
	width: 850px;
	margin: 0;
}

#legacy-view-selector .group .field {
	vertical-align: middle;
	margin-top: 10px;
}

#legacy-view-selector .group .field.with-sep {
	/*			background       : url("../images/toolbar-group-border.png") repeat-y 100% 0;*/
}

#legacy-view-selector .dataview {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 150px;
	margin-top: 0;
}

#top-toolbar {
	position: absolute;
	left: 0;
	width: 100%;
	background: #f4f3ef;
	font-size: 0;

	top: 40px; /* useNewViewSelector toggle default */
	border-bottom: 0 solid #ddd; /* useTopToolbar toggle default */
	display: none; /* useTopToolbar toggle default */
	height: 0; /* useTopToolbar toggle default */
}
#top-toolbar > div {
	height: 30px;
	overflow: hidden;
}
#top-toolbar-features {
	margin-right: 100px; /* space for #top-toolbar-tools */
}
#top-toolbar-tools {
	position: absolute;
	top: 0;
	right: 0;
	width: 93px;
	text-align: right;
}
#top-toolbar-widgets {
	display: inline-block;
}

#top-toolbar .item {
	display: inline-block;
	position: relative;
	height: 100%;
	padding: 0 15px;
	line-height: 29px;
	font-size: .85rem;
	font-weight: 600;
	color: #444;
	transition:
		background .3s ease-in-out;
}
#top-toolbar .item.open {
    /* background: #ffe6e9; */
    background-color: #FCFCFA;
    color: rgba(186,65,91,1);
}
body.mode-3d #top-toolbar-3dmap {
	background-color: #FCFCFA;
}
body.mode-3d #top-toolbar-3dmap span:not(.world-wind-2d) {
    color: rgba(186,65,91,1);
}
#top-toolbar .item:not(.disabled) {
	cursor: pointer;
}
#top-toolbar .item:not(.disabled):hover {
	background: rgba(125,128,137,.2);
}
#top-toolbar .item.open:not(.disabled):hover {
	background: rgba(245,245,245,.75);
}
#top-toolbar .item.disabled {
	color: #bbb;
}
#top-toolbar .item.hidden {
	display: none;
}
#top-toolbar-features .item {
	border-right: 1px solid #ddd;
	padding-left: 40px;
}
#top-toolbar-tools .item {
	border-left: 1px solid #ddd;
}
#top-toolbar .item::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	font-family: 'FontAwesome';
	text-align: center;
	font-size: 18px;
	font-weight: 100;
	/* line-height: 29px; */
	color: #666;
}
#top-toolbar-features .item::before {
	left: 5px;
}
#top-toolbar .item.disabled::before {
	opacity: .5;
}

#top-toolbar .item#top-toolbar-3dmap::before {
	content: '\f0ac';
}
#top-toolbar .item#top-toolbar-osm::before {
	content: '\f1ad';
}
#top-toolbar .item#top-toolbar-layers::before {
	background: url('../images/icons/layers.svg') center center no-repeat;
}
#top-toolbar .item#top-toolbar-areas::before {
	content: '\f041';
}
#top-toolbar .item#top-toolbar-periods::before {
	content: '\f073';
}
#top-toolbar .item#top-toolbar-selections::before {
	background: url('../images/icons/selections.svg') center center no-repeat;
}
#top-toolbar .item#top-toolbar-selection-filter::before {
	content: '\f0b0';
}
#top-toolbar .item#top-toolbar-map-tools::before {
	content: '\f245';
	font-size: 16px;
}
#top-toolbar .item#top-toolbar-saved-views::before {
	content: '\f06e';
}
#top-toolbar .item#top-toolbar-custom-layers::before {
	background: url('../images/icons/layers-add.svg') center center no-repeat;
}

#top-toolbar .item#top-toolbar-snapshot::before {
	content: '\f030';
	font-size: 16px;
}
#top-toolbar .item#top-toolbar-share-view::before {
	content: '\f1e0';
}
#top-toolbar .item#top-toolbar-share-view.open::before {
	color: rgba(186,65,91,1);
}
#top-toolbar .item#top-toolbar-context-help::before {
	background: url('../images/icons/context-help.svg') center center no-repeat;
}

#top-toolbar .item#top-toolbar-snow-configuration::before {
	content: '\f085';
}


/* Sidebar tools */
#sidebar-tools {
	position: absolute;
	top: 40px;
	left: 0;
	width: 250px;
}

#sidebar-tools.hidden {
	left: -250px;
}

#app-tools-actions {
	height: 30px;
}

/* Sidebar reports */
#sidebar-reports {
	background: #e5e3df;
	position: absolute;
	top: 40px;
	width: 580px;
}

body.intro #sidebar-reports,
body.application #sidebar-reports.hidden {
	right: -580px;
}

body.application #sidebar-reports {
	right: 0;
}

/* Sidebar toggles */
#sidebar-tools-toggle,
#sidebar-reports-add,
#sidebar-reports-toggle {
	display: block;
	width: 21px;
	height: 30px;
	background-image: url("../images/sidebar-toggle-sprite.png");
	background-repeat: no-repeat;
	background-position: 0 -2px;
	position: absolute;
	left: -21px;
	top: 0;
	cursor: pointer;
}

#sidebar-reports-add {
	width: 21px;
	left: -21px;
	height: 21px;
	background-image: url("../images/icons/add.png");
	top: 30px;
	background-position: 0 0;
	background-color: #eee;
	background-size: 100% 100%;
}

#sidebar-tools-toggle {
	left: auto;
	right: -21px;
	background-position: -21px -2px;
}

#sidebar-reports.hidden #sidebar-reports-toggle {
	background-position: -21px 0;
}

#sidebar-reports.hidden #sidebar-reports-add {
	display: none
}

#sidebar-tools.hidden #sidebar-tools-toggle {
	background-position: 0 0;
}

/* Footer */
#footer {
	font-family: arial, verdana, sans-serif;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
	background-color: #f4f3ef;
	border-top: 0px solid #ddd;
	display: none; /* useWBFooter toggle default */
	height: 0; /* useWBFooter toggle default */
}

#footer a {
	text-decoration: none;
}

#footer ul,
#footer p {
/* 	margin-bottom: 5px; */
}

#footer ul:last-child,
#footer p:last-child {
/* 	margin-bottom: 0; */
}

#footer a:hover,
#footer a:focus {
	text-decoration: underline;
}

#footer-legal {
	margin: 0 10px;
	padding: 6px 0;
	font-size: 12px;
	color: #707070;
}

#footer-legal a {
	color: #999;
}

#footer-legal .contact {
	float: right;
	text-align: right;
}

#footer-legal p, #footer-legal ul {
	display: inline-block;
}

#footer-legal ul {
	overflow: hidden;
	vertical-align: top;
	margin-left: 7px;
}

#footer-legal ul li {
	display: inline-block;
	padding-left: 8px;
	margin-left: 4px;
	border-left: 1px solid #d2d2d2;
}

#footer-legal ul li:first-child {
/* 	padding-left: 0; */
	margin-left: 0;
/* 	border-left: none; */
}

/* Loading screen */
#loading-screen {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
	width: 100%;
	height: 100%;
	background: -webkit-radial-gradient(rgb(200, 200, 200), rgb(150, 150, 150)); /* For Safari 5.1 to 6.0 */
	background: -o-radial-gradient(rgb(200, 200, 200), rgb(150, 150, 150)); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(rgb(200, 200, 200), rgb(150, 150, 150)); /* For Fx 3.6 to 15 */
	background: radial-gradient(rgba(255, 255, 255, 1), rgba(230, 230, 230, 1));
}

#loading-screen-content-wrap {
	position: relative;
	width: 100%;
	height: 100%;
}

#loading-screen-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.6rem;
	font-weight: bold;
	color: #666;
}

/* SpinKit
The MIT License (MIT), Copyright (c) 2015 Tobias Ahlin */
.sk-cube-grid {
	width: 80px;
	height: 80px;
	margin: 100px auto;
}

.sk-cube-grid .sk-cube {
	width: 33%;
	height: 33%;
	background-color: #666;
	float: left;
	-webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
	animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
	0%, 70%, 100% {
		-webkit-transform: scale3D(1, 1, 1);
		transform: scale3D(1, 1, 1);
	}
	35% {
		-webkit-transform: scale3D(0, 0, 1);
		transform: scale3D(0, 0, 1);
	}
}

@keyframes sk-cubeGridScaleDelay {
	0%, 70%, 100% {
		-webkit-transform: scale3D(1, 1, 1);
		transform: scale3D(1, 1, 1);
	}
	35% {
		-webkit-transform: scale3D(0, 0, 1);
		transform: scale3D(0, 0, 1);
	}
}

/* SpinKit end */

/* A loader
Apache license 2.0, Copyright (c) 2015 Tom Adamec */
.a-loader-container, .a-loader-container * {
	box-sizing: border-box;
}
.a-loader-container {
	width: 70px;
	height: 70px;
	font-size: 70px;

	/*position: relative;*/

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.a-loader-container.small {
	width: 40px;
	height: 40px;
	font-size: 40px;
}
@keyframes a-loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.a-loader-container i {
	width: 1em;
	height: 1em;

	position: absolute;
	transform-origin: 50% 50%;

	border-style: solid;
	border-width: 4px;
	border-color: transparent;
	border-radius: 999%;
}
.a-loader-container i.i1 {
	animation: a-loader 1500ms linear infinite;
	border-top-color: rgba(255,80,60,.4);
	/*border-top-color: rgba(0,0,0,.2);*/
}
.a-loader-container i.i2 {
	animation: a-loader 1300ms linear infinite;
	border-top-color: rgba(50,255,50,.7);
	/*border-top-color: rgba(255,255,255,.35);*/
}
.a-loader-container i.i3 {
	animation: a-loader 1100ms linear infinite;
	border-top-color: rgba(100,160,255,.5);
	/*border-top-color: rgba(0,0,0,.3);*/
}
.a-loader-container i.i4 {
	animation: a-loader 1700ms linear infinite;
	/*border-top-color: rgba(255,255,0,.6);*/
	border-top-color: rgba(245,245,0,.6);
	/*border-top-color: rgba(255,255,255,.45);*/
}
.a-loader-container.blackandwhite i.i1 {
	border-top-color: rgba(0,0,0,.2);
}
.a-loader-container.blackandwhite i.i2 {
	border-top-color: rgba(255,255,255,.35);
}
.a-loader-container.blackandwhite i.i3 {
	border-top-color: rgba(0,0,0,.3);
}
.a-loader-container.blackandwhite i.i4 {
	border-top-color: rgba(255,255,255,.45);
}
/* A loader end */

@media screen and (max-width: 1300px) {
	#top-toolbar-features .item {
		padding-left: 34px;
		padding-right: 10px;
		font-size: .75rem;
	}
	#top-toolbar-features .item::before {
		left: 2px;
	}
}
@media screen and (max-width: 1050px) {
	#top-toolbar-features .item {
		height: 30px;
	}
	#top-toolbar-features .item.open {
		background: #ffffff;
	}
	#top-toolbar-features .item::before {
		left: 7px;
	}
	#top-toolbar-features .item span {
		display: none;
	}
}