/* useWBAgreement */
.toggle-useWBAgreement body.intro div#content-intro-terms {
	display: block;
}
.toggle-useWBAgreement body.dataview div#content-intro-terms {
	display: block;
}

/* useWBHeader */
.toggle-useWBHeader #wb-header {
	display: block;
	height: 40px;
	border-bottom-width: 1px;
}
.toggle-useWBHeader #main {
	padding-top: 42px;
}
.toggle-useWBHeader body.application #main {
	padding-top: 65px;
}
.toggle-useWBHeader #content-application {
	top: 40px;
}
.toggle-useWBHeader #maps-container {
	top: 40px;
}

/* useHeader */
.toggle-useHeader #header {
	display: flex;;
	height: 45px;
}
.toggle-useHeader #main {
	padding-top: 30px;
}
.toggle-useHeader body.application #main {
	padding-top: 70px;
}
.toggle-useHeader #content-application {
	top: 45px;
}
.toggle-useHeader #maps-container {
	top: 45px;
}

/* useHeader && useWBHeader */
.toggle-useWBHeader #header {
	top: 40px;
}
.toggle-useWBHeader.toggle-useHeader #main {
	padding-top: 70px;
}
.toggle-useWBHeader.toggle-useHeader body.application #main {
	padding-top: 110px;
}
.toggle-useWBHeader.toggle-useHeader #content-application {
	top: 85px;
}
.toggle-useWBHeader.toggle-useHeader #maps-container {
	top: 115px;
}

/* useLegacyViewSelector */
.toggle-useLegacyViewSelector body.application #main {
	padding-top: 90px;
}
.toggle-useLegacyViewSelector #sidebar-tools,
.toggle-useLegacyViewSelector #sidebar-reports {
	top: 105px;
}

/* useHeader && useLegacyViewSelector */
.toggle-useLegacyViewSelector.toggle-useHeader body.application #main {
	padding-top: 135px;
}
.toggle-useLegacyViewSelector.toggle-useHeader body.application #header h1 {
	display: none;
}
.toggle-useLegacyViewSelector.toggle-useHeader body.application #header .menu li:first-child a {
	padding-left: 0;
}
.toggle-useLegacyViewSelector.toggle-useHeader body.application #header .menu li:first-child::before {
	display: none;
}

/* useHeader && useWBHeader && useLegacyViewSelector */
.toggle-useLegacyViewSelector.toggle-useHeader.toggle-useWBHeader body.application #main {
	padding-top: 175px;
}

/* useTopToolbar */
.toggle-useTopToolbar #top-toolbar {
	display: block;
	height: 30px;
	border-bottom-width: 1px;
}
.toggle-useTopToolbar body.application #main {
	padding-top: 55px;
}
.toggle-useTopToolbar #sidebar-tools,
.toggle-useTopToolbar #sidebar-reports {
	top: 70px;
}
.toggle-useTopToolbar #maps-container {
	top: 70px;
}

/* useTopToolbar && hideSelectorToolbar*/
.toggle-useTopToolbar.toggle-useHeader.toggle-hideSelectorToolbar #top-toolbar {
	top: 0;
}
.toggle-useTopToolbar.toggle-useHeader.toggle-hideSelectorToolbar #sidebar-reports {
	top: 30px;
}
.toggle-useTopToolbar.toggle-useHeader.toggle-hideSelectorToolbar #maps-container {
	top: 75px;
}
.toggle-useTopToolbar.toggle-useHeader.toggle-hideSelectorToolbar body.application #main {
	padding-top: 60px;
}

/* useTopToolbar && useHeader */
.toggle-useTopToolbar.toggle-useHeader body.application #main {
	padding-top: 100px;
}
.toggle-useTopToolbar.toggle-useHeader #maps-container {
	top: 115px;
}

/* useTopToolbar && useWBHeader */
.toggle-useTopToolbar.toggle-useWBHeader body.application #main {
	padding-top: 95px;
}
.toggle-useTopToolbar.toggle-useWBHeader #maps-container {
	top: 110px;
}

/* useTopToolbar && useHeader && useWBHeader */
.toggle-useTopToolbar.toggle-useHeader.toggle-useWBHeader body.application #main {
	padding-top: 140px;
}
.toggle-useTopToolbar.toggle-useHeader.toggle-useWBHeader #maps-container {
	top: 155px;
}

/* useTopToolbar && useNewViewSelector */
.toggle-useTopToolbar.toggle-useLegacyViewSelector body.application #main {
	padding-top: 120px;
}
.toggle-useTopToolbar.toggle-useLegacyViewSelector #maps-container {
	top: 135px;
}
.toggle-useTopToolbar.toggle-useLegacyViewSelector #top-toolbar {
	top: 105px;
}
.toggle-useTopToolbar.toggle-useLegacyViewSelector #sidebar-tools,
.toggle-useTopToolbar.toggle-useLegacyViewSelector #sidebar-reports {
	top: 135px;
}

/* useTopToolbar && useNewViewSelector && useHeader */
.toggle-useTopToolbar.toggle-useLegacyViewSelector.toggle-useHeader body.application #main {
	padding-top: 165px;
}
.toggle-useTopToolbar.toggle-useLegacyViewSelector.toggle-useHeader #maps-container {
	top: 180px;
}

/* useTopToolbar && useNewViewSelector && useWBHeader */
.toggle-useTopToolbar.toggle-useLegacyViewSelector.toggle-useWBHeader body.application #main {
	padding-top: 160px;
}
.toggle-useTopToolbar.toggle-useLegacyViewSelector.toggle-useWBHeader #maps-container {
	top: 175px;
}

/* useTopToolbar && useNewViewSelector && useHeader && useWBHeader */
.toggle-useTopToolbar.toggle-useLegacyViewSelector.toggle-useHeader.toggle-useWBHeader body.application #main {
	padding-top: 205px;
}
.toggle-useTopToolbar.toggle-useLegacyViewSelector.toggle-useHeader.toggle-useWBHeader #maps-container {
	top: 220px;
}

.toggle-useTopToolbar #sidebar-tools {
	display: none;
}



/* useWBFooter */
.toggle-useWBFooter #footer {
	display: block;
	height: 27px;
	border-top-width: 1px;
}
.toggle-useWBFooter #main {
	padding-bottom: 108px;
}

/* useNewViewSelector */
#legacy-view-selector {
	display: none;
}
.toggle-useLegacyViewSelector #legacy-view-selector {
	display: block;
}
.toggle-useLegacyViewSelector #view-selector {
	display: none;
}

/* usePumaLogo */
.toggle-usePumaLogo .fields-holder > .label {
	background: url(../images/puma-logo.png) no-repeat 0 8px;
	padding-left: 81px;
}
.toggle-usePumaLogo #header h1 {
	background: url(../images/puma-logo.png) no-repeat 7px 4px;
	background-size: 14%;
	padding-left: 54px;
}

/* allowDownloadsLink */
.toggle-allowDownloadsLink #downloads-link {
	display: block;
}

/* allowPumaHelp */
.toggle-allowPumaHelp #help-link {
	display: inline;
}
.toggle-allowPumaHelp #legacy-view-selector .help-label, .toggle-allowPumaHelp #legacy-view-selector .app-legacy-view-selector-help {
	display: inline-block;
}
