<li data-orientation='centered' data-highlight="true">
	<h5>Let's take a quick tour through SnowPortal</h5>
	<div class="tourbus-buttons">
		<a href='#' class='button-ui button-ui-tourbus tourbus-stop'>Quit</a>
		<a href='#' class='button-ui button-ui-tourbus tourbus-next'>Next</a>
	</div>
</li>
<li data-el='#top-toolbar-snow-configuration' data-orientation='bottom' data-align='top'  data-highlight="true">
	<h5>Login & Configurations</h5>
	<p>Lorem ipsum lorem ipsum lorem ipsum</p>
	<div class="tourbus-buttons">
		<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-stop'>Quit</a>
		<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-next'>Next</a>
	</div>
</li>
<li data-el='#scope-config-area' data-iframe='#snow-iframe' data-orientation='top' data-highlight="true">
	<h5>Select Area</h5>
	<p>Lorem ipsum lorem ipsum lorem ipsum</p>
	<div class="tourbus-buttons">
		<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-stop'>Quit</a>
		<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-next'>Next</a>
	</div>
</li>
<li data-el='#scope-config-sensors' data-iframe='#snow-iframe' data-orientation='top'  data-highlight="true">
	<h5>Select Sensors</h5>
	<p>Lorem ipsum lorem ipsum lorem ipsum</p>
	<div class="tourbus-buttons">
		<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-stop'>Quit</a>
		<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-next'>Next</a>
	</div>
</li>
<li data-el='#scope-config-time-range' data-iframe='#snow-iframe' data-orientation='top'  data-highlight="true">
	<h5>Select Time Range</h5>
	<p>Lorem ipsum lorem ipsum lorem ipsum</p>
	<div class="tourbus-buttons">
		<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-stop'>Quit</a>
		<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-next'>Next</a>
	</div>
</li>
<li data-el='#overview-header-scenes' data-iframe='#snow-iframe' data-orientation='top'  data-highlight="true">
	<h5>Scenes dashboard</h5>
	<p>Lorem ipsum lorem ipsum lorem ipsum</p>
	<div class="tourbus-buttons">
		<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-stop'>Quit</a>
		<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-next'>Next</a>
	</div>
</li>
<li data-el='#overview-collections' data-iframe='#snow-iframe' data-orientation='top' data-highlight="true">
	<h5>Composites dashboard</h5>
	<p>Lorem ipsum lorem ipsum lorem ipsum</p>
	<div class="tourbus-buttons">
		<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-stop'>Quit</a>
		<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-next'>Next</a>
	</div>
</li>
<li data-el='#add-composites-button' data-iframe='#snow-iframe' data-orientation='left'  data-highlight="true">
	<h5>Add custom composites</h5>
	<p>Lorem ipsum lorem ipsum lorem ipsum</p>
	<div class="tourbus-buttons">
		<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-stop'>Quit</a>
		<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-next'>Next</a>
	</div>
</li>
<li data-el='#compare-composites-button' data-iframe='#snow-iframe' data-orientation='left'  data-highlight="true">
	<h5>Compare composites</h5>
	<p>Lorem ipsum lorem ipsum lorem ipsum</p>
	<div class="tourbus-buttons">
		<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-stop'>Quit</a>
		<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-next'>Next</a>
	</div>
</li>
<li data-el='.ptr-overview-collection .ptr-button' data-iframe='#snow-iframe' data-orientation='left'  data-highlight="true">
	<h5>Show composites for collection</h5>
	<p>Lorem ipsum lorem ipsum lorem ipsum</p>
	<div class="tourbus-buttons">
		<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-stop'>Quit</a>
		<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-next'>Show composites</a>
	</div>
</li>
<li data-el='#composites-list-header' data-iframe='#snow-iframe' data-orientation='bottom'  data-highlight="true">
	<h5>Composites list</h5>
	<ul>
		<li>AOI Coverage - ...</li>
		<li>Cloud-free coverage - ...</li>
		<li>Distribution of coverage - ...</li>
	</ul>
	<div class="tourbus-buttons">
		<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-stop'>Quit</a>
		<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-next'>Show on map</a>
	</div>
</li>
<li data-el='#composites .empty' data-iframe='#snow-iframe' data-orientation='bottom'  data-highlight="true">
	<h5>Select composite and show it on the map</h5>
	<p>Lorem ipsum lorem ipsum lorem ipsum</p>
	<div class="tourbus-buttons">
		<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-stop'>Quit</a>
		<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-next'>Show on map</a>
	</div>
</li>
<li data-el='#map-holder' data-orientation='left'  data-highlight="true">
	<h5>Explore composite on the map</h5>
	<p>Lorem ipsum lorem ipsum lorem ipsum</p>
	<div class="tourbus-buttons">
		<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-stop'>Start using SnowPortal</a>
	</div>
</li>