.component-button {
	background: transparent;
	border: 1px solid rgb(65,69,81);
	border-radius: .15rem;
	color: rgb(33,38,53);
	cursor: pointer;
	font-family: "Open Sans", sans-serif;
	line-height: 2rem;
	padding: 0;
	transition: background .3s ease-in-out, box-shadow .2s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
}
.component-button.hidden {
	display: none;
}
.component-button:hover,
.component-button:focus {
	background: rgba(65,69,81,.2);
}
.component-button:focus {
	box-shadow: 0 0 2px 1px rgba(55,125,166,1);
}
.component-button.text-small {
	line-height: 1.7rem;
}
.component-button.extra-large {
	line-height: 3rem;
	border-width: .1rem;
}

/* text */
.component-button span {
	font-size: .95rem;
	font-weight: 500;
	display: inline-block;
	padding: 0 1rem;
}
.component-button.has-icon span {
	padding: 0 1rem 0 0;
}
.component-button.text-centered span {
	text-align: center;
}
.component-button.text-small span {
	font-size: .85rem;
}
.component-button.extra-large span {
	font-size: 1.5rem;
}

/* icon */
.component-button .fa {
	color: rgb(65,69,81);
	font-size: 1rem;
	display: flex;
	width: 2rem;
	justify-content: center;
	align-items: center;
}
.component-button.text-small .fa {
	font-size: .95rem;
}

/* widths */
.component-button.w5 {
	width: 5rem;
}
.component-button.w6 {
	width: 6rem;
}
.component-button.w8 {
	width: 8rem;
}
.component-button.w9 {
	width: 9rem;
}
.component-button.w10 {
	width: 10rem;
}
.component-button.w12 {
	width: 12rem;
}
.component-button.w14 {
	width: 14rem;
}
.component-button.w18 {
	width: 18rem;
}
.component-button.w20 {
	width: 20rem;
}


.component-button.compare-button {
	display: inline-block;
	vertical-align: middle;
	background: rgba(255, 255, 255, .15);
	border: 0;
	border-radius: .05rem;
	color: #ddd;
	height: 26px;
	line-height: 26px;
}
.component-button.compare-button span {
	width: 100%;
	padding: 0;
}
.component-button.compare-button:hover {
	background: rgba(255, 255, 255, .25);
}