.ptr-menu {
	overflow: hidden;
	background: #eee;
	/*box-shadow: 0 0 2px 1px rgba(0,0,0,0.3);*/

	transition:
		height .2s ease-in-out,
		box-shadow .1s .1s ease-in-out;
}
.ptr-menu.open {
	box-shadow: 0 0 2px 1px rgba(0,0,0,0.3);

	transition:
		height .2s ease-in-out,
		box-shadow .1s ease-in-out;
}

.ptr-menu-item {
	height: 2rem;
	padding: .25rem;
	white-space: nowrap;
	overflow: hidden;

	background: var(--base10);

	transition:
		background .3s ease-in-out;
}
.ptr-menu-item.disabled {
	pointer-events: none;
	color: var(--base20);
}
.ptr-menu-item.disabled > .ptr-icon .line,
.ptr-menu-item.disabled > .ptr-icon .polygon {
	stroke: #b7b7b7;
}
.ptr-menu-item:not(:first-child) {
	border-top: 1px solid var(--base30);
}


.ptr-menu-item:hover {
	background: var(--base30);
}

.ptr-menu-item > .ptr-icon {
	display: inline-block;
	width: 1.25rem;
	height: 1.25rem;
	margin: .125rem .25rem;
}
.ptr-menu-item > .ptr-icon .line,
.ptr-menu-item > .ptr-icon .polygon {
	stroke: #333;
}

.ptr-menu-item-caption {
	color: var(--base95);
	display: inline-block;
	vertical-align: top;
	font-size: .9375rem;
	line-height: 1.5rem;
	margin: 0 .25rem;
}

.ptr-menu-item.disabled .ptr-menu-item-caption {
	color: var(--base30);
}