.ptr-change-review-form {
	width: 100%;
	height: 100%;
	background: rgb(229, 229, 229);
}

.ptr-change-review-form,
.ptr-change-review-form-body,
.ptr-change-review-form-header {
	box-sizing: border-box;
}

.ptr-change-review-form-header {
	background: rgba(153,54,75,1);
	background-image: linear-gradient(160deg, rgba(123,54,75,1) 0%, rgba(193,54,75,1) 100%);
	display: flex;
	height: 8rem;
	padding: 1rem;
	flex-direction: column;
}
.ptr-change-review-form-header-buttons{
	margin-bottom: .5rem;
	flex: 1;
}
.ptr-change-review-form-header .ptr-button .line {
	fill: rgba(208,212,220,1);
}
.ptr-change-review-form-header .ptr-button-caption {
	color: rgba(208,212,220,1);
}
.ptr-change-review-form-title {
	color: rgba(208,212,220,1);
	font-family: "Roboto", sans-serif;
	flex: 1;
	font-size: 2.3rem;
	font-weight: 300;
	padding-left: .5rem;
}

/* body */
.ptr-change-review-form-body {
	padding: 1.5rem;
	height: calc(100% - 8rem);
	overflow-y: auto;
}
.ptr-change-review-form-wrapper {
	max-width: 40rem;
}
.ptr-change-review-form-buttons {
	margin: 1rem 0;
}
.ptr-change-review-form-buttons > div {
	margin-right: .5rem;
}