@import '~@gisatcz/ptr-core/src/styles/_variables';

.esponFuore-scopes-list {
	background: var(--base25);
	min-height: 15rem;
	max-height: 0;
}

.esponFuore-scope-card {
	cursor: pointer;
	height: m(10);
	position: relative;
	flex-basis: 25%;
	max-width: 35rem;
	background-image: url('../../../assets/scopePreviews/fallback.png');
	background-size: cover;
}

.esponFuore-scope-card.disabled {
	pointer-events: none;
}

.esponFuore-scope-card:before {
	content: "";
	background: linear-gradient(155deg, rgba(0,0,0,.8), rgba(0,0,0,.4) 60%, transparent);
	z-index: 0;
	@include positionFill;
}

.esponFuore-scope-card-name {
	position: relative;
	display: inline-block;
	margin: m(1) 1rem m(2/3) 0;
	padding: .5rem 1.5rem;
	background: var(--accent50);
	color: var(--base05);
	font-size: $b2;
	z-index: 1;
}

.esponFuore-scope-card-description {
	position: relative;
	margin: 0 3.5rem 0 1.5rem;
	color: var(--base10);
	font-size: $b1;
	line-height: 1.3;
	max-width: 20rem;
	transition: color .3s ease-in-out;
	z-index: 1;
}

.esponFuore-scope-card:hover:before,
.esponFuore-scope-card:focus:before {
	background: linear-gradient(155deg, rgba(0,0,0,.65), rgba(0,0,0,.25) 60%, transparent);
}

.esponFuore-scope-card:hover .esponFuore-scope-card-name,
.esponFuore-scope-card:focus .esponFuore-scope-card-name {
	background: var(--accent45);
	color: var(--base0);
}

.esponFuore-scope-card:hover .esponFuore-scope-card-description,
.esponFuore-scope-card:focus .esponFuore-scope-card-description {
	color: var(--base0);
}

@media screen and (max-width: 105rem)  {
	.esponFuore-scope-card {
		flex-basis: calc(100%/3);
	}
}

@media screen and (max-width: 60rem)  {
	.esponFuore-scope-card {
		flex-basis: 50%;
	}
}

@media screen and (max-width: 35rem)  {
	.esponFuore-scope-card {
		flex-basis: 100%;
	}
}