.ptr-timeline-year > line {
	stroke-width: 1;
	stroke: rgba(0,0,0,.6);
}
.ptr-timeline-year-label {
	font-size: 0.8rem;
	fill: rgba(0,0,0,.6);
}

.ptr-timeline-year.background > line {
	stroke: rgba(0,0,0,.2);
}
