@import '../../../styles/variables';

.ptr-docs {
	display: flex;
	min-height: 100%;
	background: var(--base0);
}
.ptr-docs-content {
	flex: 1;
	overflow: auto;
}


.ptr-docs-basic-list {
	margin-left: 2rem;
}

/* Navigation */
.ptr-docs-nav {
	flex: 0 0 m(10);
	background-color: var(--base20);
}

.ptr-docs-nav-header {
	background-color: var(--base80);
	padding: m(1/3);
}

.ptr-docs-nav-header-title > a {
	font-size: $b2;
	color: var(--base30);
	text-decoration: none;
}
.ptr-docs-nav-header-title > a:hover {
	color: var(--base0);
}

.ptr-docs-nav-tree {
	padding: m(1/3) 0 m(1);
}

.ptr-docs-nav-directory,
.ptr-docs-nav-page,
.ptr-docs-nav-anchor {

}
.ptr-docs-nav-directory > div {
	margin-left: 1.125rem;
}
.ptr-docs-nav-page > div {
	margin-left: .5rem;
}
.ptr-docs-nav-directory > div {
	border-left: 1px solid #b2b2b2;
}

.ptr-docs-nav-link {
	display: block;
}
.ptr-docs-nav-link > a {
	text-decoration: none;
	color: var(--base80);
	display: block;
	padding: .25rem 1.25rem .25rem .75rem;
}
.ptr-docs-nav-directory.active > .ptr-docs-nav-link > a,
.ptr-docs-nav-page.active > .ptr-docs-nav-link > a {
	border-left: 2px solid #b2b2b2;
	background-color: rgba(255,255,255,.5);
	position: relative;
}
.ptr-docs-nav-directory.active.level1 > .ptr-docs-nav-link > a {
	border-left: 0;
}
.ptr-docs-nav-directory.active > .ptr-docs-nav-link > a:after,
.ptr-docs-nav-page.active > .ptr-docs-nav-link > a:after {
	content: " ";
	display: block;
	position: absolute;
	right: m(1/3);
	top: 50%;
	transform: translateY(-50%);

	width: 0;
	height: 0;
	border-style: solid;
	border-width: m(2/9) 0 m(2/9) m(1/3);
	border-color: transparent transparent transparent #ccc;
}
.ptr-docs-nav-link > a:hover {
	background-color: rgba(255,255,255,.2);
}


.ptr-docs-nav-directory > .ptr-docs-nav-link > a {
	font-weight: bold;
}
.ptr-docs-nav-anchor > .ptr-docs-nav-link > a {
	font-style: italic;
}

.ptr-docs-nav-directory.level1,
.ptr-docs-nav-page.level1 {
	border-top: 1px solid #ccc;
}

.ptr-docs-nav-directory.level1 > .ptr-docs-nav-link,
.ptr-docs-nav-page.level1 > .ptr-docs-nav-link {
	background-color: var(--base25);
}

.ptr-docs-nav-directory.level1 > div,
.ptr-docs-nav-page.level1 > div {
	margin-top: m(1/3);
	margin-bottom: m(1/3);
}


/* specific colours */

.ptr-docs-node-architecture.ptr-docs-nav-directory.level1 {
	border-color: rgba(133,157,228,.7);
}
.ptr-docs-node-architecture.ptr-docs-nav-directory.level1 > .ptr-docs-nav-link {
	background-color: rgba(133,157,228,.2);
}
.ptr-docs-node-architecture > div,
.ptr-docs-node-architecture .ptr-docs-nav-directory > div,
.ptr-docs-node-architecture .ptr-docs-nav-directory.active > .ptr-docs-nav-link > a,
.ptr-docs-node-architecture .ptr-docs-nav-page.active > .ptr-docs-nav-link > a {
	border-color: #859de4;
}
.ptr-docs-node-architecture.ptr-docs-nav-directory.active > .ptr-docs-nav-link > a,
.ptr-docs-node-architecture .ptr-docs-nav-directory.active > .ptr-docs-nav-link > a,
.ptr-docs-node-architecture .ptr-docs-nav-page.active > .ptr-docs-nav-link > a {
	color: #5f73e3;
}
.ptr-docs-node-architecture.ptr-docs-nav-directory.active > .ptr-docs-nav-link > a:after,
.ptr-docs-node-architecture .ptr-docs-nav-directory.active > .ptr-docs-nav-link > a:after,
.ptr-docs-node-architecture .ptr-docs-nav-page.active > .ptr-docs-nav-link > a:after {
	border-color: transparent transparent transparent #859de4;
}
.ptr-docs-node-architecture a:hover {
	color: #5f73e3;
}

.ptr-docs-node-design.ptr-docs-nav-directory.level1 {
	border-color: rgba(60, 199, 67, 0.7);
}
.ptr-docs-node-design.ptr-docs-nav-directory.level1 > .ptr-docs-nav-link {
	background-color: rgba(60,199,67,.2);
}
.ptr-docs-node-design > div,
.ptr-docs-node-design .ptr-docs-nav-directory > div,
.ptr-docs-node-design .ptr-docs-nav-directory.active > .ptr-docs-nav-link > a,
.ptr-docs-node-design .ptr-docs-nav-page.active > .ptr-docs-nav-link > a {
	border-color: #29c933;
}
.ptr-docs-node-design.ptr-docs-nav-directory.active > .ptr-docs-nav-link > a,
.ptr-docs-node-design .ptr-docs-nav-directory.active > .ptr-docs-nav-link > a,
.ptr-docs-node-design .ptr-docs-nav-page.active > .ptr-docs-nav-link > a {
	color: #289e2a;
}
.ptr-docs-node-design.ptr-docs-nav-directory.active > .ptr-docs-nav-link > a:after,
.ptr-docs-node-design .ptr-docs-nav-directory.active > .ptr-docs-nav-link > a:after,
.ptr-docs-node-design .ptr-docs-nav-page.active > .ptr-docs-nav-link > a:after {
	border-color: transparent transparent transparent #29c933;
}
.ptr-docs-node-design a:hover {
	color: #289e2a;
}

.ptr-docs-node-components.ptr-docs-nav-directory.level1 {
	border-color: rgba(228,145,145,.7);
}
.ptr-docs-node-components.ptr-docs-nav-directory.level1 > .ptr-docs-nav-link {
	background-color: rgba(228,145,145,.2);
}
.ptr-docs-node-components > div,
.ptr-docs-node-components .ptr-docs-nav-directory > div,
.ptr-docs-node-components .ptr-docs-nav-directory.active > .ptr-docs-nav-link > a,
.ptr-docs-node-components .ptr-docs-nav-page.active > .ptr-docs-nav-link > a {
	border-color: #e49191;
}
.ptr-docs-node-components.ptr-docs-nav-directory.active > .ptr-docs-nav-link > a,
.ptr-docs-node-components .ptr-docs-nav-directory.active > .ptr-docs-nav-link > a,
.ptr-docs-node-components .ptr-docs-nav-page.active > .ptr-docs-nav-link > a {
	color: #e46f73;
}
.ptr-docs-node-components.ptr-docs-nav-directory.active > .ptr-docs-nav-link > a:after,
.ptr-docs-node-components .ptr-docs-nav-directory.active > .ptr-docs-nav-link > a:after,
.ptr-docs-node-components .ptr-docs-nav-page.active > .ptr-docs-nav-link > a:after {
	border-color: transparent transparent transparent #e49191;
}
.ptr-docs-node-components a:hover {
	color: #e46f73;
}

.ptr-docs-node-code.ptr-docs-nav-directory.level1 {
	border-color: rgba(206,155,231,.7);
}
.ptr-docs-node-code.ptr-docs-nav-directory.level1 > .ptr-docs-nav-link {
	background-color: rgba(206,155,231,.2);
}
.ptr-docs-node-code > div,
.ptr-docs-node-code .ptr-docs-nav-directory > div,
.ptr-docs-node-code .ptr-docs-nav-directory.active > .ptr-docs-nav-link > a,
.ptr-docs-node-code .ptr-docs-nav-page.active > .ptr-docs-nav-link > a {
	border-color: #ce9be7;
}
.ptr-docs-node-code.ptr-docs-nav-directory.active > .ptr-docs-nav-link > a,
.ptr-docs-node-code .ptr-docs-nav-directory.active > .ptr-docs-nav-link > a,
.ptr-docs-node-code .ptr-docs-nav-page.active > .ptr-docs-nav-link > a {
	color: #aa67cd;
}
.ptr-docs-node-code.ptr-docs-nav-directory.active > .ptr-docs-nav-link > a:after,
.ptr-docs-node-code .ptr-docs-nav-directory.active > .ptr-docs-nav-link > a:after,
.ptr-docs-node-code .ptr-docs-nav-page.active > .ptr-docs-nav-link > a:after {
	border-color: transparent transparent transparent #ce9be7;
}
.ptr-docs-node-code a:hover {
	color: #aa67cd;
}





/* Page */
.ptr-docs-page {
	padding: m(5/3);
}

/* Light dark block */
.ptr-docs-light-dark-block {
	display: flex;
	margin: m(1) 0 m(2);
	//overflow-x: hidden;
	border: 1px solid var(--base30)
}
.ptr-docs-light-dark-block.forceRows {
	display: block;
}
.ptr-docs-light-dark-block > div {
	flex: 1 50%;
	padding: m(1);
}

.ptr-docs-light-dark-block .ptr-light,
.ptr-docs-light-dark-block .ptr-dark {
	background: var(--base0);
}

/* Syntax highlighter */
.ptr-docs-syntax-highlighter {
	background: var(--base85);
}

.ptr-docs-inline-code-highlighter {
	color: #e2575a;
	background: var(--base20);
	font-family: monospace;
	font-size: 1.35rem;
	padding: 0 .15rem;
}

/* Docs To:Do */
.ptr-docs-todo {
	border: 2px dashed rgba(255,144,47,1);
}

.ptr-docs-todo-title {
	background: rgba(255,144,47,1);
	color: #ffffff;
	font-size: $b2;
	padding: m(1/3) m(2/3);
}

.ptr-docs-todo-body {
	background: rgba(255,144,47,.2);
	padding: m(2/3);
}

/* Docs To:Do inline */
.ptr-docs-todo-inline{
	border: 2px dashed rgba(255,144,47,1);
	display: inline-block;
	padding-right: .5rem;
	background: rgba(255,144,47,.2);
}

.ptr-docs-todo-inline i {
	background: rgba(255,144,47,1);
	color: #ffffff;
	font-size: $a1;
	padding: .15rem m(1/3);
	margin-right: .5rem;
}

/* Visualizations */
.ptr-docs-visualizations-intro-example {
	margin-bottom: m(1);
	display: flex;
	flex-wrap: wrap;
}

.ptr-docs-visualizations-intro-example .ptr-chart-container {
	min-width: 15rem;
	margin: 0 m(2/3) m(2/3) 0;
}

.ptr-docs-visualizations-intro-example.cartesian-charts .ptr-chart-container {
	max-width: 15rem;
}