.view-card {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	background: white;
	border-radius: .1rem;
	border: 1px solid #ccc;
	border-bottom: 2px solid #ccc;
	margin: 0 1rem 1rem 0;
	max-width: 20rem;
	min-width: 12rem;
	padding-bottom: .5rem;
	width: 30%;
	transition: background .3s ease-in-out, box-shadow .3s ease-in-out, border-color .3s ease-in-out;
}
.view-card:hover {
	border-color: #bbb;
	box-shadow: 0 0 2px 1px rgba(33,38,53,.2);
}
.view-card-preview {
	width: 100%;
	height: 2rem;
}
.view-card-text {
	flex: 1;
	padding: .7rem;
}
.view-card-title {
	font-size: 1.15rem;
	color: rgb(65,69,81);
	font-weight: 400;
	margin-bottom: .2rem;
	word-wrap: break-word;
}
.view-card-description {
	font-size: .9rem;
	color: rgb(128,132,140);
	font-weight: 400;
}

/* Card tools */
.view-card-tools {
	display: flex;
	justify-content: flex-end;
	padding: 0 .5rem;
}
.view-card-tool {
	padding: 0 .3rem;
	transition: background-color .3s ease-in-out;
}
.view-card-tool.disabled {
	pointer-events: none;
}
.view-card-tool:hover {
	background: rgba(65,69,81,.15);
}
.view-card-tool .ptr-icon {
	width: 1.35rem;
}
.view-card-tool .ptr-icon .line,
.view-card-tool .ptr-icon .polygon {
	stroke: rgb(65,69,81);
}
.view-card-tool.disabled .ptr-icon .line,
.view-card-tool.disabled .ptr-icon .polygon {
	stroke: rgb(205,209,215);
}

/* Responsiveness */

@media (max-width: 90rem) {
	.view-card-text {
		padding: .5rem;
	}
	.view-card-title {
		font-size: 1.05rem;
	}
	.view-card-description {
		font-size: .85rem;
	}
	.view-card {
		min-width: 15rem;
	}
}
@media (max-width: 70rem) {
	.view-card {
		margin: .3rem;
		padding-bottom: .3rem;
	}
}