@import '../../../../styles/variables';

.ptr-chart-legend {
	margin: m(2/3) 0 0 m(4/3);
	display: flex;
	flex-wrap: wrap;
}

.ptr-chart-legend-item {
	display: flex;
	align-items: center;
	padding: 0 .3rem;
	margin-right: .3rem;
	cursor: default;
}

.ptr-chart-legend-item.withNumbers {
	padding: .2rem .3rem;
}

.ptr-chart-legend-item:hover {
	background: var(--base20);
}

.ptr-chart-legend-item-icon {
	min-width: .7rem;
	height: .7rem;
	font-size: $b1;
	line-height: 1.25rem;
	text-align: center;
	color: #000;
}

.ptr-chart-legend-item.withNumbers .ptr-chart-legend-item-icon {
	min-width: 1.25rem;
	height: 1.25rem;
}

.ptr-chart-legend-item-icon.dark {
	color: #fff;
}

.ptr-chart-legend-item-name {
	font-size: $b1;
	color: var(--base75);
	padding: 0 0 0 .3rem;
	max-width: 10rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}