@import '../../../../styles/variables';
@import '../../styles/variables';

.tacrGeoinvaze-layer-controls > div {
  background: var(--accent15);
	border-bottom: 1px solid var(--accent25);
	padding: m(1/3) m(1);
}

.tacrGeoinvaze-layer-controls > div:hover {
	background: var(--accent20);
}

.tacrGeoinvaze-layer-title {

}
.tacrGeoinvaze-layer-description {
	font-size: $b1;
	color: var(--base60);
}


.tacrGeoinvaze-actual-expansion .ptr-select-container {
	display: inline-block;
}