.select-basic-container {
	min-width: 5rem;
}

/* topbar select*/
.select2-container--default .select-basic-container.top-bar-select {
	 border-radius: 0.05rem;
	 background: rgba(255, 255, 255, .15);
	 border: 0;
	 height: 26px;
	transition: background .3s ease-in-out;
}
.select2-container--default .select-basic-container.top-bar-select:hover {
	background: rgba(255, 255, 255, .2);
}
.select2-container--default .select-basic-container.top-bar-select .select2-selection__rendered {
	line-height: 26px;
	color: #ddd;
	font-weight: 500;
	font-size: .85rem;
}
.select2-container--default .select-basic-container.top-bar-select .select2-selection__arrow {
	height: 26px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.select2-container--default .select-basic-container.top-bar-select .select2-selection__arrow:before {
	content: "\f107";
	color: rgb(204,207,211);
	font-family: "FontAwesome";
	font-size: 1rem;
}
.select2-container--default .select-basic-container.top-bar-select .select2-selection__arrow > b {
	border-color: transparent;
}
.select2-container--default.select2-container--open .select-basic-container.top-bar-select .select2-selection__arrow:before {
	content: "\f106";
}
.select2-container--default.select2-container--open .select-basic-container.top-bar-select .select2-selection__arrow > b {
	border-color: transparent;
}