@import '../../../../../styles/variables';

.szifLpisZmenovaRizeni-table-detail > div {
	// padding: 0 .5rem;
	height: calc(100% - 1px);
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	border-top: 1px dashed var(--accent30);
}

.szifLpisZmenovaRizeni-table-detail-top-bar {
	display: flex;
	justify-content: space-between;
	padding: m(1) m(1);
}

.ptr-button.ghost.szifLpisZmenovaRizeni-btn-invalidate {
	background: #ffb0b0;
}

.szifLpisZmenovaRizeni-table-detail-item {
	display: flex;
	flex-direction: column;
	margin-right: 3rem;
}

.szifLpisZmenovaRizeni-table-detail-item .highlighted i {
	background: yellow;
	font-weight: inherit;
}

.szifLpisZmenovaRizeni-table-detail-item > div:first-child {
	font-size: $b1;
	color: var(--base70);
}

.szifLpisZmenovaRizeni-table-detail-descriptions {
	padding: 0 m(2/3);
	display: flex;
	border-top: 1px dashed var(--accent30);
}

.szifLpisZmenovaRizeni-table-detail-descriptions > div {
	width: 50%;
}

.szifLpisZmenovaRizeni-table-detail-descriptions > div h4 {
	//color: var(--accent50);
}

.szifLpisZmenovaRizeni-table-detail-descriptions > div .szifLpisZmenovaRizeni-table-detail-item {
	margin-bottom: 1rem;
}

.szifLpisZmenovaRizeni-top-bar-item{
	display: flex;
	width: 50%;
	justify-content: space-between;
}

.szifLpisZmenovaRizeni-top-bar-item:nth-child(1){
	justify-content: start;
}

.szifLpisZmenovaRizeni-top-bar-item:nth-last-child(){
	justify-content: space-between;
}