.select-basic-container {
	min-width: 5rem;
}

/* topbar select*/
.select-basic-container.top-bar-select {
	 border-radius: 0.05rem;
	 background: rgba(255, 255, 255, .15);
	 border: 0;
	 height: 24px;
}
.select-basic-container.top-bar-select .select2-selection__rendered {
	line-height: 24px;
	color: #ddd;
	font-weight: 500;
	font-size: 13px;
}
.select-basic-container.top-bar-select .select2-selection__arrow {
	height: 24px;
}
.select-basic-container.top-bar-select .select2-selection__arrow > b {
	border-color: #ddd transparent transparent transparent;
}