@import '../../../../styles/variables';

.esponFuore-landing-page {
	background: var(--base0);
	display: flex;
	justify-content: center;
}

.esponFuore-landing-page > div {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 120rem;
}

.esponFuore-landing-page-intro {
	display: flex;
	padding: m(4/3) m(2);
}

.esponFuore-landing-page-logo {
	padding: m(1);
}

.esponFuore-landing-page-logo > img {
	width: 10rem;
}

.esponFuore-landing-page-text {
	padding: m(1) m(1) m(1) m(2);
}

.esponFuore-landing-page-links {
	display: flex;
	flex-wrap: wrap;
}

.esponFuore-landing-page-text .bottom-link {
	margin: 0 m(2/3) m(1/3) 0;
	min-width: 10rem;
}

.esponFuore-landing-page-text .bottom-link.disabled a {
	pointer-events: none;
	color: var(--accent30);
}

.esponFuore-landing-page-footer {
	padding: m(2) m(1) m(1);
	display: flex;
	justify-content: center;
	align-items: center;
}

.esponFuore-landing-page-footer > a {
	margin: m(1) m(3);
}

.esponFuore-landing-page-footer > a img {
	width: 10rem;
}

@media screen and (max-width: 60rem)  {
	.esponFuore-landing-page-intro {
		flex-direction: column;
	}

	.esponFuore-landing-page-intro {
		padding: m(1);
	}
	.esponFuore-landing-page-text {
		padding: m(1);
	}
	.esponFuore-landing-page-footer > a {
		margin: m(1) m(2);
	}
}

@media screen and (max-width: 35rem)  {
	.esponFuore-landing-page-logo {
		padding: m(1/3) m(1);
	}
	.esponFuore-landing-page-links {
		flex-direction: column;
	}
	.esponFuore-landing-page-footer {
		flex-direction: column;
	}
	.esponFuore-landing-page-footer > a {
		margin: m(1) 0;
	}
}