/* === old FO === */
#sidebar-tools.hidden-complete {
    left: -1000px;
}

/* === Building blocks === */
.intro .widgets {
    display: none;
}
.widgets {
    display: block;
}
.floater p, .floater a, .floater span, .floater label,
.tool-window p, .tool-window a, .tool-window span, .tool-window label {
    color: #666;
    font-size: .75rem;
}

/* === Buttons === */
.widget-button {
    background: #c92d42;
    border-radius: .15rem;
    display: inline-block;
    color: white;
    font-weight: 700;
    padding: .4rem .2rem .35rem;
    text-align: center;
    text-transform: uppercase;
    transition: background .3s ease-out;
}
.widget-button.w8 {
	width: 10rem;
}
.widget-button.w10 {
	width: 10rem;
}
.widget-button.small {
	text-transform: none;
}

.widget-button:hover, .widget-button.active {
    background: #ad2738;
    cursor: pointer;
}
.widget-button.secondary {
	background: rgba(67,66,84,.85);
}
.widget-button.secondary:hover, .widget-button.secondary.active {
	background: rgb(67,66,84);
}

.widget-button[disabled=disabled] {
    pointer-events: none;
    color: #bbb;
    background-color: #e5e5e5;
}

.widget-button-export {
    background: none;
    border: 0;
    color: #c92d42;
    font-size: 11px;
    font-weight: 600;
    padding: .2rem .15rem .3rem .15rem;
    text-transform: none;
    margin: 0;
    min-width: 49%;
}
.widget-button-export:hover {
    background: rgba(173,39,56,.2);
    color: #ad2738;
}
.widget-button-export[disabled=disabled] {
    pointer-events: none;
    background: transparent;
    color: #aaa;
}
.widget-button-export[disabled=disabled]:hover {
    pointer-events: none;
    background: transparent;
    cursor: default;
}

.button-delete-record, .button-save-record {
    line-height: 1.35rem;
    text-transform: none;
    font-size: .7rem;
    font-weight: 600;
    padding: 0 .5rem;
}
.button-save-record {
    min-width: 3.2rem;
}

/** new tools **/
.tools-buttons-container {
    height: 6.5rem;
    position: absolute;
    right: 8rem;
    width: 4rem;
}

.tools-buttons-container .tool {
    background: rgba(255,255,255,.25);
    border: 1px solid rgba(255,255,255,.3);
    border-radius: .1rem;
    color: #ddd;
    font-size: .7rem;
    font-weight: 700;
    height: 1.5rem;
    line-height: 1.5rem;
    padding: 0;
    margin: .5rem .2rem;
    text-align: center;
    text-transform: none;
    transition: background .3s ease-out;
    width: 3.5rem;
}
.tools-buttons-container .tool:hover {
    background: rgba(255,255,255,.15);
    cursor: pointer;
}
.tools-buttons-container .tool.active {
    background: rgba(255,255,255,.8);
    color: rgb(67, 66, 84);
}

/* JQuery UI */
.ui-front {
    z-index: 10002;
}
.ui-menu .ui-menu-item .ui-menu-item-wrapper {
    background: #eee;
    color: #555;
    border: 0;
    border-bottom: 1px solid #ddd;
    padding: .4rem;
    transition: background .3s ease-out;
}
.ui-menu .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background: #ddd;
    border: 0;
    border-bottom: 1px solid #ddd;
    margin: 0;
}
.ui-resizable-helper {
    border: 2px dotted gray;
    z-index: 99999;
}

.ui-resizable-e {
    width: 20px;
    right: -10px;
}

.ui-resizable-s {
    height: 25px;
    bottom: -15px;
}

.ui-resizable-se {
    width: 30px;
    height: 30px;
    right: -15px;
    bottom: -15px;
    background-position: -82px -226px;
}

body.mode-3d .x-window:not(.thematic-maps-settings):not(.metadata-window):not(.window-savevisualization):not(.window-savedataview):not(#loginwindow):not(#window-managevisualization):not(.x-window-ghost):not(#window-areatree):not(#window-colourSelection):not(#window-legacyAdvancedFilters),
body.mode-3d #tools-container,
body.mode-3d #widget-container .placeholder:not(#placeholder-world-wind-widget),
body.mode-3d #widget-container .placeholder.open:not(#placeholder-world-wind-widget),
body.mode-3d .x-css-shadow,
body.mode-3d .floater:not(#floater-world-wind-widget):not(#floater-evaluation-widget),
body.mode-3d .floater.open:not(#floater-world-wind-widget):not(#floater-evaluation-widget),
body.mode-3d .settings-window:not(#evaluation-widget-settings):not(#categorize-settings) {
    display: none;
}

#window-legacyAdvancedFilters .tools-filters-list > .x-box-inner {
	overflow-y: auto;
}


.ptr-btn {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	text-align: center;

	background: #aaa;
	color: #fff;
    border: 0;
    border-radius: 1px;
    cursor: pointer;
    transition: 
    	background .3s ease-out;
}
.ptr-btn:hover {
	background: #999;
}
.ptr-btn.primary {
	background: rgba(201, 45, 66, .85);
}
.ptr-btn.primary:hover {
	background: #ad2738;
}
.ptr-btn.disabled {
	background: #ddd;
	cursor: default;
	pointer-events: none;
}
.ptr-btn.disabled:hover {
	background: #ddd;
}
.ptr-btn-group .ptr-btn:not(:first-child) {
	margin-left: 5px;
}

label.container {
	display: block;
	margin-bottom: 10px;
}
label.container > input {
	display: block;
}


#custom-layers {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
#custom-layers-container {
	width: 200%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	transition:
		left .3s ease-in-out;
}
.custom-layers-content {
	width: 50%;
	height: 100%;
	float: left;
	position: relative;

	padding: 10px;
}
#custom-layers-container.view-action {
	left: -100%;
}

#custom-layers-start > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#custom-layers-start .ptr-btn {
	display: block;
	margin: 20px 0;
}

#custom-layers-action .ptr-btn-group {
	margin-top: 20px;
}

.custom-layers-status,
.custom-layers-status-message {
	padding: 5px 0;
}
.custom-layers-status.success {
	color: #14801a;
}
.custom-layers-status.error {
	color: #8c2a16;
}
.custom-layers-progress {
	height: 10px;
	width: 100%;
	background: #eee;
	position: relative;
}
.custom-layers-progress > div {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #2999c8;

	transition:
		width .3s ease-in-out;
}

#top-toolbar .item#top-toolbar-functional-urban-area::before {
	content: '\f0b0';
}