$lightAccent0: hsl(40,100%,99.41%);
$lightAccent05: hsl(14.91,78.22%,97.4%);
$lightAccent10: hsl(11.23,74.89%,95.79%);
$lightAccent15: hsl(9.3,72.59%,93.94%);
$lightAccent20: hsl(7.94,70.32%,91.44%);
$lightAccent25: hsl(6.91,67.81%,88.07%);
$lightAccent30: hsl(6.07,65.02%,83.75%);
$lightAccent35: hsl(5.32,61.99%,78.54%);
$lightAccent40: hsl(4.51,58.79%,72.62%);
$lightAccent45: hsl(3.52,55.55%,66.27%);
$lightAccent50: hsl(2.18,52.38%,59.77%);
$lightAccent55: hsl(0.22,49.4%,53.47%);
$lightAccent60: hsl(357.23,55.11%,46.48%);
$lightAccent65: hsl(351.97,76.13%,38.61%);
$lightAccent70: hsl(353.54,71.66%,34.44%);
$lightAccent75: hsl(355.14,67.11%,30.89%);
$lightAccent80: hsl(356.58,63.2%,27.64%);
$lightAccent85: hsl(358.12,59.19%,24.25%);
$lightAccent90: hsl(0.22,54.23%,19.95%);
$lightAccent95: hsl(5,50.9%,13.24%);
$lightAccent100: hsl(41.12,95.24%,0.91%);