.ptr-editable-text {
	resize: none;
	overflow: hidden;
	border: 1px solid transparent;
	background: transparent;
	padding: .5rem;
	font-size: 1rem;
	line-height: 1.5rem;

	width: 100%;
}

textarea.ptr-editable-text:focus {
	border: 1px dashed rgba(0,0,0,.5);
}