.ptr-editable-text {
	resize: none;
	overflow: hidden;
	border: 1px solid transparent;
	background: transparent;
	padding: .3rem;
	font-size: .825rem;
	line-height: 1.5rem;

	width: 100%;

	box-sizing: border-box !important; /* without this fix enters infinite loop in resize() */
}

.ptr-editable-text.inverted {
	color: #ccc;
}

textarea.ptr-editable-text:focus,
textarea.ptr-editable-text.empty,
textarea.ptr-editable-text.editing {
	border: 1px dashed rgba(0,0,0,.5);
}

textarea.ptr-editable-text.inverted:focus,
textarea.ptr-editable-text.inverted.empty,
textarea.ptr-editable-text.inverted.editing {
	border-color: rgba(255,255,255,.5);
}

textarea.ptr-editable-text.empty.required {
	border-color: red;
}

.ptr-editable-text-message {
	margin: -.1rem 0 .5rem;
	color: rgb(255,30,30);
	text-align: right;
	font-size: .75rem;
}

.ptr-editable-text.large {
	font-size: 1.075rem;
	line-height: 1.5;
}

textarea.ptr-editable-text.invisible,
textarea.ptr-editable-text.invisible:focus {
	border: 0;
}