.panel-header {
	background: rgba(67, 66, 84,.8);
	border-bottom: 1px solid white;
	color: #eee;
	cursor: pointer;
	line-height: 1.8rem;
	padding: 0 .5rem;
	position: relative;
	transition: background .3s ease-out;
}
.panel-header:hover {
	background: rgba(67, 66, 84, .9);
}
.panel-header:first-child {
	border-top: 1px solid white;
}
.panel-header h3 {
	/*display: inline-block;*/
}
.panel-header .panel-icon {
	background: url(../../../../img/arrow-white-down.png) no-repeat center center;
	width: 20px;
	height: 100%;
	position: absolute;
	top: 0;
	right: .3rem;
}
.panel-header.open .panel-icon {
	background: url(../../../../img/arrow-white-up.png) no-repeat center center;
}
.panel-body {
	display: none;
	padding: .3rem .3rem .5rem;
}
.panel-body.open {
	display: block;
}