#floater-world-wind-widget {
	left: 10rem;
	top: 10rem;
	min-width: 22rem;
	max-width: 40rem;
	/*height: 10rem;*/
	height: 25rem;
	background: rgba(255,255,255,.9);
}
#floater-world-wind-widget .floater-header {
	background: rgba(255,255,255,.9);
	height: 4rem;
}
#floater-world-wind-widget .floater-header {
	background: rgba(255,255,255,.9);
	height: 4rem;
}
#floater-world-wind-widget .floater-body {
	height: calc(100% - 4rem);
}
/*#floater-world-wind-widget.dockable {*/
	/*height: 25rem;*/
/*}*/
#floater-world-wind-widget.docked {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	resize: none;
	border: 0;
	border-radius: 0;
	padding: 0;
}

/*#floater-world-wind-widget .widget-panels {*/
	/*display: none;*/
/*}*/
/*#floater-world-wind-widget.dockable .widget-panels {*/
	/*display: block;*/
/*}*/

/* Floater body */
#floater-world-wind-widget .floater-body {
	 padding: 0;
}
#floater-world-wind-widget .checkbox-row {
	transition: background .3s ease-out;
}
#floater-world-wind-widget .checkbox-row:hover {
	background: rgb(235,235,235);
	cursor: pointer;
}

/*#world-wind-widget-3Dmap-switch {*/
	/*padding: .5rem .3rem;*/
/*}*/
/*#world-wind-widget-3Dmap-switch .checkbox-label {*/
	/*font-weight: 600;*/
	/*font-size: .85rem;*/
/*}*/


.floater-fake-header {
	background: #ddd;
	height: 31px;
	line-height: 31px;
	padding: 0 .5rem 0 1rem;
}
.floater-fake-header span {
	color: #333;
	font-size: 12px;
	font-weight: 700;
}
.floater-fake-header-tool {
	cursor: pointer;
	position: relative;
	float: right;
}
.floater-fake-header-tool img {
	position: absolute;
	right: 0;
	top: 7px;
}