#floater-sharing {
	left: 16rem;
	top: 10rem;
	min-width: 30rem;
	max-width: 40rem;
	height: 30rem;
}
#floater-sharing .floater-body {
	padding: 1rem 1rem 1rem .5rem;
	height: calc(100% - 5.3rem);
}
#floater-sharing .floater-footer {
	border-top: 2px solid #ddd;
	padding: .5rem;
	height: 3rem;
	background: rgba(233,235,237,1);
}
