<div class="widget-section">
	<h5>{{dataviewMetadataTitle}}</h5>
	<p>{{dataviewMetadataDescription}}</p>
	<div class="widget-form-row">
		<label>
			<span>{{nameLabel}}</span>
			<input type="text" id="sharing-name"/>

		</label>
	</div>
	<div class="widget-form-row">
		<label>
			<span>{{descriptionLabel}}</span>
			<textarea name="text" id="sharing-description" cols="30" rows="3"></textarea>
		</label>
	</div>
</div>
<div class="widget-section">
	<h5>{{permissionsTitle}}</h5>
	<p>{{permissionsDescription}}</p>
	<div class="widget-form-row">
		<label>
			<span>{{userLabel}}</span>
			<select id="sharing-user">{{userOptions}}</select>
		</label>
	</div>
	<div class="widget-form-row">
		<label>
			<span>{{groupLabel}}</span>
			<select id="sharing-group">{{groupOptions}}</select>
		</label>
	</div>
</div>