.layer-tool-floater {
	background: rgba(255,255,255,.95);
	display: none;
	position: absolute;
	min-height: 130px;
	max-height: 250px;
	height: auto;
	min-width: 300px;
	max-width: 400px;
	width: 300px;
	left: auto;
	bottom: 55px;
	top: auto;
	right: 627px;
}

.tool-window.layer-tool-floater.open {
	display: none;
}
body.mode-3d .tool-window.layer-tool-floater.open {
	display: block;
}
.layer-tool-floater-header .tool-window-title {
	font-size: 1rem;
}
.layer-tool-floater-body {
	padding: .3rem;
	height: calc(100% - 2.5rem);
}