.layer-tool-floater {
	background: rgba(255,255,255,.95);
	display: none;
	position: absolute;
	min-height: 100px;
	height: auto;
	width: 300px;
	left: auto;
	bottom: 35px;
	top: auto;
	right: 590px;
}

.tool-window.layer-tool-floater.open {
	display: none;
}
body.mode-3d .tool-window.layer-tool-floater.open {
	display: block;
}

.layer-tool-floater-body {
	padding: .3rem;
	height: calc(100% - 2.5rem);
}