.layer-tool-floater {
	background: rgba(255,255,255,.95);
	position: absolute;
	min-height: 100px;
	height: auto;
	width: 300px;
	left: 350px;
	top: auto;
	bottom: 50px;
}

.layer-tool-floater.open {
	display: block;
}

.layer-tool-floater-body {
	padding: .3rem;
	height: calc(100% - 2.5rem);
}