.layer-tool-icon {
	cursor: pointer;
	display: inline-block;
	position: relative;
	float: right;
	margin: 0 .15rem;
	height: 100%;
	width: 1rem;
}
.layer-tool-icon.legend-icon img.active {
	display: none;
}
.layer-tool-icon.legend-icon.open img {
	display: none;
}
.layer-tool-icon.legend-icon.open img.active {
	display: block;
}

/*.layer-tool-icon i {*/
	/*color: rgba(104,103,116,.65);*/
	/*display: inline-block;*/
	/*font-size: .9rem;*/
	/*font-family: "FontAwesome";*/
	/*transition: color .3s ease-out;*/
	/*vertical-align: middle;*/
/*}*/
/*.layer-tool-icon:hover i {*/
	/*color: rgba(104,103,116,1);*/
/*}*/
/*.layer-tool-icon.open i {*/
	/*color: #ad2738;*/
/*}*/