.ptr-change-reviews-list {
	height: 100%;
}

/* Header */
.ptr-change-reviews-list-header {
	background: rgba(153,54,75,1);
	background-image: linear-gradient(160deg, rgba(123,54,75,1) 0%, rgba(193,54,75,1) 100%);
	display: flex;
	align-items: center;
	height: 8rem;
	padding: 1rem 1rem 3.5rem;
}
.ptr-change-reviews-list-title {
	color: rgba(208,212,220,1);
	font-family: "Roboto", sans-serif;
	flex: 1;
	font-size: 2.3rem;
	font-weight: 300;
}
.ptr-change-reviews-list-buttons {
	display: flex;
	align-items: center;
	margin-right: .5rem;
	justify-content: flex-end;
	flex-basis: 50%;
	flex-wrap: wrap;
}
.ptr-change-reviews-list-buttons > div {
	margin: .5rem 0 0 1rem;
}
.ptr-change-reviews-list-buttons > .ptr-input-text {
	flex: 1;
}

/* Body */
.ptr-change-reviews-list-body {
	height: calc(100% - 10.5rem);
}
.ptr-change-reviews-list-contact {
	background: rgba(213,215,219,1);
	height: 1.7rem;
	padding: 0 .7rem;
}
.ptr-change-reviews-list-contact span {
	line-height: 1.7rem;
	color: rgba(65,69,81,1);
}