@import '../../../../styles/variables';
@import '../style';

.ptr-aster-chart {

}

.ptr-aster-chart-segment {
	fill: var(--accent50);
	stroke: var(--base0);
}

.ptr-aster-chart-grid-line {
	fill: none;
	stroke: var(--base40);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-dasharray: 3, 6;
}

.ptr-aster-chart-grid-line.strong {
	stroke-dasharray: 1;
}

.ptr-aster-chart-grid-text {
	fill: var(--base75);
	font-size: $b1;
}

.ptr-aster-chart-grid-text-halo {
	fill: var(--base0);
	font-size: $b1;
}