.ptr-column-chart {
}

.ptr-column-chart-bar-group {

}

.ptr-column-chart-bar-container:hover .ptr-column-chart-bar {
	fill: var(--accent65);
}

.ptr-column-chart-bar-placeholder {
	fill: var(--base20);
	opacity: 0;
}

.ptr-column-chart-bar-placeholder:hover,
.ptr-column-chart-bar-placeholder.visible {
	opacity: 1;
}

.ptr-column-chart-bar {
	fill: var(--accent50);
	transition-property: height;
	transition-delay: 1000ms;
	transition-duration: 1500ms;
	transition-timing-function: linear;
}

.ptr-column-chart-bar:not(.stacked-relative):last-child {
	transition-timing-function: ease-out;
}

.ptr-column-chart-bar.hidden {
	fill: transparent;
}

.ptr-column-chart-bar:hover {
	fill: var(--accent65);
}

.ptr-column-chart-bar-baseline {
	stroke: var(--base80);
	stroke-width: 2;
}

.ptr-column-chart-path {
	fill: var(--accent50);
}