// measure unit - use whole numbers or thirds if neccessary
@function m($amount) {
	@return $amount * 1.5rem;
}

// fill container with position context
@mixin positionFill() {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

// font sizes
$a0: .618rem;
$a1: 1rem;
$a2: 1.618rem;
$a3: 2.618rem;
$a4: 4.236rem;
$a5: 6.854rem;
$a6: 11.089rem;
$a7: 17.942rem;

$b0: .5rem;
$b1: .809rem;
$b2: 1.309rem;
$b3: 2.118rem;
$b4: 3.427rem;
$b5: 5.545rem;
$b6: 8.971rem;
$b7: 14.515rem;

// colours
$gray0: #fffefc;
$gray0rgb: 255, 254, 252;
$gray1: #f4f3f1;
$gray2: #e8e7e5;
$gray3: #dad9d8;
$gray4: #c1c1bf;
$gray5: #a4a3a2;
$gray6: #858483;
$gray7: #6c6b6a;
$gray8: #5b5a5a;
$gray9: #484847;
$gray10: #323231;
$gray11: #1d1d1c;
$gray12: #040300;
$gray12rgb: 4, 3, 0;

$darkmode-gray0: #fffefc;
$darkmode-gray0rgb: 255, 254, 252;
$darkmode-gray1: #f4f3f1;
$darkmode-gray2: #e8e7e5;
$darkmode-gray3: #dad9d8;
$darkmode-gray4: #c1c1bf;
$darkmode-gray5: #9f9e9d;
$darkmode-gray6: #858483;
$darkmode-gray7: #676665;
$darkmode-gray8: #565655;
$darkmode-gray9: #434343;
$darkmode-gray10: #2b2b2b;
$darkmode-gray11: #1d1d1c;
$darkmode-gray12: #040300;
$darkmode-gray12rgb: 4, 3, 0;

$accent0: #fffefc;
$accent1: #eaf5f2;
$accent2: #d5ece9;
$accent3: #bae1dd;
$accent4: #87cdc8;
$accent5: #37b4af;
$accent6rgb:  42, 146, 142;
$accent6: #2a928e;
$accent7: #287773;
$accent8: #266460;
$accent9: #224f4c;
$accent10: #1c3633;
$accent11: #141f1d;
$accent12: #040300;

$darkmode-accent0: #fffefc;
$darkmode-accent1: #eaf5f2;
$darkmode-accent2: #d5ece9;
$darkmode-accent3: #bae1dd;
$darkmode-accent4: #87cdc8;
$darkmode-accent5: #2aafaa;
$darkmode-accent6rgb: 42, 146, 142;
$darkmode-accent6: #2a928e;
$darkmode-accent7: #28716d;
$darkmode-accent8: #255e5b;
$darkmode-accent9: #214a47;
$darkmode-accent10: #1a2f2c;
$darkmode-accent11: #141f1d;
$darkmode-accent12: #040300;


$bo0: #c7c5c2;
$bo0rgb: 199, 197, 194;
$bo1: #bebcb9;
$bo2: #b6b4b1;
$bo3: #aba9a6;
$bo4: #989694;
$bo5: #81807d;
$bo6: #6a6866;
$bo7: #565553;
$bo8: #494846;
$bo9: #3b3a38;
$bo10: #2a2927;
$bo11: #191917;
$bo12: #040300;
$bo12rgb: 4, 3, 0;

$bo-lighter1: #d8d6d4;
$bo-lighter2: #e3e2e1;
$bo-lighter3: #eeeeed;

$bo-accent0: #c7c5c2;
$bo-accent1: #b9beba;
$bo-accent2:  #abb7b3;
$bo-accent3:  #9aaeaa;
$bo-accent4:  #7b9d99;
$bo-accent5:  #528a85;
$bo-accent6rgb:  34, 116, 112;
$bo-accent6:  #227470;
$bo-accent7:  #215e5b;
$bo-accent8:  #1f504d;
$bo-accent9:  #1c403d;
$bo-accent10:  #182d2a;
$bo-accent11:  #121b19;
$bo-accent12:  #040300;

$bo-accent-lighter1: #aecbc8;
$bo-accent-lighter2: #c1d7d5;
$bo-accent-lighter3: #d3e3e2;