/**
measure unit - use whole numbers or thirds if neccessary
 */
@function m($amount) {
	@return $amount * 1.5rem;
}

/**
font sizes
 */
$a0: .618rem;
$a1: 1rem;
$a2: 1.618rem;
$a3: 2.618rem;
$a4: 4.236rem;
$a5: 6.854rem;
$a6: 11.089rem;
$a7: 17.942rem;

$b0: .5rem;
$b1: .809rem;
$b2: 1.309rem;
$b3: 2.118rem;
$b4: 3.427rem;
$b5: 5.545rem;
$b6: 8.971rem;
$b7: 14.515rem;

/**
colours
 */
$gray0: #fffefc;
$gray1: #f0f0ef;
$gray2: #dcdcda;
$gray3: #bebdbb;
$gray4: #9d9c9b;
$gray5: #81807e;
$gray6: #676664;
$gray7: #4d4c4b;
$gray8: #353433;
$gray9: #1f1e1d;
$gray10: #040300;

$accent0: #fffefc;
$accent1: #eaf6f4;
$accent2:  #c9e8e5;
$accent3:  #a2d8d3;
$accent4:  #75c7c3;
$accent5:  #2ab2ad;
$accent6:  #2a8c88;
$accent7:  #24615d;
$accent8:  #1d3f3c;
$accent9:  #172624;
$accent10:  #040300;

$bo0: #c7c5c2;
$bo1: #b1afad;
$bo2: #9c9a98;
$bo3: #878683;
$bo4: #737270;
$bo5: #605f5c;
$bo6: #4d4c4a;
$bo7: #3b3a38;
$bo8: #2a2927;
$bo9: #191917;
$bo10: #040300;

$bo-accent0: #c7c5c2;
$bo-accent1: #a9b5b2;
$bo-accent2:  #8ba6a1;
$bo-accent3:  #6c9692;
$bo-accent4:  #4b8682;
$bo-accent5:  #227773;
$bo-accent6:  #215f5b;
$bo-accent7:  #1e4844;
$bo-accent8:  #19322f;
$bo-accent9:  #131d1b;
$bo-accent10:  #040300;

$bo-accent-lighter0: #aecbc8;
$bo-accent-lighter1: #c1d7d5;
$bo-accent-lighter2: #d3e3e2;