@import "_variables";

html {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
}
code, pre {
	font-family: courier new, Courier, monospace;
}

#ptr, #ptr-app {
	@include positionFill;
}

.ptr-light {
	--base0: #{$gray0};
	--base1: #{$gray1};
	--base2: #{$gray2};
	--base3: #{$gray3};
	--base4: #{$gray4};
	--base5: #{$gray5};
	--base6: #{$gray6};
	--base7: #{$gray7};
	--base8: #{$gray8};
	--base9: #{$gray9};
	--base10: #{$gray10};

	--accent0: #{$accent0};
	--accent1: #{$accent1};
	--accent2: #{$accent2};
	--accent3: #{$accent3};
	--accent4: #{$accent4};
	--accent5: #{$accent5};
	--accent6: #{$accent6};
	--accent7: #{$accent7};
	--accent8: #{$accent8};
	--accent9: #{$accent9};
	--accent10: #{$accent10};
}
.ptr-dark {
	--base0: #{$gray10};
	--base1: #{$gray9};
	--base2: #{$gray8};
	--base3: #{$gray7};
	--base4: #{$gray6};
	--base5: #{$gray5};
	--base6: #{$gray4};
	--base7: #{$gray3};
	--base8: #{$gray2};
	--base9: #{$gray1};
	--base10: #{$gray0};

	--accent0: #{$accent10};
	--accent1: #{$accent9};
	--accent2: #{$accent8};
	--accent3: #{$accent7};
	--accent4: #{$accent6};
	--accent5: #{$accent5};
	--accent6: #{$accent4};
	--accent7: #{$accent3};
	--accent8: #{$accent2};
	--accent9: #{$accent1};
	--accent10: #{$accent0};
}
.ptr-bo-colours {
	--base0: #{$bo0};
	--base1: #{$bo1};
	--base2: #{$bo2};
	--base3: #{$bo3};
	--base4: #{$bo4};
	--base5: #{$bo5};
	--base6: #{$bo6};
	--base7: #{$bo7};
	--base8: #{$bo8};
	--base9: #{$bo9};
	--base10: #{$bo10};

	--accent0: #{$bo-accent0};
	--accent1: #{$bo-accent1};
	--accent2: #{$bo-accent2};
	--accent3: #{$bo-accent3};
	--accent4: #{$bo-accent4};
	--accent5: #{$bo-accent5};
	--accent6: #{$bo-accent6};
	--accent7: #{$bo-accent7};
	--accent8: #{$bo-accent8};
	--accent9: #{$bo-accent9};
	--accent10: #{$bo-accent10};
}