@import '../../../styles/variables';

.tacrAgritas-header {
	background-color: var(--base10);
	background-image: url('../../../assets/img/wheat.jpg');
	background-size: cover;
	background-position-y: center;
}

.tacrAgritas-header-content {
	max-width: 70rem;
	margin: 0 auto;
	padding: m(2) m(1);
}

.tacrAgritas-title {
	font-size: $b4;
	color: var(--base85);
}

/* Selection */
.tacrAgritas-selections {
	margin-top: m(2);
}

.tacrAgritas-header-select .ptr-select__input input {
	width: 0 !important;
}

.tacrAgritas-header-select-container {
	margin: m(1) 0;
	max-width: 25rem;
}

.tacrAgritas-header-select-label {
	color: var(--base60);
	font-size: $a1;
	padding: 0 .25rem 0 .15rem;
	display: flex;
	align-items: center;
}

.tacrAgritas-header-select-label .ptr-icon {
	width: 1.15rem;
	height: 1.15rem;
	margin-right: .35rem;
}

.tacrAgritas-header-select-label .ptr-icon .line {
	fill: var(--base60);
}

.tacrAgritas-header-select-value {
	color: var(--base75);
	font-size: $b2;
	font-weight: bold;
	padding: 0 .25rem;
}

.tacrAgritas-header-select-value::first-letter {
	text-transform: uppercase;
}

.tacrAgritas-header-select.ptr-select-container .ptr-select__control {
	border: 0;
	border-radius: 0;
	background: rgba(255,255,255,.5);
	height: 4.5rem;
}

.tacrAgritas-header-select.ptr-select-container .ptr-select__indicators {
	height: 4.5rem;
}

.tacrAgritas-header-select.ptr-select-container .ptr-select__single-value::first-letter {
	text-transform: uppercase;
}

.tacrAgritas-header-select.ptr-select-container .ptr-select__indicator-separator {
	display: none;
}

/* menu */
.tacrAgritas .ptr-select__menu {
	margin-top: .1rem;
	min-width: 6rem;
}

.tacrAgritas .ptr-select__menu .ptr-select__menu-list {
	background-color: var(--base0);
	max-height: 15rem;
}

.tacrAgritas .ptr-select__menu .tacrAgritas-header-select-label {
	display: none;
}

.tacrAgritas .ptr-select__menu .tacrAgritas-header-select-value {
	font-weight: normal;
	font-size: $a1;
}

.tacrAgritas .ptr-select__menu .tacrAgritas-header-select-value-container.disabled .tacrAgritas-header-select-value {
	color: var(--base30);
}

/* Fixed header */
.tacrAgritas-fixed-header {
	background: var(--accent90);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	transition: height .3s ease-in-out;
	overflow: hidden;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.5);
	z-index: 9999;
}

.tacrAgritas-fixed-header.open {
	height: 4rem;
}

.tacrAgritas-fixed-header-content {
	max-width: 70rem;
	margin: 0 auto;
	display: flex;
	overflow: hidden;
	align-items: center;
	height: 100%;
}

.tacrAgritas-fixed-header .tacrAgritas-title {
	font-size: $b2;
	color: var(--base0);
	margin: 0;
	padding: 0 m(1);
}

.tacrAgritas-fixed-header .tacrAgritas-selections {
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
	margin: 0;
}

.tacrAgritas-fixed-header .tacrAgritas-header-select-container {
	margin: 0 1rem 0 0;
	min-width: auto;
	width: auto;
}

.tacrAgritas-fixed-header .tacrAgritas-header-select-value-container {
	display: flex;
}

.tacrAgritas-fixed-header .tacrAgritas-header-select-label {
	padding: 0 .15rem 0 0;
}

.tacrAgritas-fixed-header .tacrAgritas-header-select-label .ptr-icon .line {
	fill: var(--accent30);
}

.tacrAgritas-fixed-header .tacrAgritas-header-select-label > div:last-child {
	display: none;
}

.tacrAgritas-fixed-header .tacrAgritas-header-select-value {
	font-weight: normal;
	font-size: $a1;
	color: var(--accent30);
	padding: 0;
}

.tacrAgritas-fixed-header .ptr-select__value-container > div:nth-child(1){
	color: var(--accent30);
}

.tacrAgritas-fixed-header .tacrAgritas-header-select.ptr-select-container .ptr-select__value-container {
	padding-right: .25rem;
}

.tacrAgritas-fixed-header .tacrAgritas-header-select.ptr-select-container .ptr-select__control {
	height: 2rem;
	background: transparent;
	min-width: 4rem;
}

.tacrAgritas-fixed-header .tacrAgritas-header-select.ptr-select-container:hover .ptr-select__control {
	background: rgba(255,255,255,.15);
}

.tacrAgritas-fixed-header .tacrAgritas-header-select.ptr-select-container .ptr-select__single-value {
	position: relative;
	display: contents; // TODO
}


.tacrAgritas-fixed-header .tacrAgritas-header-select.ptr-select-container .ptr-select__input {
	width: 0;
}

.tacrAgritas-fixed-header .tacrAgritas-header-select.ptr-select-container .ptr-select__indicators {
	height: 2rem;
}

.tacrAgritas-fixed-header .tacrAgritas-header-select.ptr-select-container .ptr-select__dropdown-indicator {
	padding-left: 0;
	color: rgba(var(--accent50rgb), .5);
}

.tacrAgritas-fixed-header .tacrAgritas-header-select.ptr-select-container .ptr-select__control:hover .ptr-select__dropdown-indicator {
	color: var(--accent30);
}

.tacrAgritas-fixed-header .tacrAgritas-header-select.ptr-select-container .ptr-select__dropdown-indicator > svg {
	width: 15px;
}

@media screen and (max-width: 60rem) {
	.tacrAgritas-title {
		font-size: $b3;
	}

	/* Selection */
	.tacrAgritas-selections {
		margin-top: m(1);
	}

	.tacrAgritas-header-select-container {
		margin: m(2/3) 0;
	}

	.tacrAgritas-header-select-label {
		font-size: $b1;
		padding: 0 .15rem;
	}

	.tacrAgritas-header-select-value {
		font-size: $a1;
		padding: 0 .15rem;
	}

	.tacrAgritas-header-select.ptr-select-container .ptr-select__control {
		height: 4rem;
	}

	.tacrAgritas-header-select.ptr-select-container .ptr-select__indicators {
		height: 4rem;
	}

	/* Fixed header */
	.tacrAgritas-fixed-header .tacrAgritas-title {
		font-size: $a1;
	}
	.tacrAgritas-fixed-header .tacrAgritas-selections {
		margin-right: .5rem;
	}

	.tacrAgritas-fixed-header .tacrAgritas-header-select-container {
		margin-right: .2rem;
	}
	.tacrAgritas-fixed-header .tacrAgritas-header-select-value,
	.tacrAgritas .ptr-select__menu .tacrAgritas-header-select-value {
		font-size: $b1;
	}

	.tacrAgritas .ptr-select__menu {
		min-width: 10rem;
	}
}

@media screen and (max-width: 45rem) {
	.tacrAgritas-fixed-header .tacrAgritas-title {
		display: none;
	}
}

@media screen and (max-width: 30rem) {
	.tacrAgritas-fixed-header.open {
		height: 6rem;
	}
	.tacrAgritas-fixed-header .tacrAgritas-selections {
		flex-direction: column;
	}
}