.ptr-unseea-chart-panel{
    display: flex;
    flex-flow: row;
}

.ptr-unseea-top-options{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.ptr-unseea-chart-column{
    flex: 1 1 0;
}