@import '~@gisatcz/ptr-core/src/styles/_variables';

.ptr-adjustable-columns {
	display: flex;
	width: 100%;
	height: 100%;
}

.ptr-adjustable-column {
	overflow: hidden;
}

.ptr-adjustable-column-handle {
	width: 0;
	flex: 0;
	position: relative;
}
.ptr-adjustable-column-handle > div {
	width: 4px;
	position: absolute;
	left: -2px;
	top: 0;
	bottom: 0;
	z-index: 10;

	cursor: ew-resize;
}

.ptr-adjustable-columns.fixed .ptr-adjustable-column-handle {
	display: none;
}

.ptr-adjustable-columns-content {
	width: 100%;
	height: 100%;
	overflow: auto;
	position: relative;
}