.ptr-input-text {
	margin: .3rem 0;
}
.ptr-input-text.uneditable {
	pointer-events: none;
}
.ptr-input-text input,
.ptr-input-text p {
	width: 100%;
	color: rgba(33,38,53,1);
	font-size: .9rem;
}
.ptr-input-text input {
	margin: .3rem 0;
}
.ptr-input-text.large input {
	font-size: 1.1rem;
}
.ptr-input-text.extraLarge input {
	font-size: 1.3rem;
}
.ptr-input-text.simple-decoration input {
	background: none;
	border: none;
	border-bottom: 2px solid transparent;
	transition: border-color .3s ease-in-out;
}
.ptr-input-text.simple-decoration input::placeholder {
	color: rgba(148,152,160,1);
}
.ptr-input-text.simple-decoration.empty input {
	border-bottom-color: rgba(106,110,120,.5);
}
.ptr-input-text.simple-decoration.empty input:focus,
.ptr-input-text.simple-decoration input:focus {
	border-bottom-color: rgba(106,110,120,1);
}
