@import "../../../../styles/variables";

.ptr-bo-test {
	width: 100%;
}
.ptr-bo-test:after {
	display: block;
	position: absolute;
	width: 1px;
	background: rgba(180,180,180,.3);
	left: 50%;
	height: 100%;
	content: " ";
	top: 0;
}
.testy {
	height: 12vw;
	display: flex;
	justify-content: space-evenly;
	background-color: var(--base0);
}
.testy > div {
	margin: 3vw 0;
	width: 6vw;
	height: 6vw;
	z-index: 1;
	position: relative;
}
.testy > div:nth-child(1) {
	background-color: var(--base0);
}
.testy > div:nth-child(2) {
	background-color: var(--base1);
}
.testy > div:nth-child(3) {
	background-color: var(--base2);
}
.testy > div:nth-child(4) {
	background-color: var(--base3);
}
.testy > div:nth-child(5) {
	background-color: var(--base4);
}
.testy > div:nth-child(6) {
	background-color: var(--base5);
}
.testy > div:nth-child(7) {
	background-color: var(--base6);
}
.testy > div:nth-child(8) {
	background-color: var(--base7);
}
.testy > div:nth-child(9) {
	background-color: var(--base8);
}
.testy > div:nth-child(10) {
	background-color: var(--base9);
}
.testy > div:nth-child(11) {
	background-color: var(--base10);
}
.testy.t2 > div:nth-child(1) {
	background-color: var(--accent0);
}
.testy.t2 > div:nth-child(2) {
	background-color: var(--accent1);
}
.testy.t2 > div:nth-child(3) {
	background-color: var(--accent2);
}
.testy.t2 > div:nth-child(4) {
	background-color: var(--accent3);
}
.testy.t2 > div:nth-child(5) {
	background-color: var(--accent4);
}
.testy.t2 > div:nth-child(6) {
	background-color: var(--accent5);
}
.testy.t2 > div:nth-child(7) {
	background-color: var(--accent6);
}
.testy.t2 > div:nth-child(8) {
	background-color: var(--accent7);
}
.testy.t2 > div:nth-child(9) {
	background-color: var(--accent8);
}
.testy.t2 > div:nth-child(10) {
	background-color: var(--accent9);
}
.testy.t2 > div:nth-child(11) {
	background-color: var(--accent10);
}
.testy.t3 > div {
	background-color: var(--accent0);
}
.testy.t3 > div:nth-child(2) {
	background-color: $bo-accent-lighter1;
}
.testy.t3 > div:nth-child(3) {
	background-color: $bo-accent-lighter2;
}
.testy.t3 > div:nth-child(4) {
	background-color: $bo-accent-lighter3;
}
