@import '../../../../styles/variables';

.szifLpisZmenovaRizeni-sentinel-explorer-header{
	display: flex;
	// align-items: flex-end;
	background: var(--accent60);
	padding: 1rem 0;
	justify-content: space-between;


	.szifLpisZmenovaRizeni-heading{
		display: flex;
		align-items: center;

		 > *{
			margin: 0 1rem;
		 }

		h2{
			margin: 0 1rem;
			font-weight: normal;
			font-size: $a2;
			color: var(--accent0);
		}

		.ptr-back-button{
			display: flex;
			align-items: center;
		}
	}

	.szifLpisZmenovaRizeni-cases-header-tools input{
		min-width: 20rem;
	}
};

.szifLpisZmenovaRizeni-sentinel-explorer-header-rightblock{
	margin: 0 1rem;
}
