@import '~@gisatcz/ptr-core/src/styles/_variables';
@import '../style';

.ptr-sankey-chart {

}

.ptr-sankey-chart-node {
	fill: var(--accent50);
	stroke: var(--accent50);
}

.ptr-sankey-chart-node-highlighted {
	fill: var(--accent80);
	stroke: var(--accent80);
}

.ptr-sankey-chart-text {
	fill: var(--base75);
	font-size: $b1;
}

.ptr-sankey-chart-link {
	fill: none;
	stroke: transparentize($gray5, 0.3);
}

.ptr-sankey-chart-link-highlighted {
	fill: none;
	stroke: transparentize($gray8, 0.4);
}