@import '~@gisatcz/ptr-core/src/styles/_variables';

.ptr-bo-screen-header {
	background: $bo-lighter1;
  	border-bottom: 1px solid $bo1;
  	padding-top: m(2/3);
  	padding-bottom: m(2/3);
}

.ptr-bo-screen-title {
	font-size: $b1;
  	color: $bo3;
  	text-transform: uppercase;
}

.ptr-bo-screen-switcher {

}

.ptr-bo-screen-content {
	padding-bottom: m(4/3);
	padding-top: m(4/3);
}

.ptr-bo-screen-buttons {
	display: flex;
	padding: 0 1px;
}

.ptr-bo-screen-buttons-left {
	flex: 1;
}