#floater-snow-widget {
	display: none;
	left: calc(50% - 400px);
	top: calc(50% - 250px);
	width: 800px;
	height: 500px;
	margin: 0;
}
#floater-snow-widget.open {
	display: block;
}
#floater-snow-widget .floater-body {
	padding-top: 1rem;
	height: calc(100% - 2.5rem);
}
.snow-table-caption {
	color: #555;
	font-size: .9rem;
}