<form>
	<label for="snow-reg-email">Email</label>
	<input id="snow-reg-email" placeholder="Enter email" type="email"/>
	<label for="snow-reg-password">Password</label>
	<input id="snow-reg-password" placeholder="Enter password" type="password"/>
	<label for="snow-reg-password-check">Repeat password</label>
	<input id="snow-reg-password-check" placeholder="Repeat password" type="password"/>
	<button class="widget-button" id="snow-reg-submit">Sign up</button>
</form>
<div id="snow-reg-info">
	<span></span>
</div>