@import "../../../styles/_variables.scss";

.ptr-maptimeline{
    display: flex;
}

.ptr-maptimelinelegend{
    display: flex;
    flex-flow: column;
    line-height: $a1;
    font-size: $a1;
    max-width: 14rem;
}
.ptr-maptimelinelegend span{
    padding: 0 $a1;
}

.ptr-maptimeline-legenditem{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}