@import '../../../../../styles/variables';

.esponFuore-areas-filter {
  padding: m(1) m(4/3) 0 m(1);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.esponFuore-areas-filter-content {
  flex: 1;
}

.esponFuore-areas-filter-attribute {
  margin-bottom: m(4/3);
}

.esponFuore-areas-filter-attribute.slider {
  padding-right: .7rem;
}

.esponFuore-areas-filter-attribute > span {
  display: inline-block;
  margin-bottom: .25rem;
  font-size: $b1;
  font-weight: bold;
  color: var(--base70);

}

.esponFuore-areas-filter-buttons {
  margin-top: m(4/3);
  margin-bottom: m(1);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.esponFuore-areas-filter-areas-info {
  flex: 1;
  color: var(--accent50);
  white-space: nowrap;
}

.esponFuore-attribute-slider {
  margin: 0 .35rem 0;
}

.esponFuore-attribute-slider .rc-slider-mark-text {
  font-size: $b1;
  color: var(--base50);
}

.esponFuore-attribute-slider .rc-slider-track {
  background-color: var(--accent40);
}

.esponFuore-attribute-slider .rc-slider-handle,
.esponFuore-attribute-slider .rc-slider-handle-click-focused,
.esponFuore-attribute-slider .rc-slider-handle-click-focused:focus {
  border: 3px solid var(--accent40);
}

.esponFuore-attribute-slider .rc-slider-handle:hover {
  border-color: var(--accent50);
}

// TODO find out how to add custom class
.rc-slider-tooltip {
  z-index: 999999;
}

.rc-slider-tooltip .rc-slider-tooltip-inner {
  padding: .35rem .5rem;
  font-size: $b1;
  background: $lightBase90;
}

.rc-slider-tooltip.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
  border-top-color: $lightBase90;
}