@import '~@gisatcz/ptr-core/src/styles/_variables';

.ptr-user {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: m(5/3);
}

.ptr-user > div {
	flex-grow: 0;
}

.ptr-user-options {
	display: flex;
	align-items: center;
}

.ptr-user-name, .ptr-user-login {
	display: flex;
	height: m(4/3);
	padding: .25rem;
	font-size: $a1;
	white-space: nowrap;
	overflow: hidden;
}

.ptr-user-login {
	height: 2.5rem;
	display: flex;
	align-items: center;
}

.ptr-user-login {
	align-items: center;
}

.ptr-user-login > a {
	cursor: pointer;
}

