.snapshots-window .ptr-window-content {
	padding: 1rem 0 1rem 1rem;
	overflow-y: auto;
	height: 100%;
	width: 100%;
}

.ptr-snapshots-container {
	margin-top: 1.5rem;
	display: flex;
	flex-wrap: wrap;
}