@import '~@gisatcz/ptr-core/src/styles/_variables';
@import '../../../../apps/backOffice/styles/variables';

// TODO refactor colors

.ptr-item,
a.ptr-item {
	height: m(1 + 1/3);
	display: flex;
	border-radius: .25rem;
	border: 2px solid $bo-accent3;
	background: $bo-accent-lighter1;
	margin-bottom: m(1/3);
	color: $accent8;
	position: relative;
}

.ptr-item.disabled,
a.ptr-item.disabled {
	pointer-events: none;
	border-color: var(--base30);
	background: var(--base10);
	color: var(--base30);
}

a.ptr-item {
	cursor: pointer;
}

.ptr-item .ptr-icon.hover:hover{
	color: $accent5;
}

.ptr-item:hover {
	border-color: $accent5;
}


.ptr-item .label{
	padding: m(1/12) .375rem 0;
	line-height: calc(#{m(1 + 1/3)} - 4px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ptr-item .option-id{
	line-height: 1rem;
	display: inline-block;
    width: 1.75rem;
	font-size: $a0;
	color: var(--base4);
}

.ptr-item .ptr-item-actions-end{
    padding: 0 0.375rem;
	flex-grow: 2;
	display: flex;
	justify-content: flex-end;
}

.ptr-item .ptr-item-actions-start{
	padding: 0 0.375rem;
	display: flex;
	justify-content: flex-end;
}

.ptr-item .ptr-order-placeholder{
	width: $a1;
	height: $a1;
}


/* SPECIFIC OPTIONS PASSED AS PROPS */
.ptr-item.ptr-option-add{
	border-style: dashed;
	background: none;
}
