@import '../../../../styles/variables';
@import '../../../../apps/backOffice/styles/variables';

/*
	BASIC
		Options
		Key prefix
		Multi
		Disabled

	VALUE IS TITLE
*/

/* === BASIC ======================================== */
.ptr-select-container .ptr-select__control {
	background: var(--base0); // todo
	border-radius: .25rem;
	height: m(4/3);
	min-height: initial;
	min-width: 10rem;
	border-color: var(--base50); // todo
}

.ptr-select-container .ptr-select__control:hover {
	border-color: var(--base70); // todo
}

.ptr-select-container .ptr-select__control--is-focused {
	box-shadow: 0 0 2px 2px var(--accent60); // todo
}

.ptr-select-container .ptr-select__value-container {
	padding: 0 .5rem;
	position: initial;
}

.ptr-select-container .ptr-select__single-value {
	color: var(--base100); // todo
}

.ptr-select-container .ptr-select__placeholder {
	color: var(--base70); // todo
}

.ptr-select-container .ptr-select__value-container > div {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.ptr-select-container .ptr-select__indicators {
	padding: 0;
	height: 2rem;
}

.ptr-select-container .ptr-select__dropdown-indicator,
.ptr-select-container .ptr-select__clear-indicator {
	color: var(--base50); // todo
	cursor: pointer;
}

.ptr-select-container .ptr-select__indicator-separator {
	background: var(--base50); // todo
}

.ptr-select-container .ptr-select__control:hover .ptr-select__dropdown-indicator,
.ptr-select-container .ptr-select__control--is-focused .ptr-select__dropdown-indicator,
.ptr-select-container .ptr-select__dropdown-indicator:hover,
.ptr-select-container .ptr-select__clear-indicator:hover {
	color: var(--base70); // todo
}

.ptr-select-container .ptr-select__control:hover .ptr-select__indicator-separator,
.ptr-select-container .ptr-select__control--is-focused .ptr-select__indicator-separator {
	background: var(--base70); // todo
}

.ptr-select-container .ptr-select__control .label {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 2rem;
}

.ptr-select-container.clearable .ptr-select__control .label {
	padding-right: 4rem;
}

/* Options */
.ptr-select-container .ptr-select__menu {
	margin-top: 0;
	z-index: 10;
}

.ptr-select__menu .ptr-select__menu-list {
	background-color: var(--base20); // todo
	color: var(--base100); // todo
	padding: 0;
  max-height: 10rem;
}

.ptr-select__menu .ptr-select__option {
	padding: .25rem .75rem;
}

.ptr-select__menu .ptr-select__option--is-focused {
	background-color: var(--accent30);
}

.ptr-select__menu .ptr-select__option--is-selected {
	background-color: var(--accent50);
}

.ptr-select__menu .ptr-select__option .label.emphasized {
	font-weight: 700;
}

/* Key prefix */
.ptr-select-container .option-id{
	display: inline-block;
	color: var(--base50);
	font-size: $b1;
	width: 2.3rem;
}

.ptr-select-container .ptr-select__menu .ptr-select__option--is-selected .option-id{
	color: var(--accent20);
}

/* Multi */
.ptr-select-container.multi .ptr-select__control {
  height: auto;
}

.ptr-select-container.multi .ptr-select__value-container {
	padding: 0 0 0 .25rem;
}

.ptr-select-container.multi .ptr-select__multi-value {
  margin: .15rem .3rem .15rem 0;
  background: var(--base25);
}

.ptr-select-container.multi .ptr-select__multi-value__label {
  color: var(--base80);
}

.ptr-select-container.multi .ptr-select__multi-value__remove {
  color: var(--base100);
}

.ptr-select-container.multi .ptr-select__multi-value__remove:hover {
  background: var(--accent35);
}

.ptr-select-container.clearable.multi .ptr-select__control .label {
  padding-right: .15rem;
}

/* Disabled */
.ptr-select-container.disabled  .ptr-select__control {
	border-color: var(--base30); // todo
}

.ptr-select-container.disabled .ptr-select__single-value {
	color: var(--base50); // todo
}

.ptr-select-container.disabled  .ptr-select__dropdown-indicator {
	color: var(--base30); // todo
}

.ptr-select-container.disabled  .ptr-select__indicator-separator {
	background: var(--base30); // todo
}

.ptr-select-container.disabled .option-id{
	color: var(--base40);
}

/* === VALUE IS TITLE =================================================== */
.ptr-select-container.value-is-title .ptr-select__control {
	background: none;
	border: 0;
	border-bottom: 1px dashed var(--base30); // todo
	font-size: $a2;
	font-weight: 400;
	height: m(5/3);
}

.ptr-select-container.value-is-title .ptr-select__value-container > div {
	margin-top: .3rem;
}

.ptr-select-container.value-is-title .ptr-select__indicator-separator {
	display: none;
}

.ptr-select-container.value-is-title .ptr-select__indicators {
	margin-top: .3rem;
	height: 2.5rem;
}

.ptr-select-container.value-is-title .ptr-select__control--is-focused {
	box-shadow: none; // todo
}