/* = Evaluation floater = */
#floater-custom-polygons-widget {
	left: 15rem;
	top: 9rem;
	min-width: 17rem;
	width: 25rem;
	max-width: 30rem;
	height: 20rem;
}

#floater-custom-polygons-widget .floater-body {
	height: calc(100% - 2rem);
	padding: 0 0 .5rem;
}

#floater-custom-polygons-widget .floater-body .floater-row {
	margin: .5rem 0;
}

#floater-custom-polygons-widget .floater-body > div {
	padding: .5rem;
}

#floater-custom-polygons-widget .floater-body > div:nth-child(even){
	padding: .5rem;
	background: rgba(200,200,200,.1);
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
}

#floater-custom-polygons-widget .map-button {
	min-width: 4rem;
	padding: .4rem .7rem;
	margin: .2rem .2rem .2rem 0;
	text-transform: none;
	text-align: center;
}