/* = Evaluation floater = */
#floater-custom-polygons-widget {
	left: 15rem;
	top: 9rem;
	min-width: 17rem;
	width: 25rem;
	max-width: 30rem;
	height: 20rem;
}

#floater-custom-polygons-widget .floater-body {
	height: calc(100% - 2rem);
	padding: .5rem .4rem .5rem .2rem;
}

#floater-custom-polygons-widget .floater-body .floater-row {
	margin: 0 0 .5rem 0;
}
#floater-custom-polygons-widget .floater-row.checkbox-row a:hover {
	background: transparent;
}
#floater-custom-polygons-widget .floater-row.layer-check {
	border-bottom: 1px solid #ddd;
}

#floater-custom-polygons-widget .floater-body > div {
	padding: .5rem;
}

#floater-custom-polygons-widget .map-button {
	min-width: 4rem;
	padding: .4rem .7rem .3rem;
	margin: .2rem .2rem .2rem 0;
	text-transform: none;
	text-align: center;
}
