<div id="custom-lines-container">
	<div class="floater-row">
		<div class="floater-row-caption">Draw custom lines</div>
		<div class="widget-button map-button button-drawing-activation" id="button-draw-lines">Actviate drawing</div>
		<div class="widget-button map-button" id="button-clear-lines" disabled="disabled">Clear all</div>
		<div class="widget-button map-button" id="button-save-lines" disabled="disabled">Save and send</div>
	</div>
	<div class="floater-row">
		<div id="{{id}}-table-container"></div>
	</div>
</div>