#floater-custom-integration-layers {
	left: 16rem;
	top: 10rem;
	min-width: 30rem;
	max-width: 40rem;
	height: 30rem;
	min-height: 20rem;
	max-height: 35rem;
}
#floater-custom-integration-layers .floater-body {
	padding: 1rem 1rem 1rem .5rem;
	height: calc(100% - 6.3rem);
}
#floater-custom-integration-layers .floater-footer {
	border-top: 2px solid #ddd;
	padding: .8rem;
	height: 4rem;
	background: rgba(233,235,237,1);
}
