.toggle-icon {
	padding: 0 .5rem;
	color: rgba(106,110,120,1);
}
.toggle-icon:before {
	content: "\f205";
	display: block;
	transform: rotate(180deg);
	font-family: "FontAwesome";
	font-size: 1.3rem;
}
.toggle-icon.active:before {
	content: "\f205";
	transform: rotate(0deg);
	color: rgba(186,65,91,1);
}