
<div class="tour-overlay"></div>
<ol class="tourbus-legs" id={{id}}>
	<li data-el='#top-toolbar' data-orientation='bottom' data-align='center'  data-highlight="true">
		<h2>Let's take a quick tour through SnowPortal</h2>
		<p>Lorem ipsum lorem ipsum lorem ipsum</p>
		<div class="tourbus-buttons">
			<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-stop'>Quit</a>
			<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-next'>Next</a>
		</div>
	</li>
	<li data-el='#scope-config-area' data-iframe='#snow-iframe' data-orientation='bottom' data-align='center'  data-highlight="true">
		<h2>Select Area</h2>
		<p>Lorem ipsum lorem ipsum lorem ipsum</p>
		<div class="tourbus-buttons">
			<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-stop'>Quit</a>
			<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-next'>Next</a>
		</div>
	</li>
	<li data-el='#overview-header-scope' data-iframe='#snow-iframe' data-orientation='bottom' data-align='center'  data-highlight="true" data-left="100px">
		<h2>Dashboard</h2>
		<p>Lorem ipsum lorem ipsum lorem ipsum</p>
		<div class="tourbus-buttons">
			<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-stop'>Quit</a>
			<a href='javascript:void(0);' class='button-ui button-ui-tourbus tourbus-next'>Next</a>
		</div>
	</li>
</ol>
