<div class="tools-buttons-container">
	<div id="feature-info" class="tool">Info</div>
</div>
<div id="feature-info-window">
	<div class="feature-info-window-header">Feature name (GID)</div>
	<div class="feature-info-window-body">
		<table>
			<tr>
				<td>Population: </td>
				<td>666,666</td>
			</tr>
			<tr>
				<td>Attribute: </td>
				<td>True</td>
			</tr>
			<tr>
				<td>Attribute with long name: </td>
				<td>Long </td>
			</tr>
			<tr>
				<td>Attribute with long name: </td>
				<td>Long value of the attribute</td>
			</tr>
			<tr>
				<td>Population: </td>
				<td>666,666</td>
			</tr>
			<tr>
				<td>Attribute: </td>
				<td>True</td>
			</tr>
			<tr>
				<td>Attribute with long name: </td>
				<td>Long value of the attribute</td>
			</tr>
			<tr>
				<td>Population: </td>
				<td>666,666</td>
			</tr>
			<tr>
				<td>Attribute: </td>
				<td>True</td>
			</tr>
			<tr>
				<td>Attribute with long name: </td>
				<td>Long value of the attribute</td>
			</tr>
		</table>
	</div>
</div>