#feature-info-window {
	background: rgba(255,255,255,.9);
	border: 1px solid #ccc;
	border-radius: .1rem;
	box-shadow: 0 0 1px rgba(136,136,136,.5);
	color: #555;
	display: none;
	height: 10rem;
	left: 100px;
	padding: .3rem 0 .3rem .5rem;
	position: absolute;
	right: 100px;
	width: 14rem;
	z-index: 9999;
}
#feature-info-window .feature-info-window-header {
	font-size: .85rem;
	font-weight: 700;
	padding-right: .8rem;
}
#feature-info-window .feature-info-window-body {
	margin: .4rem .2rem .2rem 0;
	overflow-x: hidden;
	overflow-y: auto;
	height: 7.6rem;
}
#feature-info-window .feature-info-window-body table tr {
	border-top: 1px solid #ddd;
}
#feature-info-window .feature-info-window-body table tr:last-child {
	border-bottom: 1px solid #ddd;
}
#feature-info-window .feature-info-window-body table tr td {
	font-size: .7rem;
	padding: .15rem .2rem .15rem .1rem;
}
#feature-info-window .feature-info-window-body table tr td:first-child {
	font-weight: 600;
}
#feature-info-window .feature-info-window-body table tr td:last-child {
	text-align: right;
}