.component-button {
	border: .1rem solid rgb(65,69,81);
	border-radius: .15rem;
	color: rgb(33,38,53);
	cursor: pointer;
	font-size: .9rem;
	font-weight: 600;
	line-height: 1.9rem;
	transition: background .3s ease-in-out;
	width: 8rem;
}
.component-button:hover {
	background: rgba(65,69,81,.15);
}

/* text */
.component-button.text-centered {
	text-align: center;
}
.component-button.text-small {
	font-size: .8rem;
	line-height: 1.7rem;
}

/* widths */
.component-button.w5 {
	width: 5rem;
}
.component-button.w6 {
	width: 6rem;
}
.component-button.w8 {
	width: 8rem;
}
.component-button.w10 {
	width: 10rem;
}
.component-button.w12 {
	width: 12rem;
}
.component-button.w14 {
	width: 14rem;
}
.component-button.compare-button {
	display: inline-block;
	vertical-align: middle;
	background: rgba(255, 255, 255, .25);
	border: 1px solid rgba(255, 255, 255, .3);
	border-radius: .05rem;
	color: #ddd;
	height: 23px;
	line-height: 21px;
}
.component-button.compare-button:hover {
	background: rgba(255, 255, 255, .15);
}