$lightAccent0: hsl(40,100%,99.41%);
$lightAccent05: hsl(220.91,32.3%,97.31%);
$lightAccent10: hsl(220.41,46.53%,95.63%);
$lightAccent15: hsl(220.05,53.41%,93.71%);
$lightAccent20: hsl(219.61,57.92%,91.12%);
$lightAccent25: hsl(219,61.01%,87.61%);
$lightAccent30: hsl(218.16,63.09%,83.09%);
$lightAccent35: hsl(216.97,64.58%,77.52%);
$lightAccent40: hsl(215.31,65.84%,70.91%);
$lightAccent45: hsl(212.83,67.31%,62.99%);
$lightAccent50: hsl(211.03,59.26%,54.54%);
$lightAccent50rgb: 73, 138, 208;
$lightAccent55: hsl(211.55,47.18%,47.9%);
$lightAccent60: hsl(212.09,44.89%,41.86%);
$lightAccent65: hsl(212.64,42.63%,36.58%);
$lightAccent70: hsl(213.16,40.44%,32.12%);
$lightAccent75: hsl(213.65,38.36%,28.4%);
$lightAccent80: hsl(214.14,36.27%,25.12%);
$lightAccent85: hsl(214.7,33.84%,21.82%);
$lightAccent90: hsl(215.48,30.22%,17.78%);
$lightAccent95: hsl(216.78,22.93%,12.11%);
$lightAccent100: hsl(45,100%,0.87%);