/* = City floater = */
#floater-city-selection {
	height: 21.5rem;
	left: 15rem;
	top: 9rem;
	width: 20rem;
}
#floater-city-selection .floater-body {
	height: calc(100% - 11rem);
	padding-bottom: .2rem;
}
#floater-city-selection .select-menu-box .ui-selectmenu-button {
	width: 18rem;
}
#floater-city-selection .select-menu-box:nth-child(2),
#floater-city-selection .select-menu-box:nth-child(3) {
	display: inline-block;
	width: 50%;
}
#floater-city-selection .select-menu-box:nth-child(2) .ui-selectmenu-button,
#floater-city-selection .select-menu-box:nth-child(3) .ui-selectmenu-button {
	width: 95%;
}
/* foooter */
#floater-city-selection .floater-footer {
	border: 0;
	height: 8rem;
	padding-top: 0;
}

#melodies-selection-confirm {
	margin-bottom: .2rem;
	width: 60%;
}
#melodies-selection-confirm[disabled=disabled] {
	background: #eee;
	color: #aaa;
	font-style: italic;
	pointer-events: none;
	text-transform: none;
}
#melodies-selection-confirm[disabled=disabled]:hover {
	cursor: none;
}

#melodies-selection-confirm.failed {
	color: red;
	text-transform: none;
}

#floater-city-selection .table-row {
	border-bottom: 2px solid #ddd;
	border-top: 2px solid #ddd;
	height: 6rem;
	overflow: auto;
	background: #f5f5f5;
}
#floater-city-selection .table-row > table {
	width: 100%;
}
#floater-city-selection .table-row > table tr {
	border-bottom: 1px solid #ddd;
}
#floater-city-selection .table-row > table tr:last-child {
	border-bottom: 0;
}
#floater-city-selection .table-row > table tr td {
	color: #888;
	font-size: .7rem;
	line-height: 1.5rem;
	padding: 0 .2rem;
	text-align: left;
}
#floater-city-selection .table-row > table tr td.column-status {
	min-width: 4rem;
	padding-right: .3rem;
	text-align: right;
}
#floater-city-selection .table-row > table tr td.column-status:after {
	display: inline-block;
	padding-left: .5rem;
	vertical-align: middle;
}
#floater-city-selection .table-row > table tr td.column-status.running:after {
	content: url("../../../../../images/melodies/run.png");
}
#floater-city-selection .table-row > table tr td.column-status.failed:after {
	content: url("../../../../../images/melodies/fail.png");
}
#floater-city-selection .table-row > table tr td.column-status.success:after {
	content: url("../../../../../images/melodies/success.png");
}
#floater-city-selection .table-row > table tr td.column-id {
	text-align: right;
}