@import '~@gisatcz/ptr-core/src/styles/_variables';

.ptr-bo-app-select-item {
	height: m(2);
	width: 12rem;

	position: relative;

	transition: background .5s ease-in-out;
}
.ptr-bo-app-select-item:not(.ptr-bo-app-select-current) {
	background: rgba(255,255,255,.1);
}
.ptr-bo-app-select-item:not(.disabled) {
	cursor: pointer;
}
.ptr-bo-app-select-item:not(.disabled)::after {
	@include positionFill;
	pointer-events: none;
	content: ' ';
	transition: background .3s ease-in-out;
}
.ptr-bo-app-select-item:not(.disabled):hover::after {
	background: rgba(255,255,255,.15);
}

.ptr-bo-app-select-item > span {
	position: absolute;
	top: 50%;
	left: .75rem;
	transform: translateY(-50%);
	color: #ccc;
	//allow no more than two lines
	line-height: 1.1;
	max-height: 2.2rem;
	overflow: hidden;
	//block overflow for long single word
	max-width: calc(100% - 3rem);
	text-overflow: ellipsis;
}

.ptr-bo-app-select-item > .ptr-icon {
	position: absolute;
	top: 50%;
	right: .5rem;
	width: m(1);
	height: m(1);
	transform: translateY(-50%);
}
.ptr-bo-app-select-item > .ptr-icon .line {
	fill: var(--base0);
}


.ptr-bo-app-select-list {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 100vh;

	padding-top: m(2);

	pointer-events: none;

	//background: rgba(255,255,0,.3);

	display: flex;
}
.ptr-bo-app-select-list.open {
	//height: 100vh;
}

.ptr-bo-app-select-list > div {
	width: 100%;
	height: 100%;

	overflow: hidden;

	//background: #f00c;
}

.ptr-bo-app-select-list > div > div {

	//height: 100%;
	//padding: m(2/3) m(2/3) 0;
	padding: m(2/3);


	transform: translateY(-100%);
	transition: transform .3s ease-in-out;

	background: rgba(var(--base12rgb), .8);

	pointer-events: all;
}
.ptr-bo-app-select-list.open > div > div {
	transform: none;
}
.ptr-bo-app-select-list .ptr-bo-app-select-item {
	margin-bottom: m(2/3);
}