@import '../../../../styles/variables';

.ptr-bo-app-select-item {
	height: m(2);
	width: 12rem;

	position: relative;
}

.ptr-bo-app-select-item > span {
	position: absolute;
	top: 50%;
	left: .75rem;
	transform: translateY(-50%);
	color: #ccc;
}

.ptr-bo-app-select-item > .ptr-icon {
	position: absolute;
	top: 50%;
	right: .5rem;
	transform: translateY(-50%);
}

.ptr-bo-app-select-list {
	position: absolute;
	padding: m(1/3) m(1/3) 0;

	transform-origin: top;
	transition: transform .3s ease-in-out;
	transform: scaleY(0);

	background: $gray10;
}
.ptr-bo-app-select-list.open {
	transform: none;
}
.ptr-bo-app-select-list > .ptr-bo-app-select-item {
	margin-bottom: m(1/3);
}