/* = Evaluation floater = */
#floater-evaluation-widget {
    left: 16rem;
    top: 10rem;
    min-width: 22rem;
    max-width: 40rem;
    height: 32rem;
    min-height: 20rem;
    max-height: 35rem;
}

#floater-evaluation-widget.pinned {
    min-width: 350px;
    max-width: 350px;
    max-height: none;
    height: 100%;
}

#floater-evaluation-widget .floater-body {
    height: calc(100% - 12rem);
    padding: 0 0 .5rem;
}

#floater-evaluation-widget .floater-footer {
    height: 9rem;
    border-top: 2px solid #ddd;
    background: rgba(233,235,237,1);
}

/* floater body */
#floater-evaluation-widget .floater-body > div:nth-child(odd) {
    padding: .8rem;
    background: #eee;
}

#floater-evaluation-widget .floater-body > div:nth-child(even){
    padding: .8rem;
    border-bottom: 1px dashed #aaa;
    border-top: 1px dashed #aaa;
}

#floater-evaluation-widget .floater-row .slider-caption,
#floater-evaluation-widget .floater-row .select-menu-caption {
    margin-bottom: .2rem;
}

#floater-evaluation-widget .floater-row.slider-box,
#floater-evaluation-widget .floater-row.checkbox-row,
#floater-evaluation-widget .floater-row.select-menu-box,
#floater-evaluation-widget .floater-row.row-export
{
    margin: 0;
}

/* Footer */
#floater-evaluation-widget .footer-buttons {
    justify-content: center;
    display: flex;
}
#floater-evaluation-widget .footer-buttons .widget-button {
    width: 33%;
    margin: 0 .2rem;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    font-size: .875rem;
    line-height: 1.5;
    padding: .35rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#floater-evaluation-widget .footer-buttons .widget-button.hidden {
    display: none;
}

/*#evaluation-confirm[disabled=disabled], #evaluation-unselect[disabled=disabled] {*/
    /*pointer-events: none;*/
    /*color: #bbb;*/
    /*background: #e5e5e5;*/
/*}*/

#evaluation-confirm-icon {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.widget-button-export:before {
    font-family: "FontAwesome";
    font-size: 1rem;
    margin: 0 .5rem;
}

#export-json:before {
    content: "\f1c9";
}
#export-csv:before {
    content: "\f15c";
}
#export-xls:before {
    content: "\f1c3";
}
#export-shp:before {
    content: "\f1c6";
}