$lightAccent0: hsl(40,100%,99.41%);
$lightAccent5: hsl(33.59,100%,97.44%);
$lightAccent10: hsl(32.86,100%,95.87%);
$lightAccent15: hsl(32.48,100%,94.1%);
$lightAccent20: hsl(32.22,100%,91.74%);
$lightAccent25: hsl(32.03,100%,88.59%);
$lightAccent30: hsl(31.89,100%,84.64%);
$lightAccent35: hsl(31.8,100%,79.95%);
$lightAccent40: hsl(31.78,100%,74.7%);
$lightAccent45: hsl(31.89,100%,69.03%);
$lightAccent50: hsl(32.26,100%,62.92%);
$lightAccent50rgb: 255,168,66;
$lightAccent55: hsl(33.4,92.25%,55.28%);
$lightAccent60: hsl(33.11,72.26%,48.19%);
$lightAccent65: hsl(32.84,69.99%,42%);
$lightAccent70: hsl(32.6,67.86%,36.77%);
$lightAccent75: hsl(32.39,65.86%,32.4%);
$lightAccent80: hsl(32.19,63.88%,28.56%);
$lightAccent85: hsl(31.97,61.57%,24.7%);
$lightAccent90: hsl(31.68,58.13%,20%);
$lightAccent95: hsl(31.46,51.64%,13.37%);
$lightAccent100: hsl(43.33,95.07%,0.91%);

$darkAccent0: hsl(45,100%,0.78%);
$darkAccent5: hsl(31.59,51.07%,12.55%);
$darkAccent10: hsl(31.53,55.85%,17.51%);
$darkAccent15: hsl(31.73,58.68%,20.68%);
$darkAccent20: hsl(31.92,60.97%,23.78%);
$darkAccent25: hsl(32.14,63.42%,27.75%);
$darkAccent30: hsl(32.41,66.13%,32.95%);
$darkAccent35: hsl(32.72,68.94%,39.34%);
$darkAccent40: hsl(33.04,71.69%,46.58%);
$darkAccent45: hsl(33.35,87.58%,54.11%);
$darkAccent50: hsl(32.41,100%,61.54%);
$darkAccent50rgb: 255,165,59;
$darkAccent55: hsl(31.99,100%,66.62%);
$darkAccent60: hsl(31.85,100%,70.45%);
$darkAccent65: hsl(31.8,100%,73.26%);
$darkAccent70: hsl(31.78,100%,75.23%);
$darkAccent75: hsl(31.78,100%,76.67%);
$darkAccent80: hsl(31.79,100%,78.06%);
$darkAccent85: hsl(31.8,100%,80.07%);
$darkAccent90: hsl(31.86,100%,83.48%);
$darkAccent95: hsl(32.06,100%,89.2%);
$darkAccent100: hsl(34.47,100%,98.24%);
$darkAccent70: hsl(33.37,89.09%,54.5%);
$darkAccent75: hsl(33.43,94.81%,55.89%);
$darkAccent80: hsl(33,98.99%,58.48%);
$darkAccent85: hsl(32.19,100%,63.7%);
$darkAccent90: hsl(31.83,100%,71.07%);
$darkAccent95: hsl(31.83,100%,81.87%);
$darkAccent100: hsl(33.62,100%,97.47%);