$lightAccent0: hsl(350,60.64%,36.86%);
$lightAccent5: hsl(350.19,60.12%,36.07%);
$lightAccent10: hsl(350.35,59.71%,35.43%);
$lightAccent15: hsl(350.52,59.24%,34.71%);
$lightAccent20: hsl(350.77,58.6%,33.75%);
$lightAccent25: hsl(351.1,57.72%,32.46%);
$lightAccent30: hsl(351.54,56.59%,30.82%);
$lightAccent35: hsl(352.09,55.19%,28.88%);
$lightAccent40: hsl(352.75,53.55%,26.71%);
$lightAccent45: hsl(353.51,51.69%,24.41%);
$lightAccent50: hsl(354.36,49.66%,22.08%);
$lightAccent55: hsl(355.28,47.52%,19.85%);
$lightAccent60: hsl(356.24,45.33%,17.79%);
$lightAccent65: hsl(357.22,43.17%,15.99%);
$lightAccent70: hsl(358.18,41.09%,14.45%);
$lightAccent75: hsl(359.38,39.14%,13.15%);
$lightAccent80: hsl(1.1,38.21%,11.93%);
$lightAccent85: hsl(3.74,38.4%,10.61%);
$lightAccent90: hsl(6.79,40.22%,8.99%);
$lightAccent95: hsl(10.54,47.91%,6.44%);
$lightAccent100: hsl(43.79,97.55%,0.83%);