@import '../../../styles/variables';
.ptr-navlist{
    background-color: var(--base2);
    height: 100%;
    padding: m(2/3) 0;
}

.ptr-navlist ul{
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.ptr-navlist li.ptr-nav-item-folder {
    margin-left: 3px;
}
.ptr-navlist li.ptr-nav-item {
    border-left: 3px;
    border-left-style: solid;
    border-left-color: var(--base4);
}
.ptr-navlist li.ptr-nav-item:hover,
.ptr-navlist li.ptr-nav-item:focus-within {
    border-left-color: var(--accent7);
}
.ptr-navlist li.ptr-nav-item.selected {
    border-left-color: var(--accent7);
}

.ptr-navlist li.ptr-nav-item a, 
.ptr-navlist li.ptr-nav-item a:link,
.ptr-navlist li.ptr-nav-item a:focus,
.ptr-navlist li.ptr-nav-item a:visited {
    display: block;
    color: var(--base7);
    text-decoration: none;
    /* transition: all 400ms; background animation */
}

.ptr-navlist li.ptr-nav-item.selected a,
.ptr-navlist li.ptr-nav-item a:hover,
.ptr-navlist li.ptr-nav-item a:focus {
    color: var(--accent7);
    background-color: var(--base2);
}

.ptr-navlist li.ptr-nav-item-folder {
    padding: m(1/3) m(1);
}

.ptr-navlist li.ptr-nav-item a {
    padding: m(1/3) m(1.5);
}

.ptr-navlist li.ptr-nav-item a.selected{
    background: var(--accent3);
}
