@import '~@gisatcz/ptr-core/src/styles/_variables';
.ptr-navlist{
    background-color: var(--base20);
    height: 100%;
    padding: m(2/3) 0;
}

.ptr-navlist ul{
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.ptr-navlist li.ptr-nav-item-folder {
    margin-left: 3px;
}
.ptr-navlist li.ptr-nav-item {
    border-left: 3px;
    border-left-style: solid;
    border-left-color: var(--base40);
}
.ptr-navlist li.ptr-nav-item:hover,
.ptr-navlist li.ptr-nav-item:focus-within {
    border-left-color: var(--accent70);
}
.ptr-navlist li.ptr-nav-item.selected {
    border-left-color: var(--accent70);
}

.ptr-navlist li.ptr-nav-item a, 
.ptr-navlist li.ptr-nav-item a:link,
.ptr-navlist li.ptr-nav-item a:focus,
.ptr-navlist li.ptr-nav-item a:visited {
    display: block;
    color: var(--base70);
    text-decoration: none;
    /* transition: all 400ms; background animation */
}

.ptr-navlist li.ptr-nav-item.selected a,
.ptr-navlist li.ptr-nav-item a:hover,
.ptr-navlist li.ptr-nav-item a:focus {
    color: var(--accent7);
    background-color: var(--base30);
}

.ptr-navlist ul li span,
.ptr-navlist ul li a {
    display: inline-block;
    padding: m(1/3) m(1);
}

.ptr-navlist ul ul li span,
.ptr-navlist ul ul a {
    padding: m(1/3) m(1.5);
}

.ptr-navlist li.ptr-nav-item a.selected{
    background: var(--accent30);
}
