@import '../../../styles/variables';
.ptr-navlist{
    background-color: var(--base1);
}

.ptr-navlist ul{
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.ptr-navlist li.ptr-nav-item-folder {
    margin-left: 3px;
}
.ptr-navlist li.ptr-nav-item {
    border-left: 3px;
    border-left-style: solid;
    border-left-color: var(--base3);
}
.ptr-navlist li.ptr-nav-item:hover {
    border-left-color: $accent6;
}
.ptr-navlist li.ptr-nav-item.selected {
    border-left-color: $accent6;
}

.ptr-navlist li.ptr-nav-item a, 
.ptr-navlist li.ptr-nav-item a:link,
.ptr-navlist li.ptr-nav-item a:focus,
.ptr-navlist li.ptr-nav-item a:visited {
    display: block;
    color: var(--base6);
    text-decoration: none;
    /* transition: all 400ms; background animation */
}

.ptr-navlist li.ptr-nav-item a:hover,
.ptr-navlist li.ptr-nav-item a:focus {
    color: var(--accent5);
    background-color: var(--base2);
}

.ptr-navlist li.ptr-nav-item-folder,
.ptr-navlist li.ptr-nav-item a {
    padding: m(.5) m(1.5);
}

.ptr-navlist li.ptr-nav-item a.selected{
    background: $accent3;
}
