#dromasLpisChangeReviewHeader {
	position: relative;
	z-index: 10100;

	width: 100%;
	height: 115px;

	display: flex;

	color: #ddd;

	background: #212635;
}
#dromasLpisChangeReviewHeader > div {
	flex-grow: 1;
}
#dromasLpisChangeReviewHeader-case {
	width: 30%;
	/*background: #906;*/
}
#dromasLpisChangeReviewHeader-review {
	width: 30%;
	/*background: #6e8;*/
}
#dromasLpisChangeReviewHeader-actions {
	width: 20%;
	/*background: #f7a;*/
}
#dromasLpisChangeReviewHeader-tools {
	width: 20%;
	color: #222;
	background: #f6f3e2;
}

#dromasLpisChangeReviewHeader > div {
	display: flex;
	flex-direction: column;
}
.ptr-dromasLpisChangeReviewHeader-topBar {
	height: 2.2rem;
	flex-grow: 0;
	padding: .1rem;

	box-sizing: border-box; /* todo remove when redundant */
}
.ptr-dromasLpisChangeReviewHeader-content {
	height: calc(115px - 2.2rem); /* whole header (old code dependent) - topBar height */
}
#dromasLpisChangeReviewHeader > div > div {
	height: 100%;
	display: flex;
	flex-direction: column;
}


/* ============ map tools ===================== */
.ptr-dromasLpisChangeReviewHeader-topBar.mapTools {
	display: flex;
	align-items: center;
	padding-right: .5rem;
}
.ptr-dromasLpisChangeReviewHeader-map-info {
	display: flex;
	align-items: center;
	flex: 1;
}
.ptr-dromasLpisChangeReviewHeader-map-name {
	line-height: 1.5rem;
	font-size: .9375rem;
	padding: .25rem;
	color: rgba(255,50,90,1);
}
.ptr-maps-grid-icon {
	margin: 0 .15rem;
}
.ptr-maps-grid-icon rect {
	fill: #444;
	stroke-width: 0;
}
.ptr-maps-grid-icon rect.selected {
	fill: rgba(255,50,90,1);
}

.ptr-dromasLpisChangeReviewHeader-map-control-toggles {
	padding: .5rem .3rem;
}

.ptr-dromasLpisChangeReviewHeader-map-control-toggles > label {
	display: block;
}

/* ============ expandable content ============ */

.ptr-dromasLpisChangeReviewHeader-expandable-content {
	position: relative;
	background: #212635;
	overflow: hidden;
}
.ptr-dromasLpisChangeReviewHeader-expandable-content {
	height: calc(115px - 2.2rem); /* whole header (old code dependent) - topBar height */

	transition:
		height .3s ease-in-out;
}
.ptr-dromasLpisChangeReviewHeader-expandable-content.expanded {
	height: calc(100vh - 2.2rem); /* topBar height */
}
.ptr-dromasLpisChangeReviewHeader-expandable-content-control {
	position: absolute;
	bottom: .25rem;
	right: .25rem;
}