@import '~@gisatcz/ptr-core/src/styles/_variables';

.map-tools {
	position: absolute;
	bottom: 2.5rem;
	right: m(1/3);
	z-index: 3;

	display: flex;
	flex-direction: column;
}

.control {
	background: rgba(255, 255, 255, 0.8);
	border-radius: .3rem;
	z-index: 15;
	box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.3);
	margin-bottom: m(1/3);
}

.map-tools.small {
	bottom: 13px;
}
.map-tools.small .control {
	margin-bottom: 5px;
}
.map-tools .control > button:focus,
.menu-control > button:focus {
	outline: none;
}

.map-tools .control > button,
.menu-control > button {
	padding: 0;
	background: none;
	border: 0;
	user-select: none;
	display: block;
	width: 2rem;
	height: 2rem;
	text-align: center;
	font-size: 1.125rem;
	color: var(--base50);
	cursor: pointer;

	transition:
			color .2s ease-in-out,
			background .2s ease-in-out;
}


.map-tools .control .hold-button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.map-tools .control .ptr-icon {
	width: 1.35rem;
	height: 1.35rem;
}

.map-tools .legend-control .ptr-icon {
	width: 1.6rem;
	height: 1.6rem;
}

.map-tools .control.open .ptr-icon {
	color: var(--accent50);
}

.map-tools.small .control > button {
	width: 1.6rem;
	height: 1.6rem;
	font-size: .975rem;
}

.map-tools .control > button:not(:first-child) {
	border-top: 1px solid rgba(0, 0, 0, .1);
}

.map-tools .control > button:first-child{
	border-top-right-radius: .3rem;
	border-top-left-radius: .3rem;
}
.map-tools .control > button:last-child {
	border-bottom-right-radius: .3rem;
	border-bottom-left-radius: .3rem;
}

.map-tools .control > button:hover,
.menu-control > button:hover {
	background-color: rgba(255, 255, 255, 1);
	color: var(--accent50);
}

.map-tools .hold-button .ptr-icon .line {
	transition:
			fill .2s ease-in-out;
}

.map-tools .hold-button:hover .ptr-icon .line {
	fill: var(--accent50);
}


.map-tools button > .ptr-icon .line {
	fill: currentColor;
  }

.map-tools button.disabled .ptr-icon .line{
	color: var(--base35);
}