.un-seea-header{
    flex: 0 0 5rem;
    display: flex;
}

.logo-wrapper{
    display: flex;
    flex: 0 0 15rem;
    position: relative;
}

.logo{
    display: block;
    width: 15rem;
    height: 5.55rem;
    padding: 0 .5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
}