.histogram {
    bottom: 0;
    height: 60px;
    padding-left: 1px;
    position: absolute;
    min-width: 14.5rem;
    width: 100%;
}

.histogram-bar {
    background: rgb(220,220,220);
    border-right: 1px solid white;
    bottom: 0;
    float: left;
    position: relative;
}

.histogram-bar.selected {
    background: #c85765;
}