#lpisCheckHeader {
	position: relative;
	z-index: 10100;

	width: 100%;
	height: 115px;

	display: flex;
	justify-content: space-between;

	color: #ddd;

	background: #212635;
}

#lpisCheckHeader div.container {
	display: flex;
	flex-direction: row;
}
#lpisCheckHeader div.container.columns {
	flex-direction: column;
}
.ptr-lpisCheckHeader-topBar {
	height: 2.2rem;
	flex-grow: 0;
	padding: .1rem .5rem;

	display: flex;
	align-items: center;

	box-sizing: border-box; /* todo remove when redundant */
}
.ptr-lpisCheckHeader-content {
	height: calc(115px - 2.2rem); /* whole header (old code dependent) - topBar height */
}

.ptr-lpisCheckHeader-heading {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .02em;
}


/* ============ case ========================= */
.ptr-lpisCheckHeader-topBar.case {
	justify-content: space-between;
}
.ptr-lpisCheckHeader-caseKey {
	font-weight: 700;
	letter-spacing: .02em;
	color: #ff325a;
}


/* ============ review ======================= */
.ptr-lpisCheckHeader-topBar.review {
	justify-content: space-between;
}

.ptr-lpisCheckHeader-topBar.review .ptr-ui-select.inverted .Select  {
	border-color: rgba(255,255,255,.3);
	min-width: 10rem;
}
.ptr-lpisCheckHeader-topBar.review .ptr-ui-select.inverted .Select .Select-control {
	background-color: transparent;
}

.ptr-lpisCheckHeader-topBar.review .ptr-ui-select .Select .Select-control,
.ptr-lpisCheckHeader-topBar.review .ptr-ui-select .Select .Select-control .Select-value,
.ptr-lpisCheckHeader-topBar.review .ptr-ui-select .Select .Select-placeholder,
.ptr-lpisCheckHeader-topBar.review .ptr-ui-select .Select .Select-input {
	height: 1.6rem;
	line-height: 1.6rem;
}


/* ============ user actions ================== */
.ptr-lpisCheckHeader-topBar.userActions {
	justify-content: space-between;
}

#lpisCheckHeader-actions .ptr-lpisCheckHeader-content {
	padding: 0 .5rem .5rem .5rem;
}

#lpisCheckHeader-actions .ptr-lpisCheckHeader-content > div > div {
	margin-bottom: .3rem;
}

.ptr-lpisCheckHeader-button-nextCase {
	display: inline-block;
	font-size: .6875rem;
	line-height: .75rem;
	width: 5.2rem;
	padding: .03rem .1rem .03rem .5rem;
	color: #aaa;
	border-left: 1px solid rgba(255,255,255,.1);
	margin-left: .3rem;
}

#lpisCheckHeader .flex {
	flex: 1 1 auto;
}
#lpisCheckHeader .center {
	align-items: center;
}

