@import '../../../styles/variables';

.ptr-bo-page {
	@include positionFill;

	display: flex;
	flex-direction: column;

	background: $bo0;
}

.ptr-bo-menu {
	height: m(2);
	flex: 0 0 m(2);
	background: $gray10;
	color: $gray2;
}

.ptr-bo-content {
	flex-grow: 1;
	position: relative;
}

.ptr-base-page{
    display: flex;
    height: 100%;
}