.ptr-views-list {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	height: 100%;
	width: 100%;
}
.ptr-overlay .ptr-views-list {
	height: 100%;
	width: auto;
}

.no-view-message {
	font-size: .9rem;
}

.ptr-views-list-header {
	padding: 1.5rem 1.5rem 0;
}

.ptr-views-list-tilte-container {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
	position: relative;
}

.ptr-views-list-title {
	font-family: "Roboto", sans-serif;
	font-size: 2.3rem;
	font-weight: 300;
	color: rgb(65,69,81);
	width: 100%;
	margin-bottom: 1rem;
}

.ptr-views-list-logo {
	max-height: 60px;
	margin-right: 1rem;
}

.ptr-views-list-tilte-container .ptr-views-list-title {
	margin-bottom: 0;
}

.ptr-views-list-description {
	margin: 0 0 0.5rem;
	font-size: .875rem;
	line-height: 1.5;
	color: rgb(33, 38, 53);
}

.ptr-views-list-description img {
	max-width: 100%;
}

.ptr-views-list-description h2 {
	color: rgb(33, 38, 53);
	margin-top: 1rem;
	font-weight: 600;
}

.ptr-views-list-description p {
	font-size: .875rem;
	color: rgb(65,69,81);
	max-width: 50rem;
	padding-right: 1rem;
}

.ptr-views-list-description a {
	font-size: .875rem;
	text-decoration: underline;
	color: rgba(153,54,75,1);
}

.ptr-views-list-content {
	padding: 1.5rem;
	flex: 1;
}

.ptr-views-list-content > div {
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 1600px) {
	.ptr-views-list-title {
		font-size: 2.15rem;
	}
}
@media (max-width: 1200px) {
	.ptr-views-list-title {
		font-size: 2rem;
	}
}

@media (max-width: 1000px), (max-height: 700px) {
	.ptr-views-list-title {
		font-size: 1.8rem;
	}
}