@import '../../../../styles/variables';

.ptr-popup {
	position: fixed;
	background: rgba(var(--base0rgb), .90);
	z-index: 99999;
	padding: .35rem;
	border: 1px solid var(--base30);
	box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .2);
	font-size: $b1;
	color: var(--base80);
	min-width: 8rem;
	min-height: 2rem;
}

.ptr-popup div i {
	font-weight: bold;
}