@import '../../../../styles/variables';
@import '../../styles/variables';

.tacrGeoinvaze-case-detail {
	overflow-y: auto;
	padding: m(1);
	white-space: pre-line;
}

.tacrGeoinvaze-case-detail > span:first-child {
	font-size: $a2;
	display: block;
}