.control {
	background: rgba(255, 255, 255, 0.85);
	border-radius: .3rem;
	z-index: 15;
	box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.3);
	margin-bottom: 7px;
}

#map-controls {
	position: absolute;
	bottom: 20px;
	right: 7px;
	z-index: 1;
}

#map-controls .control > a,
.menu-control > a {
	display: block;
	width: 2rem;
	height: 2rem;
	text-align: center;
	font-size: 1.125rem;
	padding-top: .19rem;
	color: #666;

	transition:
			color .2s ease-in-out,
			background .2s ease-in-out;
}

.menu-control > a {
	border-radius: .3rem;
}

#map-controls .control > a:not(:first-child) {
	border-top: 1px solid rgba(0, 0, 0, .1);
}

#map-controls .control > a:hover,
.menu-control > a:hover {
	background-color: rgba(255, 255, 255, .5);
	color: #c92d42;
}

#rotate-needle-control i {
	/*transition: all .2s ease-in-out;*/
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/*#rotate-needle-control:hover i {*/
/*transform: rotate(-45deg);*/
/*}*/

.tilt-control a {
	/*	overflow: hidden;*/
	background-position: center center;
	background-size: 1.2rem;
	background-repeat: no-repeat;
}

#tilt-more-control svg,
#tilt-less-control svg {
	margin-top: .21rem;
	width: 1.125rem;
	height: 1.125rem;
}

#tilt-more-control svg path,
#tilt-less-control svg path {
	fill: #666;

	transition:
			fill .2s ease-in-out;
}

#tilt-more-control:hover svg path,
#tilt-less-control:hover svg path {
	fill: #c92d42;
}