@import '../../../../styles/variables';

.ptr-world-wind-map {
	position: relative;
	height: 100%;
	width: 100%;
}

.ptr-world-wind-map-canvas {
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: #000;
}