.layer-tool-icon {
	color: #555;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 1.3rem;
}

.layer-tool-icon:before {
	font-family: "FontAwesome";
	font-size: .85rem;
	color: #555;
	transition: color .3s ease-in-out;
}
.layer-tool-icon:hover:before {
	color: rgba(186,65,91,1);
}
.layer-tool-icon.opacity-icon:before {
	content: "\f24d";
}
.layer-tool-icon.legend-icon:before {
	content: "\f022";
}
.layer-tool-icon.download-icon:before {
	content: "\f019";
}
.layer-tool-icon.metadata-icon:before {
	content: "\f05a";
}