/* === Sliders === */
.slider-box {
    padding-bottom: .7rem;
}

.slider-caption span {
    font-weight: 600;
    height: 1.3rem;
    line-height: 1.3rem;
    font-size: .85rem;
}

.slider-row {
    min-width: 14.5rem;
    width: 90%;
    margin: .5rem .4rem .35rem .4rem;
}

.slider-row.ui-slider-horizontal {
    background: #ccc;
    border: 0;
    height: .15rem;
    min-width: 14.5rem;
    width: 95%;
}

.slider-row.ui-slider-horizontal .ui-slider-handle {
    background: white;
    border: .15rem solid rgb(186,65,91);
    border-radius: .5rem;
    top: -.45em;
    transition: background .3s ease-out;
}

.slider-row.ui-slider-horizontal .ui-slider-handle:hover, .slider-row.ui-slider-horizontal .ui-slider-handle.ui-state-focus {
    background: rgb(186,65,91);
}

.slider-row .ui-widget-header {
    border: 0;
    background: rgb(186,65,91);
}

.floater-row.slider-labels {
    font-size: .75rem;
    color: rgb(65,69,81);
    padding: .2rem 0;
    min-width: 15.2rem;
    width: calc(95% + .7rem);
}
.floater-row.slider-labels > div {
    display: inline-block;
    position: relative;
    width: 25%;
    margin: 0 -3px 0 0;
}
.floater-row.slider-labels > .slider-thresholds-single {
    width: 50%;
}
.slider-thresholds {
    height: 1.2rem;
}
.slider-thresholds > input {
    background: rgba(255,255,255,.7);
    border: 1px solid #bbb;
    border-radius: .15rem;
    padding: 0 .2rem;
    position: relative;
    margin: 0 2.5%;
    width: 95%;
    color: rgb(65,69,81);
}

.slider-thresholds > .input-max, .slider-thresholds > .input-single, .slider-labels-max {
    text-align: right;
}

.slider-popup {
    display: none;
    position: absolute;
    margin: -6rem 6px 0 6px;
    min-width: 14.5rem;
    height: 3.5rem;
    background: white;
    -webkit-box-shadow: 0 0 4px rgb(136, 136, 136);
    -moz-box-shadow: 0 0 4px rgb(136, 136, 136);
    box-shadow: 0 0 4px rgb(136, 136, 136);
    z-index: 8888;
}

.slider-popup.open {
    display: block;
}