/* Table of contents

	* EXT COMPONENTS.....................overriding default ext style
		* Windows........................common for all Ext-based windows
			* Window header..............header and it's components
			* Window body................body declarations
			* Login window...............login window specific declarations
		* Forms..........................Ext forms
			* Config form
		* Buttons........................Ext buttons
			* Default small button
			* Login window buttons
		* Checkbox.......................checkbox adjustments
		* Grids..........................Ext grids
			* Attribute container........declarations for table with attributes (chart or choropleth creation)
			* Attribute configuration
			* Advanced chart configuration
		* Charts.........................declarations for panel with charts
			* Common panel parts
			* Sidebar charts
			* Chart panel header
			* Chart panel header tools
			* Tables

	* COMMON LAYOUT COMPONENTS
		* Header.........................declarations of header toolbars
		* Header for overlay.............adjustment of header for intro overlay of dataviews

*/

/* =====================================================
=== EXT COMPONENTS =====================================
======================================================== */

/* === Windows ========================================= */
.newDesign .x-window {

}
.newDesign .x-window.x-window-default {
	background: #fff;
	border: 0;
	box-shadow: 0 0 4px rgb(136, 136, 136);
	padding: 0;
}
.newDesign .x-toolbar-footer.x-docked-bottom {
	border-top: 2px solid #ddd !important;
	background: rgba(233,235,237,1);
	padding: 1rem;
}

/* window header */
.newDesign .x-window-header {
	border: 0;
	padding: .3rem .3rem 0;
	height: 2.5rem !important;
}
.newDesign .x-window-header-text-default {
	line-height: 1.4;
	color: #444;
	font-size: 1rem;
	font-weight: 500;
	padding-left: .3rem;
}
.newDesign .thematic-maps-settings .x-window-header-text-default {
	color: rgb(65,69,81);
	font-size: 1.1rem;
	font-weight: 600;
}
.newDesign .x-tool {
	padding-bottom: 1px;
}
.newDesign .x-tool-close,
.newDesign .legend-window .x-tool-close,
.newDesign .x-window-header .x-tool-close {
	background: url("../images/new/close.png") no-repeat 50% 50% !important;
	transition: background .3s ease-in-out;
}
.newDesign .x-tool-close:hover,
.newDesign .legend-window .x-tool-close:hover,
.newDesign .x-window-header .x-tool-close:hover {
	background: rgba(234,237,241,1) url("../images/new/close.png") no-repeat 50% 50% !important;
}

/* Window body */
.newDesign .x-window-body {
	border: 0;
}
.newDesign .x-panel-body-default-framed {
	padding: 10px;
}

/* login window */
.newDesign #loginwindow {
	z-index: 99998 !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	background: rgba(33,38,53,.9);
	display: flex;
	justify-content: center;
	align-items: center;
}
.newDesign #loginwindow .x-window.body {
	border: 1px solid rgba(33,38,53,.5);
}
.newDesign #loginwindow .x-toolbar-footer {
	background: none;
	border: 0 !important;
}

/* TODO move form declarations to forms*/
.newDesign #loginwindow .x-form-field {
	background: rgba(224,227,231,1);
	font-size: 1rem;
	font-weight: 400;
	line-height: 2rem;
	border: .1rem solid rgba(224,227,231,1);
	border-radius: 0 .15rem .15rem 0;
	padding-left: .3rem;
	width: 100%;
	height: 2.5rem;
}
.newDesign #loginwindow input.x-form-field {
	color: rgba(106,110,120,1);
}
.newDesign #loginwindow .x-form-item-label {
	color: transparent;
	display: inline-block;
	padding: 0;
}
.newDesign #loginwindow .x-form-item-label::after {
	width: 40px;
	height: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(224,227,231,1);
	border-radius: .15rem 0 0 .15rem;
	font-family: "FontAwesome";
	font-size: 1.15rem;
	color: rgba(106,110,120,1);
}

.newDesign #loginwindow .login-username .x-form-item-label::after {
	content: "\f2c0";
	font-size: 1.05rem;
}
.newDesign #loginwindow .login-password .x-form-item-label::after {
	content: "\f023";
}

/* === Forms =========================================== */
.newDesign.x-border-box .x-form-text {
	background: rgba(233,235,237,1);
	border: 1px solid rgba(204,207,211,1);
	border-radius: 1px 0 0 1px;
	color: rgb(65,69,81);
	font-size: .95rem;
	padding-left: .3rem;
}

/* Config form */
.newDesign .configform label {
	float: left;
	color: rgb(106,110,120);
	font-size: .75rem;
	font-weight: 400;
	text-transform: uppercase;
}
.newDesign .configform label.form-section-title {
	width: 100%;
	color: rgb(65,69,81);
	padding: 20px 0 10px;
	font-size: 1rem;
	text-transform: none;
}
.newDesign.x-border-box .configform .x-form-trigger {
	background: rgba(233,235,237,1);
	border: 1px solid rgba(204,207,211,1);
	border-left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.newDesign.x-border-box .configform .x-form-trigger:before {
	color: rgb(106,110,120);
	font-family: "FontAwesome";
	font-size: 1rem;
}
.newDesign.x-border-box .configform  .x-form-arrow-trigger:before {
	content: "\f107";
}
.newDesign.x-border-box .configform  .x-pickerfield-open .x-form-arrow-trigger:before {
	content: "\f106";
}

/* help */
.newDesign .configform .form-label-help {
	position: absolute;
	right: 10px;
}

.newDesign .configform .form-label-help i {
	display: block;
	text-align: center;
	font-family: serif;
	font-style: normal;
	font-size: .85rem;
	font-weight: 600;
	color: white;
	background: rgba(100, 100, 100, .8);
	border-radius: 10px;
	width: 15px;
	height: 15px;
	padding-top: 1px;
	cursor: pointer;
	transition: background .3s;
}

.newDesign .configform .form-label-help i:hover {
	background: rgba(100, 100, 100, 1);
}

.newDesign .configform .form-label-help p {
	display: none;
	position: absolute;
	z-index: 100000;
	width: 200px;
	background: rgba(255, 215, 215, .9);
	margin-top: 3px;
	margin-left: 10px;
	border: 1px dotted;
	border-radius: 3px;
	padding: 5px;
}

.newDesign .configform .form-label-help p.open {
	display: block;
}

/* === Checkbox ========================================= */
.newDesign .tree-column-label,
.newDesign .tree-root-label {
	display: inline-block;
	font-size: .85rem;
}
.newDesign .tree-column-label:before,
.newDesign .x-grid-checkheader:before {
	content: "\f096";
	font-family: FontAwesome;
	font-size: 1rem;
	display: inline-block;
	vertical-align: middle;
	margin: 0 .3rem 0 0;
}
.newDesign .x-tree-checked .tree-column-label:before,
.newDesign .x-grid-checkheader-checked:before {
	content: "\f14a";
	color: rgb(186,65,91);
}
.newDesign .x-grid-checkheader:before,
.newDesign .x-grid-checkheader-checked:before {
	position: absolute;
}
.newDesign .x-tree-checkbox {
	background: none;
	cursor: pointer;
	width: 0;
	height: 16px;
}
.newDesign .x-tree-checkbox-checked {
	background: none;
}
.newDesign .x-grid-checkheader {
	background: none;
	cursor: pointer;
	margin-top: 0;
	text-align: center;
}
.newDesign .x-column-header-inner .x-grid-checkheader {
	margin-top: 2px;
}
.newDesign .x-grid-checkheader-checked {
	background: none;
	cursor: pointer;
	text-align: center;
}

/* === Buttons ========================================= */
/* Default small button */
.newDesign .x-btn-default-small {
	background: none;
	border-color: rgb(65,69,81);
	border-style: solid;
	border-width: 1px !important;
	border-radius: .15rem;
	transition: background .3s ease-in-out, border .3s ease-in-out;
}
.newDesign .x-btn-default-small.x-btn-over,
.newDesign .x-btn-default-small.x-btn-focus {
	background: rgba(65,69,81,.25);
}
.newDesign .x-btn-default-small.x-btn-focus {
	box-shadow: 0 0 2px 1px rgba(55,125,166,1);
}
.newDesign .x-btn-default-small .x-btn-inner {
	color: rgb(33,38,53);
	font-size: .95rem;
	font-weight: 500;
	line-height: 1.6;
	height: 100%;
}


/* TODO cleanup following declarations */
.newDesign .x-btn-default-toolbar-small-over {
	background: #bbbbc0;
	border: 1px solid #bbbbc0;
}
.newDesign #app-legacy-view-selector-visualization-save .x-btn-default-small .x-btn-inner, .newDesign #app-legacy-view-selector-visualization-manage .x-btn-default-small .x-btn-inner, .newDesign #app-legacy-view-selector-save .x-btn-default-small .x-btn-inner, .newDesign #app-legacy-view-selector-share .x-btn-default-small .x-btn-inner {
	color: #555;
	font-size: 11px;
}
.newDesign #agreement-btns .x-btn-default-small .x-btn-inner {
	color: #fff;
}
.newDesign .x-btn.custom-button.x-btn-default-small {
	transition: background-color .3s ease-out;
	display: inline-block;
	vertical-align: middle;
	border: 0;
	border-radius: .05rem;
	color: #ddd;
	height: 26px;
	line-height: 26px;
}
.newDesign .x-btn.custom-button.x-btn-default-small.x-disabled {
	pointer-events: none;
}
.newDesign .x-btn.custom-button.btn-confirm {
	background: rgba(153,54,75,1);
	border: 1px solid rgba(255, 255, 255, .15);
	border-radius: .15rem;
	transition: background .3s ease-out;
}
.newDesign .x-btn.custom-button.btn-confirm .x-btn-inner {
	color: #fff;
	font-size: .85rem;
	font-weight: 500;
}
.newDesign .x-btn.custom-button.btn-confirm:hover, .x-btn.btn-confirm:focus {
	background: rgba(186,65,91,1);
}
.newDesign #app-tools-actions .x-btn {
	background: #eee;
}
.newDesign #app-tools-actions .x-btn:hover {
	background: #ddd;
}

/* Login window buttons */
.newDesign #loginwindow .x-btn {
	width: 120px !important;
}
.newDesign #loginwindow .x-btn-default-small-noicon button {
	line-height: 2rem;
}
.newDesign #loginwindow .x-btn:first-child {
	border-color: rgb(33,38,53);
	background: rgb(33,38,53);
	right: 140px;
}
.newDesign #loginwindow .x-btn-over.x-btn:first-child,
.newDesign #loginwindow .x-btn-focus.x-btn:first-child {
	border-color: transparent;
	background: rgba(33,38,53, .9);
}
.newDesign #loginwindow .x-btn-inner {
	color: #eee;
	line-height: 1.2;
}
.newDesign #loginwindow .x-btn:last-child .x-btn-inner {
	color: rgb(33,38,53);
}

/* === Grids =========================================== */
.newDesign .x-grid-body {
	border: 0 !important;
}

/* Attribute container */
.newDesign .x-window .attribute-container .x-grid {
	border: 1px solid rgba(204,207,211,1);
}
.newDesign .x-window .attribute-container .x-grid .x-toolbar-default.x-docked-top {
	/*background: rgba(65,69,81,1);*/
	margin-bottom: 0 !important;
	border-bottom: 0 !important;
}
.newDesign .x-window .attribute-container .x-grid-cell-inner {
	font-size: .85rem;
}
.newDesign .x-window .attribute-container .x-grid-header-ct .x-box-inner {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.newDesign .x-window .attribute-container .x-panel-body-default {
	margin-top: 5px;
	margin-bottom: 5px;
}

.newDesign .nonnumeric-attribute {
	display: none;
}
/*.newDesign .attribute-container .x-column-header {*/
	/*border: 0;*/
	/*background: rgba(65,69,81,1);*/
/*}*/
/*.newDesign .attribute-container .x-grid-header-ct span {*/
	/*color: white;*/
/*}*/

/* Attribute configuration */
.newDesign .attribute-configuration {
	border: 1px solid rgba(204,207,211,1);
}
.newDesign .attribute-configuration .x-panel-header,
.newDesign .attribute-configuration .x-panel-body {
	padding: 0 5px !important;
}
.newDesign .attribute-configuration .x-panel-header span {
	color: rgb(65,69,81);
	font-size: 1rem;
	font-weight: 500;
}
.newDesign .attribute-configuration .x-panel-body {
	overflow-y: auto;
}

/* Advanced chart configuration */
.newDesign .thematic-maps-settings .x-fieldset {
	border: 1px solid rgba(204,207,211,1);
}
.newDesign .thematic-maps-settings .x-fieldset-header .x-tool {
	display: none;
}
.newDesign .thematic-maps-settings .x-fieldset-header-text {
	color: rgb(106,110,120);
	font-size: .9rem;
	line-height: 1.5;
	margin-right: .5rem;
}
.newDesign .thematic-maps-settings .x-fieldset-header-text:before {
	content: "\f0d8";
	font-size: 1rem;
	font-family: "FontAwesome";
	margin: 0 .5rem;
}
.newDesign .thematic-maps-settings .x-fieldset-collapsed .x-fieldset-header-text:before {
	content: "\f0d7";
}

/* === Charts ========================================= */
.newDesign #app-reports-paging {
	border-bottom: 0;
	background: #f4f3ef;
}
/* Common panel parts */
.newDesign .x-panel-header {
	background: rgba(233,235,237,1);
	border-bottom: 0;
}
.newDesign .x-panel-header-text-default {
	font-size: .9rem;
	font-weight: 400;
	color: rgb(65,69,81);
}

/* Sidebar charts */
.newDesign .x-toolbar .x-toolbar-separator {
	border-left: 1px solid #aaa;
	border-right: 0;
}
.newDesign .paging-toolbar .x-toolbar-item:hover {
	background: none;
}
.newDesign .chart-panel {
	border-top: 1px solid rgba(194,197,201,1);
}
/* Chart panel header */
.newDesign .chart-panel .x-panel-header {
	background: rgba(204,207,211,.7) !important;
	transition: background .3s ease-in-out;
	padding: 0 5px 0 0;
}
.newDesign .chart-panel .x-panel-header:hover {
	background: rgba(204,207,211,1) !important;
}
.newDesign .chart-panel .x-panel-header-text-container {
	left: 28px !important;
}
.newDesign .chart-panel .x-panel-header-text {
	font-size: .85rem;
	font-weight: 600;
	line-height: 1.3;
	color: rgba(65,69,81,1);
}

/* Chart panel header tools */
.newDesign .chart-panel .x-panel-header .x-tool {
	display: flex;
	justify-content: center;
	align-items: center;
}
.newDesign .chart-panel .x-panel-header .tool-chart-collapse,
.newDesign .chart-panel.panel-snapshots .x-panel-header .x-tool {
	left: 3px !important;
}
.newDesign .chart-panel .x-panel-header .tool-icon:before,
.newDesign .chart-panel.panel-snapshots .x-panel-header .x-tool:before {
	font-family: "FontAwesome";
	font-size: 1rem;
	position: absolute;
	color: rgba(65,69,81,.8);
	transition: color .3s ease-in-out;
}
.newDesign .chart-panel .x-panel-header .tool-icon:hover:before,
.newDesign .chart-panel.panel-snapshots .x-panel-header .x-tool:hover:before {
	color: rgba(186,65,91,1);
}
.newDesign .chart-panel .x-panel-header .tool-chart-settings:before {
	content: "\f1de";
}
.newDesign .chart-panel .x-panel-header .tool-chart-help:before {
	content: "\f022";
	top: 3px;
}
.newDesign .chart-panel .x-panel-header .tool-chart-export-csv:before {
	content: "\f15c";
}
.newDesign .chart-panel .x-panel-header .tool-chart-export-png:before {
	content: "\f1c5";
}
.newDesign .chart-panel .x-panel-header .tool-chart-snapshot:before {
	content: "\f030";
}
.newDesign .chart-panel.x-panel-collapsed .x-panel-header .tool-chart-collapse:before,
.newDesign .chart-panel.panel-snapshots.x-panel-collapsed .x-panel-header .x-tool:before {
	content: "\f107";
}
.newDesign .chart-panel .x-panel-header .tool-chart-collapse:before,
.newDesign .chart-panel.panel-snapshots .x-panel-header .x-tool:before {
	content: "\f106";
	font-weight: bold;
}
.newDesign .chart-panel .x-panel-header .tool-chart-close:before {
	font-family: "Open Sans";
	content: "\00d7";
	font-size: 1.4rem;
	font-weight: 600;
	top: -6px;
}
.newDesign .chart-panel .x-panel-header .tool-icon .x-tool-gear,
.newDesign .chart-panel .x-panel-header .tool-icon .x-tool-help,
.newDesign .chart-panel .x-panel-header .tool-icon .x-tool-collapse,
.newDesign .chart-panel .x-panel-header .tool-icon .x-tool-print,
.newDesign .chart-panel .x-panel-header .tool-icon .x-tool-save,
.newDesign .chart-panel .x-panel-header .tool-icon .x-tool-close,
.newDesign .chart-panel .x-panel-header .x-tool-collapse-top,
.newDesign .chart-panel .x-panel-header .x-tool-over .x-tool-collapse-top,
.newDesign .chart-panel .x-panel-header .x-tool-expand-bottom,
.newDesign .chart-panel .x-panel-header .x-tool-over .x-tool-expand-bottom {
	background: transparent !important;
	position: absolute;
}

/* Tables */
.newDesign .x-toolbar-item:hover {
	background: rgba(204,207,211,1);
	transition: background .3s ease-in-out, border .3s ease-in-out;
}
.newDesign .x-toolbar-item .x-btn-inner {
	font-size: .85rem;
}
.newDesign .x-column-header {
	background: #FCFCFA;
	border-color: #ddd;
}
.newDesign .x-column-header-inner {
	transition: background .3s ease-in-out;
}
.newDesign .x-column-header-over {
	background: rgba(224,227,231,.8);
}
.newDesign .x-column-header-text {
	font-size: .75rem;
}
.newDesign .x-grid-header-ct {
	border: 1px solid #ddd;
}

/* =====================================================
=== COMMON LAYOUT COMPONENTS ===========================
======================================================== */

.newDesign body {
	background: rgb(163, 205, 255);
}

/* Header === */
.newDesign #wb-header {

}
.newDesign #wb-header a {
	background: url('../images/new/world-bank-logo.png') no-repeat 5px 5px;
}
.newDesign #header {
	background: #212635;
	display: flex;
	padding: 0 1.5rem 0 1rem;
	z-index: 1;
}
.newDesign #header .menu {
	margin: 0;
	flex: 1;
	line-height: 50px;
}
.newDesign #header .menu li:before {
	background-color: #888;
	display: inline-block;
	vertical-align: text-bottom;
	position: relative;
	top: auto;
}

.newDesign #header a {
	font-family: "Open sans", "arial", sans-serif;
	font-size: 10px;
	color: #ddd;
}

.newDesign #header .user {
	/* background: #333; */
	display: inline-block;
	right: 0;
	height: auto;
	top: auto;
	padding: 0;
	position: relative;
	line-height: 50px;
}

.newDesign #header .user .sep {
	width: 1px;
	background: #888;
	display: inline-block;
	vertical-align: middle;
	height: 15px;
	margin-bottom: 3px;
}

.newDesign #header .user a {
	padding: 0 10px;
}

.newDesign #header .user .login:before, .newDesign #header .user .signup:before {
	display: inline-block;
	line-height: 15px;
	vertical-align: middle;
	font-family: "FontAwesome";
	font-size: 1rem;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0 7px 0 0;
}

.newDesign #header .user .login:before {
	content: "\f090";
}

.newDesign #header .user .login.logged:before {
	content: "\f2c0";
}
.newDesign #header .user .signup:before {
	content: "\f234";
}
.newDesign #header .user .signup.logout:before {
	content: "\f08b";
}

/* header for overlay */
.newDesign #header a {
	font-size: .85rem;
	font-weight: 400;
	color: rgba(168,172,180,1);
	text-transform: none;
}

/* Agreement === */
.newDesign #content-intro-terms {
	color: #555;
}

.newDesign #content-intro-terms #agreement-accept .x-btn {
	background: #c92d42;
	transition: background .3s ease-out;
}

.newDesign #content-intro-terms #agreement-accept .x-btn-over {
	background: #ad2738;
}

.newDesign #content-intro-terms #agreement-cancel .x-btn {
	background: #aaa;
	transition: background .3s ease-out;
}

.newDesign #content-intro-terms #agreement-cancel .x-btn-over {
	background: #888;
}

.newDesign #agreement-accept-chb input {
	background-image: url('../images/new/unchecked.png');
	height: 15px;
	width: 15px;
}

.newDesign #agreement-accept-chb .x-form-cb-checked input {
	background-image: url('../images/new/checked.png');
}

/* Footer === */
.newDesign #footer {
	z-index: initial;
}

.newDesign #footer-bar {
	border-top: 2px solid #d3d2d2;
}

.newDesign #footer-bar ul li a, .newDesign #footer-legal {
	font-family: "Open sans", "arial", sans-serif;
	color: #707070;
}

.newDesign #footer-legal {
	line-height: 15px;
}

/* Intro === */
.newDesign #content-intro, .newDesign #content-intro-guide {
	background-color: rgba(33,38,53,.95);
	border: 1px solid #666;
}

.newDesign #content-intro {
	padding: 19px;
	border-left: 0;
	width: 850px;
}

.newDesign #content-intro-guide {
	border-right: 0;
	color: rgba(204,207,211,1);
	top: auto;
	bottom: 150px;
}

.newDesign #about-urbis h2 {
	margin-top: 15px;
}

.newDesign #content-intro-terms h2,
.newDesign #content-intro-guide h2 {
	border: 0;
}

/* into toolbar */
.newDesign #legacy-view-selector {
	background: rgb(67, 66, 84);
	border-bottom: 2px solid rgb(36, 36, 49);
	/*z-index: 99999;*/
}

.newDesign #legacy-view-selector > .label {
	margin-top: 7px;
}

.newDesign .application #legacy-view-selector > .label {
	margin-top: 13px;
}

.newDesign #content-application {
}

/* intro toolbar inputs */
.newDesign #content-intro .x-form-text, .newDesign #content-intro .x-form-trigger {
	background-color: rgba(255, 255, 255, .2);
	border: 1px solid rgba(255, 255, 255, .3);
	height: 30px;
	transition: background-color .3s ease-out;
}

/* intro toolbar inputs */
.newDesign #content-intro table:hover .x-form-text,
.newDesign #content-intro table:hover .x-form-trigger,
.newDesign #content-intro .x-form-trigger,
.newDesign #content-intro .custom-combo .x-form-text {
	background-color: rgba(255, 255, 255, .15);
}

.newDesign #content-intro .x-form-text {
	border-right-width: 0;
}

.newDesign #content-intro .x-form-trigger {
	border: 0;
}

.newDesign #content-intro .custom-combo .x-form-text {
	border-radius: 1px 0 0 1px;
	color: rgb(204,207,211);
	border: 0;
	border-right: 0;
	font-size: .85rem;
	font-weight: 500;
	transition: background .3s ease-out;
}

.newDesign #content-intro .field > .label {
	padding-right: 7px;
	vertical-align: top;
	line-height: 30px;
	color: rgba(204,207,211,1);
	font-family: "Open Sans", sans-serif;
	font-size: .85rem;
	font-weight: 500;
}

/* === Application === */
/* App toolbar === */
.newDesign #legacy-view-selector {
	height: 105px;
}

.newDesign .fields-holder > .label {
	width: 290px;
}

.newDesign .fields-holder .field > .label {
	color: white;
	font-family: "Open Sans", sans-serif;
	font-size: 11px;
	font-weight: 700;
}

.newDesign #legacy-view-selector .fields {
	float: left;
	margin-left: 35px;
	margin-top: 4px;
}

.newDesign #legacy-view-selector .fields .group {
	width: 200px;
	float: left;
	margin-right: 60px;
	min-height: 90px;
}

.newDesign #legacy-view-selector .fields .group.group-visualization {
	width: 380px;
	margin-right: 5px;
}

.newDesign #legacy-view-selector .fields .group.group-visualization .label {
	width: 80px;
}

.newDesign #app-legacy-view-selector-visualization-save, .newDesign #app-legacy-view-selector-visualization-manage {
	height: 23px;
	margin-top: 3px;
}

.newDesign #legacy-view-selector .fields .group .field {
	margin: 1px 1px 2px 1px;
}

.newDesign #legacy-view-selector .field.level > .label {
	text-align: left;
	padding-right: 1px;
}

.newDesign #legacy-view-selector .timeline-labels {
	font-size: 10px;
	padding-left: 2px;
	margin-bottom: -5px;
}

.newDesign #legacy-view-selector .timeline-labels > span {
	margin-bottom: -5px;
}

/* + - */
.newDesign .field.level .widget .button {
	width: 23px;
	height: 23px;
	float: left;
	margin-left: 1px;
	margin-right: 3px;
}

.newDesign .field.level .x-btn .x-btn-inner {
	color: #ddd;
	font-size: 20px;
}

/* help buttons */
.newDesign .fields-holder .field > .widget .x-btn {
	vertical-align: middle;
}

.newDesign #legacy-view-selector .fields .group.group-visualization .help-label {
	width: 62px;
	text-align: right;
	padding-right: 10px;
}

.newDesign #legacy-view-selector .fields .group.group-visualization .app-legacy-view-selector-help {
	width: 50px;
	height: 30px;
	line-height: 30px;
}

.newDesign #app-legacy-view-selector-contexthelp, .newDesign #app-legacy-view-selector-webhelp {
	display: inline-block;
	margin-left: 0;
	height: 23px;
	width: 23px;
	padding: 0;
}

.newDesign #app-legacy-view-selector-contexthelp .x-btn, .newDesign #app-legacy-view-selector-webhelp .x-btn,
.newDesign #app-legacy-view-selector-contexthelp .x-btn-center, .newDesign #app-legacy-view-selector-webhelp .x-btn-center,
.newDesign #app-legacy-view-selector-contexthelp .x-btn-icon, .newDesign #app-legacy-view-selector-webhelp .x-btn-icon {
	width: 23px !important;
	height: 23px !important;
	top: 0;
	left: 0;
	padding: 0;
}

.newDesign .app-legacy-view-selector-help .help-btn .x-btn {
	background-color: rgba(255, 255, 255, .25);
	border: 1px solid rgba(255, 255, 255, .3);
	width: 23px;
	height: 23px;
	transition: background-color .3s ease-out;
}

.newDesign #app-legacy-view-selector-contexthelp span.x-btn-icon {
	background: url('../images/new/help-context-white.png') no-repeat 50% 50% !important;
}

.newDesign #app-legacy-view-selector-webhelp span.x-btn-icon {
	background: url('../images/new/help-web-white.png') no-repeat 50% 50% !important;
}

/* year */
.newDesign .field.year .widget .x-field .x-form-item-body {
	color: #eee;
}

.newDesign .yearselector .x-slider-horz .x-slider-thumb {
	background-image: url("../images/new/slider-thumb-2.png")
}

.newDesign #button-1033-btnIconEl {
	color: #555;
}

/* visualization */
.newDesign #app-view-selector-visualization-save {
	height: 26px;
}
.newDesign #app-view-selector-visualization-save .x-btn.custom-button.x-btn-default-small {
	background: rgb(106,110,120);
	border: 0;
}
.newDesign #app-view-selector-visualization-save .x-btn.custom-button.x-btn-default-small .x-btn-inner {
	font-weight: 500;
	font-size: .75rem;
	color: rgb(204,207,211);
}
.newDesign #app-view-selector-visualization-manage {
	height: 26px;
	width: auto;
}
.newDesign #app-view-selector-visualization-manage .x-btn.custom-button.x-btn-default-small {
	background: rgb(106,110,120);
	border: 0;
	width: 26px !important;
}

/* dataview field */
.newDesign #legacy-view-selector .dataview {
	top: 8px;
	right: 5px;
	width: 120px;
}

.newDesign #app-legacy-view-selector-visualization-manage .x-btn-icon, .newDesign #app-legacy-view-selector-manage .x-btn-icon {
	background: url(../images/new/settings.png) no-repeat 50% 50% !important;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.newDesign #app-legacy-view-selector-save .x-btn-icon, .newDesign #app-legacy-view-selector-share .x-btn-icon {
	left: 3px;
}

.newDesign #app-legacy-view-selector-save,
.newDesign #app-legacy-view-selector-manage,
.newDesign #app-legacy-view-selector-share,
.newDesign #app-legacy-view-selector-visualization-save,
.newDesign #app-legacy-view-selector-visualization-manage {
	height: 23px;
	line-height: 23px;
	width: 22px;
}

.newDesign #app-legacy-view-selector-visualization-save {
	width: 50px;
}

.newDesign #app-legacy-view-selector-save {
	margin-top: 8px;
	width: 90px;
}

.newDesign #app-legacy-view-selector-manage {
	margin-top: 8px;
}

.newDesign #app-legacy-view-selector-share {
	width: 120px;
}

.newDesign #app-legacy-view-selector-save .x-btn,
.newDesign #app-legacy-view-selector-manage .x-btn,
.newDesign #app-legacy-view-selector-share .x-btn,
.newDesign #app-legacy-view-selector-visualization-save .x-btn,
.newDesign #app-legacy-view-selector-visualization-manage .x-btn {
	background: rgba(255, 255, 255, .6);
}

/* === Content and Sidebars ===== */
.newDesign .application #content {
	padding-top: 15px;
}

.newDesign #sidebar-reports {
	background: rgb(245, 245, 245);
	border-left: 1px solid #ddd;
	/* top: 105px; */
}

.newDesign #sidebar-tools {
	background: rgb(245, 245, 245);
	border-right: 1px solid white;
	/* top: 105px; */
}

/* Form ================== */

.newDesign.x-border-box .x-form-text.x-trigger-noedit {
	border-right: 0;
}

.newDesign.x-border-box .x-form-trigger {
	background: none;
	border-radius: 0 1px 1px 0;
	border-left: 0;
}

.newDesign.x-border-box #app-legacy-view-selector-theme .x-form-trigger,
.newDesign.x-border-box #app-legacy-view-selector-visualization .x-form-trigger {
	border-radius: 0;
	border-right-width: 0;
}

.newDesign.x-border-box #app-legacy-view-selector-theme .x-form-trigger.x-form-refresh-trigger,
.newDesign.x-border-box #app-legacy-view-selector-visualization .x-form-trigger.x-form-refresh-trigger {
	border-radius: 0 1px 1px 0;
	border-right-width: 1px;
}

.newDesign.x-border-box .x-form-trigger.x-form-refresh-trigger {
	transition: background .3s ease-out;
	border-left: 1px solid rgba(255, 255, 255, .1) !important;
}

.newDesign .app-legacy-view-selector-help .help-btn .x-btn:hover,
.newDesign.x-border-box .x-form-trigger.x-form-refresh-trigger,
.newDesign.x-border-box .custom-combo .x-form-text,
.newDesign.x-border-box .custom-combo .x-form-trigger,
.newDesign .x-btn.custom-button.x-btn-default-small,
.newDesign .x-btn.custom-button.x-btn-default-small:hover {
	background: rgba(255, 255, 255, .15);
}
.newDesign.x-border-box .custom-combo:hover .x-form-text,
.newDesign.x-border-box .custom-combo:hover .x-form-trigger,
.newDesign.x-border-box .custom-combo:hover .x-form-trigger.x-form-refresh-trigger {
	background: rgba(255, 255, 255, .2) !important;
}

/*.newDesign.x-border-box .x-form-trigger.x-form-spinner-up {*/
	/*background: none;*/
/*}*/

/*.newDesign.x-border-box .x-tbar-loading {*/
	/*background: none !important;*/
/*}*/

.newDesign.x-border-box .custom-combo .x-form-text {
	border-radius: 1px 0 0 1px;
	color: rgb(204,207,211);;
	border: 0;
	border-right: 0;
	font-size: .85rem;
	font-weight: 500;
	height: 26px;
	transition: background .3s ease-out;
}

.newDesign.x-border-box .custom-combo .x-form-trigger {
	/*background: none;*/
	border: 0;
	border-left: 0;
	border-radius: 0 1px 1px 0;
	height: 26px;
	transition: background .3s ease-out;
	display: flex;
	justify-content: center;
	align-items: center;
}
.newDesign.x-border-box .custom-combo .x-form-trigger:before {
	color: rgb(204,207,211);
	font-family: "FontAwesome";
	font-size: 1rem;
}
.newDesign.x-border-box .custom-combo .x-form-arrow-trigger:before {
	content: "\f107";
}
.newDesign.x-border-box .custom-combo .x-pickerfield-open .x-form-arrow-trigger:before {
	content: "\f106";
}
.newDesign.x-border-box .custom-combo .x-form-refresh-trigger:before {
	content: "\f021";
	font-size: .85rem;
}

.newDesign.x-border-box .x-tbar-page-number .x-form-text {
	border: 1px solid #aaa;
}

/* === Box === */
#app-tools-actions, #maptools-1059 {
	border-bottom: 1px solid #ddd;
}

.newDesign #app-reports-paging .paging-toolbar {
	background: none;
}

.newDesign #app-tools-accordeon > .x-container {
	background: #fff;
}

.newDesign #app-tools-actions span {
	color: #555;
	top: 5px;
}

.newDesign #sidebar-tools-toggle {
	right: -22px;
}

/* Tables ================ */
.newDesign .x-grid-with-row-lines {
	border: 0;
	padding: 0;
}

.newDesign .x-grid-with-row-lines.x-grid-locked .x-grid-inner-locked, .newDesign .x-grid-with-row-lines.x-grid-locked .x-grid-with-row-lines {
	padding: 0;
	border: 0;
}

.newDesign .x-grid-locked .x-grid-inner-locked {
	border-width: 1px !important;
	padding-right: 0;
}

.newDesign .x-grid-with-row-lines .x-grid-cell {
	border: 0;
}

/*.newDesign .x-column-header {*/
	/*background: #eee;*/
	/*border: 0;*/
/*}*/

/*.newDesign .x-column-header-over {*/
	/*background: #ddd;*/
	/*border: 0;*/
/*}*/

.newDesign .x-tree-panel .x-grid-header-ct {
	border: 0 !important;
}

.newDesign .x-tree-panel .x-grid-body {
	border: 0 !important;
}

.newDesign .x-tree-panel .x-grid-body .x-grid-table {
	padding: 5px 0;
}

.newDesign .x-window .x-tree-panel {
	border: 1px solid #ddd;
}

.newDesign #layerselectedpanel div {
	border: 0 !important;
}

.newDesign .x-column-header-sort-ASC .x-column-header-text,
.newDesign .x-column-header-sort-DESC .x-column-header-text {
	padding-right: 10px;
}

.newDesign .x-panel-default-framed {
	padding-top: 10px;
}

.newDesign .x-panel-header.x-panel-header-default-framed {
	background: white !important;
	border: 0;
	box-shadow: none;
	padding: 0;
}

.newDesign .x-panel-header-text-default-framed {
	color: #555;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
}

/* Tabs ================= */
.newDesign.x-border-box .x-tab-bar {
	background: white;
	border-bottom: 1px solid #ddd !important;
}

.newDesign.x-border-box .x-tab-bar-strip {
	height: 0;
	border: 0;
}

.newDesign .x-tab-bar-top .x-tab-bar-body {
	padding: 3px 0 3px;
	border: 0;
}

.newDesign.x-border-box .x-tab-default-top {
	background: white;
	border-bottom: 1px solid #ddd !important;
	height: 28px;
}

.newDesign.x-border-box .x-tab-top-active {
	border: 0;
	background: #eee;
}

.newDesign.x-border-box .x-tab-inner {
	font-size: 11px;
}

/* Buttons ================= */
/* Sidebars buttons */
.newDesign #sidebar-reports-toggle {
	background: #f4f3ef url(../images/new/sidebar-toggle.png);
	background-position: 3px -3px;
	border: 1px solid #ddd;
	border-top: 0;
	border-right: 0;
	left: -27px;
	width: 26px;
	transition: background-color .3s ease-in-out;
}
.newDesign #sidebar-reports-add {
	background: #f4f3ef url('../images/new/add.png') no-repeat center center;
	background-position-x: 7px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	height: 31px;
	left: -27px;
	width: 26px;
	transition: background-color .3s ease-in-out;
}
.newDesign #sidebar-reports.hidden #sidebar-reports-toggle {
	background-position: -17px -3px;
	width: 31px;
	left: -32px;
}
.newDesign #sidebar-reports.hidden #sidebar-reports-add {
	left: -32px;
}
.newDesign #sidebar-tools-toggle:hover, .newDesign #sidebar-reports-toggle:hover, .newDesign #sidebar-reports-add:hover {
	background-color: #e4e3df;
}

/* top widgetTools buttons */
.newDesign .btn-map-select .x-btn-icon {
	background-image: url('../images/new/map-select.png') !important;
	width: 18px;
	top: 3px;
}

.newDesign .btn-map-select.x-pressed .x-btn-icon {
	background-image: url('../images/new/map-select-active.png') !important;
}

/* panel header buttons */
.newDesign .x-panel-header .x-tool-unselect {
	background-image: url("../images/new/unselect.png") !important;
}

.newDesign .x-panel-header .x-tool-unselectall {
	background-image: url("../images/new/unselect-all.png") !important;
}

.newDesign .x-panel-header .x-tool-detach {
	background-image: url("../images/new/detach.png") !important;
}

.newDesign .x-panel-header .x-tool-gear {
	background-image: url("../images/new/settings.png") !important;
}

.newDesign .x-panel-header .x-tool-poweron {
	background-image: url("../images/new/power.png") !important;
	margin-top: -1px;
}

/*.newDesign .x-panel-header .x-tool-areacollapse {*/
	/*background-image: url("../images/new/areacollapse.png") !important;*/
/*}*/

.newDesign .x-tool-collapse-top, .newDesign .x-tool-collapse-right, .newDesign .x-tool-collapse-bottom, .newDesign .x-tool-collapse-left,
.newDesign .x-tool-over .x-tool-collapse-top, .newDesign .x-tool-over .x-tool-collapse-right, .newDesign .x-tool-over .x-tool-collapse-bottom, .newDesign .x-tool-over .x-tool-collapse-left {
	background: url("../images/new/collapse.png") no-repeat 50% 50%;
}

.newDesign .x-tool-expand-top, .newDesign .x-tool-expand-right, .newDesign .x-tool-expand-bottom, .newDesign .x-tool-expand-left,
.newDesign .x-tool-over .x-tool-expand-top, .newDesign .x-tool-over .x-tool-expand-right, .newDesign .x-tool-over .x-tool-expand-bottom, .newDesign .x-tool-over .x-tool-expand-left {
	background: url("../images/new/expand.png") no-repeat 50% 50%;
}

.newDesign .detached-window .x-window-header .x-tool-close {
	background: url("../images/new/attach.png") no-repeat 50% 50% !important;
	width: 20px;
	height: 20px;
}

/* map widgetTools buttons */
.newDesign .x-btn.btn-map-tool {
	background: #fff !important;
	margin-bottom: 5px;
}

.newDesign .x-btn.btn-map-tool:hover {
	background: #eee !important;
}

.newDesign .btn-map-tool span.x-btn-inner {
	color: #555;
	word-wrap: break-word;
	white-space: normal;
	padding-top: 43px;
	font-weight: 500;
	line-height: 1.3 !important;
	font-size: 11px;
}

.newDesign .x-btn.btn-map-tool button .x-btn-icon {
/* 	top: 13px; */
}

.newDesign .x-btn.btn-tool-feature-info button .x-btn-icon {
	background-size: 20px;
	width: 20px;
	margin-left: -7px;
}

.newDesign .x-btn.btn-tool-hover button .x-btn-icon {
	background-size: 15px;
}

.newDesign .x-btn.btn-tool-zoom-selected button .x-btn-icon {
	background-size: 20px;
}

.newDesign .x-btn.btn-tool-measure-line button .x-btn-icon {
	background-image: url('../images/new/tools-measure-line.png') !important;
	background-size: 25px;
}

.newDesign .x-btn.btn-tool-measure-polygon button .x-btn-icon {
	background-image: url('../images/new/tools-measure-polygon.png') !important;
	background-size: 30px;
}

.newDesign .x-btn.btn-tool-multiple-maps button .x-btn-icon {
	background-size: 40px;
}

.newDesign .x-btn.btn-tool-save-image button .x-btn-icon {
	margin-left: -20px;
	background-size: 30px;
}

.newDesign .x-btn-pressed.btn-tool-feature-info button .x-btn-icon {
	background-image: url(../images/new/tool-feature-info-pressed.png) !important;
}

.newDesign .x-btn-pressed.btn-tool-measure-line button .x-btn-icon {
	background-image: url('../images/new/tools-measure-line-pressed.png') !important;
}

.newDesign .x-btn-pressed.btn-tool-measure-polygon button .x-btn-icon {
	background-image: url('../images/new/tools-measure-polygon-pressed.png') !important;
}

.newDesign .x-btn-pressed.btn-map-tool button .x-btn-inner, .newDesign #app-tools-actions .x-btn-pressed span.x-btn-inner {
	color: #c92d42;
}

.newDesign .x-btn.btn-map-tool:focus, .newDesign .x-btn.btn-map-tool:hover, .newDesign .x-btn.btn-snapshot:hover, .newDesign .x-btn.btn-map-select:hover {
	background: #eee;
}

/* Slider ======== */
.newDesign .x-slider-thumb {
	background-image: url('../images/new/panther-slider-thumb.png');
}

.newDesign .slider-thumb-label.sliding {
	color: #c92d42;
}

.newDesign .x-slider-horz, .newDesign .x-slider-horz .x-slider-end, .newDesign .x-slider-horz .x-slider-inner {
	background-image: url("../images/new/slider-gray-3.png");
}

.newDesign .x-slider-horz {
	background-repeat: repeat-x;
	background-position: 0;
}

.newDesign .x-slider-horz .x-slider-inner {
	background-image: url("../images/new/slider-gray-3.png");
	background-repeat: no-repeat;
	background-position: 0;
}

.newDesign .x-slider-horz .x-slider-end {
	background-repeat: repeat-x;
	background-position: 0;
}

/* yearselector slider*/
.newDesign .yearselector .x-slider-horz, .newDesign .yearselector .x-slider-horz .x-slider-inner, .newDesign .yearselector .x-slider-horz .x-slider-end {
	background-image: url("../images/new/panther-slider-bg-2.png");
}

.newDesign .yearselector .x-slider-horz .x-slider-inner {
	background-repeat: repeat;
}

/* advanced filters slider */
.newDesign .tools-filters-list .x-slider-horz, .newDesign .tools-filters-list .x-slider-horz .x-slider-end, .newDesign .tools-filters-list .x-slider-horz .x-slider-inner {
	background-image: url("../images/new/slider-gray-3.png");
}

.newDesign .tools-filters-list .x-slider-horz {
	background-repeat: repeat-x;
	background-position: 0;
}

.newDesign .tools-filters-list .x-slider-horz .x-slider-inner {
	background-repeat: no-repeat;
	background-image: url("../images/new/slider-colored-4.png");
	background-position: 0;
}

.newDesign .tools-filters-list .x-slider-horz .x-slider-end {
	background-position: 0;
}

.newDesign .x-action-col-icon:hover {
	cursor: pointer;
}

.newDesign .x-boundlist .x-boundlist-item {
	border-top: 1px solid #ddd;
}

.newDesign .x-boundlist.custom-combo-list .x-boundlist-item {
	background: #eee;
	color: #333;
	padding: 5px 5px;
	font-size: .85rem;
	transition: background .3s ease-out;
}

.newDesign .x-boundlist.custom-combo-list .x-boundlist-item:hover,
.newDesign .x-boundlist.custom-combo-list .x-boundlist-item-over {
	background: #ddd;
}

.newDesign .x-grid-row .x-grid-cell {
	transition: background-color .3s ease-out;
}

.newDesign .x-grid-row-over .x-grid-cell, .newDesign .x-grid-row-over .x-grid-rowwrap-div,
.newDesign .x-grid-row-focused .x-grid-cell, .newDesign .x-grid-row-focused .x-grid-rowwrap-div {
	background-color: #eee;
}

/* sreenshots */
.newDesign img.screenshotimg {
	background: rgb(240, 240, 240);
}

@media screen and (max-width: 1260px) {
	.newDesign #legacy-view-selector > .label {
		width: 60px;
		padding-left: 65px;
		overflow: hidden;
	}
}

@media screen and (max-width: 1075px) {
	.newDesign #legacy-view-selector > .label {
		display: none;
	}
}

@media screen and (max-height: 700px) {
	.newDesign #content-intro-guide {
		bottom: 20px;
	}
}