@media screen and (min-width: 1599px) {
	#content-intro-guide {
		top: 125px;
	}
}

@media screen and (max-width: 1400px) {
	#view-selector {
		height: 70px;
	}
	#view-selector > .group {
		display: block;
	}
	#view-selector > .group:not(:first-child) {
		margin-top: 0;
	}

	#top-toolbar {
		top: 70px;
	}


	#sidebar-tools,
	#sidebar-reports {
		top: 70px;
	}
	body.application #main {
		padding-top: 55px;
	}

	.toggle-useWBHeader body.application #main {
		padding-top: 95px;
	}
	.toggle-useHeader body.application #main {
		padding-top: 100px;
	}
	.toggle-useWBHeader.toggle-useHeader body.application #main {
		padding-top: 140px;
	}

	.toggle-useTopToolbar body.application #main {
		padding-top: 85px;
	}
	.toggle-useTopToolbar #sidebar-tools,
	.toggle-useTopToolbar #sidebar-reports {
		top: 100px;
	}
	.toggle-useTopToolbar.toggle-useHeader body.application #main {
		padding-top: 130px;
	}
	.toggle-useTopToolbar.toggle-useWBHeader body.application #main {
		padding-top: 125px;
	}
	.toggle-useTopToolbar.toggle-useHeader.toggle-useWBHeader body.application #main {
		padding-top: 170px;
	}
}


/* EO4SD */
@media screen and (max-width: 1510px) {
	.useEo4sdLogo #view-selector {
		height: 70px;
	}
	.useEo4sdLogo #view-selector > .group {
		display: block;
	}
	.useEo4sdLogo #view-selector > .group:not(:first-child) {
		margin-top: 0;
	}

	.useEo4sdLogo #top-toolbar {
		top: 70px;
	}


	.useEo4sdLogo #sidebar-tools,
	.useEo4sdLogo #sidebar-reports {
		top: 70px;
	}
	.useEo4sdLogo body.application #main {
		padding-top: 55px;
	}

	.useEo4sdLogo .toggle-useWBHeader body.application #main {
		padding-top: 95px;
	}
	.useEo4sdLogo .toggle-useHeader body.application #main {
		padding-top: 100px;
	}
	.useEo4sdLogo .toggle-useWBHeader.toggle-useHeader body.application #main {
		padding-top: 140px;
	}

	.useEo4sdLogo .toggle-useTopToolbar body.application #main {
		padding-top: 85px;
	}
	.useEo4sdLogo .toggle-useTopToolbar #sidebar-tools,
	.useEo4sdLogo .toggle-useTopToolbar #sidebar-reports {
		top: 100px;
	}
	.useEo4sdLogo .toggle-useTopToolbar.toggle-useHeader body.application #main {
		padding-top: 130px;
	}
	.useEo4sdLogo .toggle-useTopToolbar.toggle-useWBHeader body.application #main {
		padding-top: 125px;
	}
	.useEo4sdLogo .toggle-useTopToolbar.toggle-useHeader.toggle-useWBHeader body.application #main {
		padding-top: 170px;
	}
}


@media screen and (max-width: 1140px) {
	#legacy-view-selector > .label {
		width: 70px;
		padding-left: 70px;
		overflow: hidden;
	}
}

@media screen and (max-width: 950px) {
	#legacy-view-selector > .label {
		display: none;
	}
}

@media screen and (max-height: 800px) {
	#content-intro-terms {
		height: 494px;

	}

	#content-intro-terms #agreement-detail {
		height: 216px;
	}
}

@media screen and (max-height: 700px) {
	#content-intro-terms {
		height: 394px;

	}

	#content-intro-terms #agreement-detail {
		height: 116px;
	}
}