/* Header ======== */
.eea #header .home, .eea #header .menu {
	display: none;
}

/* Intro ========= */
.eea .intro #app-map {
	display: none;
}
.eea .intro #map-holder {
	background: url('../../images/eea/background.jpg') no-repeat;
	background-size: cover;
}

.eea #content-intro {
	background-color: rgb(0, 63, 95);
	background-color: rgba(0, 63, 95, .95);
	width: 810px;
}
.eea #content-intro-guide {
	background-color: rgb(0, 63, 95);
	background-color: rgba(0, 63, 95, .95);
	bottom: 50px;
}

/* Toolbar ==== */
.eea #app-toolbar-scope {
	padding-left: 13px;
}
.eea #app-toolbar-theme {
	padding-left: 7px;
}
/* intro toolbar inputs */
/* intro toolbar inputs */
.eea #content-intro  .x-form-text, .eea #content-intro .x-form-trigger {
	background-color: rgba(255,255,255,.2);
}

/* help */
.eea .field.help .help-btn .x-btn {
	background-color: rgba(255,255,255,.2);
}

/* form */
.eea.x-border-box .x-form-trigger.x-form-refresh-trigger {
	background-color           : rgba(255,255,255,.2) !important;
}
.eea.x-border-box .custom-combo .x-form-text {
	background-color: rgba(255,255,255,.2);
}
.eea.x-border-box .custom-combo .x-form-trigger {
	background-color: rgba(255,255,255,.2);
}

/*basic buttons */
.eea .x-btn.custom-button.x-btn-default-small {
	background: rgba(255,255,255,.2);
}

/* Header === */
.eea #toolbar {
	background-color: rgb(0, 63, 95);
	border-bottom: 2px solid #006699;
}

.eea .fields-holder > .label {
	background: url("../../images/eea/logo.png") no-repeat 15px 3px;
	background-size: 200px;
	height: 73px;
	width: 250px;
}

/* Buttons ================ */
/*Basic buttons*/
.eea .x-btn-default-small {
	background: #077db8;
}
.eea .x-btn-default-small:hover {
	background: #006699;
}
.eea .x-btn.custom-button.btn-confirm {
	background: rgba(7,125,184,.85);
	border: 1px solid rgba(255,255,255,.4);
}
.eea .x-btn.custom-button.btn-confirm .x-btn-inner {
	color                : #fff;
}
.eea .x-btn.custom-button.btn-confirm:hover, .eea .x-btn.btn-confirm:focus {
	background           : #006699;
	border: 1px solid rgba(255,255,255,.4);
}

/* top tools buttons */
.eea .btn-map-select.x-pressed .x-btn-icon {
	background-image: url('../../images/eea/map-select-active.png') !important;
}
/* map ttols buttons */
.eea .x-btn-pressed.btn-tool-hover button .x-btn-icon {
	background: url('../../images/eea/tools-hover-pressed.png') !important;
}
.eea .x-btn-pressed.btn-tool-multiple-maps button .x-btn-icon {
	background-image: url('../../images/eea/tools-maps-multiple-pressed.png') !important;
}
.eea .x-btn-pressed.btn-tool-measure-line button .x-btn-icon {
	background-image: url('../../images/eea/tools-measure-line-pressed.png') !important;
}
.eea .x-btn-pressed.btn-tool-measure-polygon button .x-btn-icon {
	background-image: url('../../images/eea/tools-measure-polygon-pressed.png') !important;
}
.eea .x-btn-pressed.btn-map-tool button .x-btn-inner,  .eea #app-tools-actions .x-btn-pressed span.x-btn-inner{
	color: #006699;
}

/* Checkbox ========== */
.eea .x-grid-checkheader-checked {
	background-image: url('../../images/eea/checked.png');
}
.eea .x-tree-checkbox-checked {
	background-image: url('../../images/eea/checked.png');
}

/* Slider ======== */
.eea .x-slider-thumb {
	background-image: url('../../images/eea/panther-slider-thumb.png');
}
.eea .slider-thumb-label.sliding {
	color: #006699;
}

/* advanced filters slider */
.eea .tools-filters-list .x-slider-horz .x-slider-inner{
	background-repeat: no-repeat;
	background-image: url("../../images/eea/slider-colored-4.png");
	background-position: 0;
}

/* ================================ */
/* ====== Evaluation tool ========= */
/* ================================ */

/* Common features */
.eea .widget-button {
	background: #077db8;
}
.eea .widget-button:hover {
	background: #006699;
}
/* Widget */
.eea .placeholder.open {
	background: rgba(7,125,184,.85);
	border: 1px solid rgba(255,255,255,.4);
}
.eea .placeholder.open:hover {
	background: #006699;
	border: 1px solid rgba(255,255,255,.4);
}
.eea .floater-header {
	background: #077db8;
}

/* Slider box */
.eea .slider-row.ui-slider-horizontal .ui-slider-handle {
	background: #077db8;
}
.eea .slider-row.ui-slider-horizontal .ui-slider-handle:hover, .eea .slider-row.ui-slider-horizontal .ui-slider-handle.ui-state-focus {
	background: #006699;
}
.eea .slider-row .ui-widget-header {
	background: #077db8;
}

/* Checkbox */
.eea .checkbox-row.checked .checkbox-icon {
	background: url('../../images/eea/checked.png') no-repeat center center;
}

/* Histogram */
.eea .histogram-bar.selected {
	background: #58a3c8;
}

/* footer export buttons */
.eea .widget-button-export {
	background: rgba(7,125,184,.15);
	color: #006699;
}
.eea .widget-button-export:hover {
	background: rgba(7,125,184,.25);
	color: #006699;
}
.eea .widget-button-export[disabled=disabled] {
	pointer-events: none;
	background: transparent;
	color: #aaa;
}
.eea .widget-button-export[disabled=disabled]:hover {
	pointer-events: none;
	background: transparent;
	cursor: default;
}
.eea #export-shp:before {
	content: url('../../images/eea/map.png');
}
.eea #export-csv:before {
	content: url('../../images/eea/table.png');
}

/* ================================ */
/* ====== Media queries =========== */
/* ================================ */

@media screen and (max-width: 1240px){
	.eea #toolbar > .label {
		width: 85px;
	}
	.eea .placeholders-container {
		left: 780px;
	}
}

@media screen and (max-width: 1040px){
	.eea .placeholders-container {
		left: 680px;
	}
}