/* Header ======== */
.eea #header .home, #header .eea .menu {
	display: none;
}

/* Intro ========= */
.eea .intro #app-map {
	display: none;
}
.eea .intro #map-holder {
	background: url('../../images/eea/background.jpg') no-repeat;
	background-size: cover;
}

.eea #content-intro {
	background-color: rgb(0, 63, 95);
	background-color: rgba(0, 63, 95, .95);
	width: 810px;
}
.eea #content-intro-guide {
	background-color: rgb(0, 63, 95);
	background-color: rgba(0, 63, 95, .95);
	bottom: 50px;
}

/* Header === */
.eea #toolbar {
	background-color: rgb(0, 63, 95);
	border-bottom: 2px solid #006699;
}

.eea .fields-holder > .label {
	background: url("../../images/eea/logo.png") no-repeat 15px 3px;
	background-size: 200px;
	height: 73px;
	width: 250px;
}

/* Buttons ================ */
/*Basic buttons*/
.eea .x-btn-default-small {
	background: #077db8;
}
.eea .x-btn-default-small:hover {
	background: #006699;
}
.eea .x-btn.custom-button.btn-confirm {
	background: #077db8;
	border: 1px solid #077db8;
}
.eea .x-btn.custom-button.btn-confirm .x-btn-inner {
	color                : #fff;
}
.eea .x-btn.custom-button.btn-confirm:hover, .eea .x-btn.btn-confirm:focus {
	background           : #006699;
	border: 1px solid white;
}

/* top tools buttons */
.eea .btn-map-select.x-pressed .x-btn-icon {
	background-image: url('../../images/eea/map-select-active.png') !important;
}
/* map ttols buttons */
.eea .x-btn-pressed.btn-tool-hover button .x-btn-icon {
	background: url('../../images/eea/tools-hover-pressed.png') !important;
}
.eea .x-btn-pressed.btn-tool-multiple-maps button .x-btn-icon {
	background-image: url('../../images/eea/tools-maps-multiple-pressed.png') !important;
}
.eea .x-btn-pressed.btn-tool-measure-line button .x-btn-icon {
	background-image: url('../../images/eea/tools-measure-line-pressed.png') !important;
}
.eea .x-btn-pressed.btn-tool-measure-polygon button .x-btn-icon {
	background-image: url('../../images/eea/tools-measure-polygon-pressed.png') !important;
}
.eea .x-btn-pressed.btn-map-tool button .x-btn-inner,  .eea #app-tools-actions .x-btn-pressed span.x-btn-inner{
	color: #006699;
}

/* Checkbox ========== */
.eea .x-grid-checkheader-checked {
	background-image: url('../../images/eea/checked.png');
}
.eea .x-tree-checkbox-checked {
	background-image: url('../../images/eea/checked.png');
}

/* Slider ======== */
.eea .x-slider-thumb {
	background-image: url('../../images/eea/panther-slider-thumb.png');
}
.eea .slider-thumb-label.sliding {
	color: #006699;
}

/* advanced filters slider */
.eea .tools-filters-list .x-slider-horz .x-slider-inner{
	background-repeat: no-repeat;
	background-image: url("../../images/eea/slider-colored-4.png");
	background-position: 0;
}

/* ================================ */
/* ====== Evaluation tool ========= */
/* ================================ */

/* Common features */
.eea .widget-button {
	background: #077db8;
}
.eea .widget-button:hover {
	background: #006699;
}

/* Widget */
.eea .placeholder.open {
	background: #077db8;
}
.eea .placeholder.open:hover {
	background: #006699;
}
.eea .floater-header {
	background: #077db8;
}

/* Slider box */
.eea .slider-row.ui-slider-horizontal .ui-slider-handle {
	background: #077db8;
}
.eea .slider-row.ui-slider-horizontal .ui-slider-handle:hover, .eea .slider-row.ui-slider-horizontal .ui-slider-handle.ui-state-focus {
	background: #006699;
}
.eea .slider-row .ui-widget-header {
	background: #077db8;
}

/* Checkbox */
.eea .checkbox-row.checked .checkbox-icon {
	background: url('../../images/eea/checked.png') no-repeat center center;
}

/* Histogram */
.eea .histogram-bar.selected {
	background: #58a3c8;
}

/* ================================ */
/* ====== Media queries =========== */
/* ================================ */

@media screen and (max-width: 1240px){
	.eea #toolbar > .label {
		width: 85px;
	}
}