.snow #sidebar-reports-add {
	display: none;
}

.snow #app-reports-paging {
	display: none;
}

.snow #app-reports-accordeon {
	display: none;
}

.snow #app-extra-content {
	display: block;
}

#snow-iframe {
	border: 0;
}

.snow #sidebar-reports {
	right: auto;
	left: 0;
}

.snow #map-holder {
	position: absolute;
	right: 0;
}