.snow #sidebar-reports-add {
	display: none;
}

.snow #app-reports-paging {
	display: none;
}

.snow #app-reports-accordeon {
	display: none;
}

.snow #app-extra-content {
	display: block;
}

#snow-iframe {
	border: 0;
}

.snow #sidebar-reports {
	right: auto;
	left: 0;
}
.snow #sidebar-reports.hidden {
	right: auto;
	left: -800px;
}
.snow #sidebar-reports.show-map #sidebar-reports-toggle {
	left: 800px;
	background: white;
	border: 1px solid #27618e;
	border-top-width: 0;
	border-left-width: 0;
	border-bottom-right-radius: .15rem;
}
.snow #sidebar-reports.show-map.hidden #sidebar-reports-toggle {
	width: 26px;
}
.snow #sidebar-reports.show-map #sidebar-reports-toggle:hover {
	background: rgb(215,235,255);
}
.snow #sidebar-reports.show-map #sidebar-reports-toggle:before {
	content: "\f104";
	font-family: "FontAwesome";
	font-size: 1.65rem;
	color: #27618e;
	position: absolute;
	left: .4rem;
}
.snow #sidebar-reports.show-map.hidden #sidebar-reports-toggle:before {
	content: "\f105";
}
.snow #maps-container {
	right: 0;
	left: auto;
}

.snow #map-holder {
	position: absolute;
	right: 0;
}

/* Selectors toolbar */
.snow #header {
	background: rgba(45,53,60,1);
	z-index: 90000;
}
.snow #header .menu {
	display: none;
	position: absolute;
	right: 180px;
}
.snow #header .menu li:before {
	position: absolute;
	left: auto;
	right: 0;
	width: 2px;
}
.snow #project-logo {
	background: url('../../images/snow/logo_snow.png');
	background-repeat: no-repeat;
	background-position: 15px;
	display: inline-block;
	width: 150px;
	height: 70px;
	padding: 15px;
	transition: background .3s ease-in-out;
}
.snow #project-logo:hover {
	background: url('../../images/snow/logo_snow_hover.png');
	background-repeat: no-repeat;
	background-position: 15px;
}
.snow #top-toolbar {
	background: rgba(45,53,60,1);
	border-bottom: 1px solid rgba(140,145,150,0.3);
}
.snow #top-toolbar .item {
	font-size: 14px;
	font-weight: 600;
}
.snow #top-toolbar-features {
	background: rgba(45,53,60,1);
	border-bottom: 1px solid rgba(140,145,150,0.3);
	text-align: right;
}
.snow #top-toolbar-features .item {
	color: #ddd;
	border-color: #888;
}
.snow #top-toolbar-features .item:before {
	color: #ddd;
}
.snow #top-toolbar-tools .item {
	border: 0;
}
.snow #top-toolbar-tools .item:hover {
	background: rgba(125,125,125,.15)
}
.snow #top-toolbar-features {
	margin-right: .5rem;
}
.snow #top-toolbar-widgets .item:last-child {
	border-right: 0;
}
body.mode-3d #top-toolbar-3dmap:not(.world-wind-2d),
.snow #top-toolbar-features .item.open {
	color: rgba(26,128,182,1);
}

/* snow widget */
.snow .floater {
	background: none;
	border: 0;
	border-radius: .1rem;
	padding: 0;
}
.snow .floater.active {
	z-index: 90001;
}
.snow .floater-body {
	background: rgba(255,255,255,.9);
	padding-top: 1rem;
}
.snow .floater-header {
	background: rgba(39,97,142,.9);
	height: 2.5rem;
	line-height: 2.5rem;
}
.snow .floater-header > span {
	font-size: 1rem;
	font-weight: 400;
	padding: 0 .7rem;
}
.snow .floater-tool {
	margin: .3rem .5rem .3rem 0;
}

.snow .widget-button {
	background: none;
	border: 1px solid rgba(39,97,142,1);
	color: rgba(39,97,142,1);
}
.snow .widget-button:hover {
	background: rgba(39,97,142,.15);
}
.snow .snow-cfg-table .widget-button {
	font-size: .8rem;
	font-weight: 600;
}
.snow .snow-table-caption {
	color: rgba(39,97,142,1);
}
.snow .new-table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 2px 0;
}


/** login window **/
.snow #loginwindow {
	box-shadow: 0 0 4px rgb(136, 136, 136);
}
.snow .x-form-item-label {
	color: #555;
	font-size: .9rem;
	font-weight: 500;
	padding-top: 6px;
}

.snow.x-border-box .x-form-text {
	border-radius: .15rem;
	font-size: .8rem;
}

.snow #loginwindow .x-btn-default-small,
.snow #loginwindow .x-btn-default-small:last-child {
	background: none;
	border: 1px solid rgba(39,97,142,1);
	border-radius: .15rem;
	color: rgba(39,97,142,1);
	margin-left: 5px !important;
	padding-left: 0;
	width: 70px !important;
}
.snow #loginwindow .x-btn-default-small-over,
.snow #loginwindow .x-btn-default-small-over:last-child,
.snow #loginwindow .x-btn-default-small:last-child:hover {
	background: rgba(39,97,142,.15);
}
.snow #loginwindow .x-btn-default-small span.x-btn-inner {
	color: rgba(39,97,142,1);
	font-size: .8rem;
	font-weight: 600;
	padding: 0;
	width: 69px !important;
}

/* TODO temporary changes */
.snow #top-toolbar-3dmap {
	display: none !important;
}