/* Header ======== */
.urbis #header .home, .urbis #header .menu {
    display: none;
}

/* Intro ========= */
.urbis .intro #app-map {
    display: none;
}
.urbis .intro #map-holder {
    background: url('../../images/urbis/urbis-background.jpg') no-repeat;
    background-size: cover;
}

/* Intro === */
.urbis #content-intro {
    background-color: rgba(67, 66, 84, .95);
    width: 810px;
}
.urbis #content-intro-guide {
    background-color: rgba(67, 66, 84, .95);
    bottom: 50px;
}

/* About project info === */
.urbis #about-urbis a {
    color: #ff7600;
    text-decoration: underline;
}
.urbis #about-urbis a:hover {
    color: #d35400;
}


/* Header === */
.urbis .fields-holder > .label {
    background: url("../../images/urbis/urbis-colour-white.png") no-repeat 15px 11px;
    background-size: 200px;
    width: 250px;
}

/* Form ================== */
/* Box ============= */
/* Accordion =============== */
/* Tables ================ */
/* Tabs ================= */


/* Buttons ================ */
/*Basic buttons*/
.urbis .x-btn-default-small {
    background: #ff7600;
}
.urbis .x-btn-default-small:hover {
    background: #d35400;
}
.urbis .x-btn.custom-button.btn-confirm {
    background: rgba(255,118,0,.85);
    border: 1px solid rgba(255,255,255,.5);
}
.urbis .x-btn.custom-button.btn-confirm .x-btn-inner {
    color                : #fff;
}
.urbis .x-btn.custom-button.btn-confirm:hover, .urbis .x-btn.btn-confirm:focus {
    background           : #d35400;
    border: 1px solid rgba(255,255,255,.5);
}
/* top tools buttons */
.urbis .btn-map-select.x-pressed .x-btn-icon {
    background-image: url('../../images/urbis/map-select-active.png') !important;
}
/* map tools buttons */
.urbis .x-btn-pressed.btn-tool-hover button .x-btn-icon {
    background: url('../../images/urbis/tools-hover-pressed.png') !important;
}
.urbis .x-btn-pressed.btn-tool-multiple-maps button .x-btn-icon {
    background-image: url('../../images/urbis/tools-maps-multiple-pressed.png') !important;
}
.urbis .x-btn-pressed.btn-tool-measure-line button .x-btn-icon {
    background-image: url('../../images/urbis/tools-measure-line-pressed.png') !important;
}
.urbis .x-btn-pressed.btn-tool-measure-polygon button .x-btn-icon {
    background-image: url('../../images/urbis/tools-measure-polygon-pressed.png') !important;
}
.urbis .x-btn-pressed.btn-map-tool button .x-btn-inner,  .urbis #app-tools-actions .x-btn-pressed span.x-btn-inner{
    color: #d35400;
}

/* Checkbox ========== */
.urbis .x-grid-checkheader-checked {
    background-image: url('../../images/urbis/checked.png');
}
.urbis .x-tree-checkbox-checked {
    background-image: url('../../images/urbis/checked.png');
}

/* Slider ======== */
.urbis .x-slider-thumb {
    background-image: url('../../images/urbis/panther-slider-thumb.png');
}
.urbis .slider-thumb-label.sliding {
    color: #d35400;
}

/* advanced filters slider */
.urbis .tools-filters-list .x-slider-horz .x-slider-inner{
    background-repeat: no-repeat;
    background-image: url("../../images/urbis/slider-colored-4.png");
    background-position: 0;
}

/* ================================ */
/* ====== Evaluation tool ========= */
/* ================================ */

/* Common features */
.urbis .widget-button {
    background: #ff7600;
}
.urbis .widget-button:hover {
    background: #d35400;
}

/* Widget */
.urbis .placeholder.open {
    background: rgba(255,118,0,.85);
    border: 1px solid rgba(255,255,255,.5);
}
.urbis .placeholder.open:hover {
    background           : #d35400;
    border: 1px solid rgba(255,255,255,.5);
}
.urbis .floater-header {
    background: #ff7600;
}

/* Slider box */
.urbis .slider-row.ui-slider-horizontal .ui-slider-handle {
    background: #ff7600;
}
.urbis .slider-row.ui-slider-horizontal .ui-slider-handle:hover, .urbis .slider-row.ui-slider-horizontal .ui-slider-handle.ui-state-focus {
    background: #d35400;
}
.urbis .slider-row .ui-widget-header {
    background: #ff7600;
}

/* Checkbox */
.urbis .checkbox-row.checked .checkbox-icon {
    background: url('../../images/urbis/checked.png') no-repeat center center;
}

/* Histogram */
.urbis .histogram-bar.selected {
    background: #ffa04e;
}

/* footer export buttons */
.urbis .widget-button-export {
    background: rgba(255,118,0,.15);
    color: #ff7600;
}
.urbis .widget-button-export:hover {
    background: rgba(255,118,0,.25);
    color: #ff7600;
}
.urbis .widget-button-export[disabled=disabled] {
    pointer-events: none;
    background: transparent;
    color: #aaa;
}
.urbis .widget-button-export[disabled=disabled]:hover {
    pointer-events: none;
    background: transparent;
    cursor: default;
}
.urbis #export-shp:before {
    content: url('../../images/urbis/map.png');
}
.urbis #export-csv:before {
    content: url('../../images/urbis/table.png');
}
