.ptr-change-reviews-list {
	height: 100%;
}
.ptr-change-reviews-list-header {
	background: rgba(153,54,75,1);
	background-image: linear-gradient(160deg, rgba(123,54,75,1) 0%, rgba(193,54,75,1) 100%);
	display: flex;
	align-items: center;
	height: 8rem;
	padding: 1rem 1rem 3.5rem;
}
.ptr-change-reviews-list-title {
	color: rgba(208,212,220,1);
	font-family: "Roboto", sans-serif;
	flex: 1;
	font-size: 2.3rem;
	font-weight: 300;
}
.ptr-change-reviews-list-buttons {
	display: flex;
	align-items: center;
	margin-right: .5rem;
	justify-content: flex-end;
	flex-basis: 50%;
	flex-wrap: wrap;
}
.ptr-change-reviews-list-buttons > div {
	margin: .5rem 0 0 1rem;
}
.ptr-change-reviews-list-buttons > .ptr-input-text {
	flex: 1;
}
.ptr-change-reviews-list-body {
	height: calc(100% - 6rem);
}

/* Table */
.ptr-table {

}
/* header */
.ptr-table-header {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 2rem;
	line-height: 2rem;
	z-index: 1;
}
.ptr-table-header-item {
	color: rgba(33,38,53,1);
	padding: 0 .5rem;
	font-size: .9375rem;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* body */
.ptr-table-body {
	height: calc(100% - 2rem);
	overflow-y: auto;
}
.ptr-table-row {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #ddd;
	transition: background .3s ease-in-out;
}
.ptr-table-row:hover {
	background: rgba(223,225,228,1);
}
.ptr-table-row-record {
	display: flex;
	padding: .3rem 0;
	align-items: center;
}
.ptr-table-row-details {
	height: 5rem;
	padding: .5rem 1.5rem;
	background: rgba(230,230,230,1);
}
.ptr-table-row-item {
	color: rgba(85,89,101,1);
	padding: 0 .5rem;
	font-size: .875rem;
	align-items: center;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ptr-table-row-item.state,
.ptr-table-row-item.buttons {
	display: flex;
}
.ptr-table-row-action {
	flex: 1;
}
.ptr-table-row-show-details {
	cursor: pointer;
}
.ptr-table-row-show-details > svg {
	padding: 0 .5rem;
	transform: rotate(90deg);
}
.ptr-table-row-show-details > svg .line {
	fill: rgba(33,38,53,1);
}

/* Change reviews table */
.ptr-table.change-reviews-table {
	margin-top: -2rem;
	height: 100%;
	width: 100%;
}
.ptr-table.change-reviews-table .ptr-table-header {
	padding: 0 .5rem;
}
.ptr-table.change-reviews-table .ptr-table-header-item {
	color: rgba(208,212,220,1);
}
.ptr-table.change-reviews-table .ptr-table-row {
	padding: 0 .5rem;
}
.ptr-table.change-reviews-table .ptr-table-header-item.buttons,
.ptr-table.change-reviews-table .ptr-table-row-item.buttons {
	min-width: 8rem;
}
.ptr-table.change-reviews-table .ptr-table-row-item:first-child {
	padding-left: 0;
}
.ptr-table.change-reviews-table .ptr-table-header-item:nth-child(1),
.ptr-table.change-reviews-table .ptr-table-row-item:nth-child(1) {
	flex-basis: 20%;
}
.ptr-table.change-reviews-table .ptr-table-header-item:nth-child(2),
.ptr-table.change-reviews-table .ptr-table-row-item:nth-child(2) {
	flex-basis: 25%;
}
.ptr-table.change-reviews-table .ptr-table-row-item:nth-child(2) {
	font-weight: 600;
}
.ptr-table.change-reviews-table .ptr-table-header-item:nth-child(3),
.ptr-table.change-reviews-table .ptr-table-row-item:nth-child(3) {
	flex-basis: 20%;
}
.ptr-table.change-reviews-table .ptr-table-header-item:nth-child(4),
.ptr-table.change-reviews-table .ptr-table-row-item:nth-child(4) {
	flex-basis: 20%;
}
.ptr-table.change-reviews-table .ptr-table-header-item:nth-child(5),
.ptr-table.change-reviews-table .ptr-table-row-item:nth-child(5){
	flex-basis: 15%;
}