<div class="tool-window settings-window" id="{{id}}">
    <div class="tool-window-header">
        <span>Settings</span>
        <div class="tool-window-tools-container">
            <div class="window-close">
                <img alt="Close" src="__new/img/close.png"/>
                </div>
            </div>
        </div>
    <div class="tool-window-body">
    </div>
    <div class="tool-window-footer">
        <div class="widget-button tool-window-button settings-confirm">Confirm</div>
    </div>
</div>