<div class="floating-window tool-window settings-window" id="{{id}}">
    <div class="tool-window-header">
        <div class="tool-window-title">{{settings}}</div>
        <div class="tool-window-tools-container">
            <div title="Close" class="floater-tool settings-close feature-info-close">
                &#x2716
            </div>
        </div>
    </div>
    <div class="tool-window-body">
    </div>
    <div class="tool-window-footer">
        <div class="widget-button tool-window-button settings-confirm">{{confirm}}</div>
    </div>
</div>