/* == tool window == */
.tool-window {
	background: rgba(255,255,255,.95);
	border-radius: .1rem;
	-webkit-box-shadow: 0 0 4px rgb(136, 136, 136);
	-moz-box-shadow: 0 0 4px rgb(136, 136, 136);
	box-shadow: 0 0 4px rgb(136, 136, 136);

	display: none;
	height: 25rem;
	width: 35rem;
	padding: .5rem;
	position: absolute;
	top: 8rem;
	left: calc(50% - 17.5rem);
	z-index: 10000;
	resize: both;
	overflow: auto;
}
.tool-window.open {
	display: block;
}
.tool-window.active {
	z-index: 10001;
}

/* header */
.tool-window-header {
	cursor: move;
	height: 2rem;
	position: relative;
}
.tool-window-header span {
	color: #666;
	display: inline-block;
	font-size: .9rem;
	font-weight: bold;
	padding: 0 .2rem .2rem;
	white-space: nowrap;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.tool-window-header .window-close {
	float: right;
}
.tool-window-header .window-close:hover {
	cursor: pointer;
}
.tool-window-tools-container {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}

/* body */
.tool-window-body {
	background: rgb(250,250,250);
	border: 1px solid #ddd;
	height: calc(100% - 5rem);
	padding: .2rem .3rem;
	overflow: auto;
}
.tool-window-body .section-header:first-child {
	margin-top: .2rem;
}
.tool-window-body .checkbox-row a {
	border-bottom: 1px solid #ddd;
	padding-left: 2rem;
}
.tool-window-body .checkbox-row.attribute-set-row a {
	padding-left: 1rem;
}
.tool-window-body .checkbox-row.all-attributes-row a {
	padding-left: 0;
}
.tool-window-body .checkbox-row div {
	font-weight: normal;
}
.tool-window-body .checkbox-row div i {
	font-style: normal;
	font-size: .7rem;
	color: #bbb;
	padding-left: .3rem;
}
.tool-window-body .checkbox-row.attribute-set-row div,
.tool-window-body .checkbox-row.all-attributes-row div {
	font-weight: bold;
	font-size: .8rem;
}

.tool-window-body .checkbox-row .checkbox-label {
	position: relative;
	width: 90%;
}

/* toggle switch */
.tool-window-body .checkbox-row .checkbox-label .multioptions {
	position: absolute;
	display: inline-block;
	right: 0;
}

.tool-window-body .checkbox-row .checkbox-label .multioptions > span {
	font-size: .7rem;
}

.tool-window-body .checkbox-row .switch {
	position: relative;
	display: inline-block;
	margin-left: .3rem;
	width: 25px;
	height: 14px;
	top: .15rem;
}

.tool-window-body .checkbox-row .switch input {display:none;}

.tool-window-body .checkbox-row .slider-toggle {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.tool-window-body .checkbox-row .slider-toggle:before {
	position: absolute;
	content: "";
	height: 10px;
	width: 26px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

.tool-window-body .checkbox-row input:checked + .slider-toggle {
	background-color: #c92d42;
}

.tool-window-body .checkbox-row input:checked + .slider-toggle:before {
	-webkit-transform: translateX(9px);
	-ms-transform: translateX(9px);
	transform: translateX(9px);
}

.tool-window-body .checkbox-row .slider-toggle {
	border-radius: 10px;
}

.tool-window-body .checkbox-row .slider-toggle:before {
	width: 12px;
	border-radius: 10px
}


/* Footer */
.tool-window-footer {
	height: 2.5rem;
	padding: .5rem 0;
	position: relative;
}
.tool-window-button {
	position: absolute;
	right: 0;
	width: 10rem;
}
.tool-window-button[disabled=disabled] {
	pointer-events: none;
	color: #bbb;
	background: #ddd;
}