
/* Specific style for urban atlas legend option */
.ptr-ui-select .ua-legend-option {
	background: white;
	border-bottom: 1px solid #ccc;
}
.ua-legend-option-content {
	display: flex;
	align-items: center;
}
.ua-legend-option-color {
	border: 1px solid #aaa;
	margin-right: 10px;
	min-width: 15px;
	max-width: 15px;
	min-height: 50px;
	max-height: 50px;
}
.ua-legend-option-code {
	color: #888;
	font-size: .75rem;
}
.ua-legend-option-name {
}