.ptr-input-file {
	overflow: hidden;
	border: 1px solid transparent;
	background: transparent;
	padding: .5rem;
	font-size: 1rem;
	line-height: 1.5rem;

	width: 100%;
}

/* this should not be needed and if so, not here or more specific */
/*textarea.ptr-editable-text:focus,*/
/*textarea.ptr-editable-text.empty {*/
	/*border: 1px dashed rgba(0,0,0,.5);*/
/*}*/