.ptr-input-wrapper {
	position: relative;
	border: 1px solid #aaa;
	border-radius: .2rem;
	margin-bottom: 1.5rem;
	box-shadow: 0.05rem 0.05rem 0.2rem 0 rgba(0, 0, 0, .07);
}
.ptr-input-wrapper > label,
.ptr-input-wrapper > div:first-child {
	display: block;
	padding: 1rem;
}
.ptr-input-wrapper label span,
.ptr-input-wrapper div span {
	color: rgba(33,38,53,1);
	font-size: .875rem;
}
.ptr-input-wrapper-required {
	position: absolute;
	top: 0;
	right: 1rem;
	display: block;
	content: "Required";
	background: #aaa;
	font-size: .875rem;
	line-height: 1.5rem;
	padding: 0 .5rem;
	border-radius: 0 0 .2rem .2rem;
	color: #eee;
}
.ptr-input-wrapper-info {
	border-top: 1px solid rgba(0, 0, 0, .1);
	font-size: .8125rem;
	color: rgba(65,69,81,1);
	padding: .5rem 1rem;
	line-height: 1.5;
}