/* = Evaluation floater = */
#floater-custom-polygons-widget {
	left: 15rem;
	top: 9rem;
	min-width: 15rem;
	width: 22rem;
	max-width: 25rem;
	height: 16rem;
}

#floater-custom-polygons-widget .floater-body {
	height: calc(100% - 2rem);
	padding: .5rem;
}

#floater-custom-polygons-widget .floater-body .floater-row {
	margin: .5rem 0;
}

#floater-custom-polygons-widget .map-button {
	min-width: 4rem;
	padding: .4rem .7rem;
	margin: .2rem .2rem .2rem 0;
	text-transform: none;
	text-align: center;
}