@import '../../../../styles/variables';

.ptr-hbar-infographic-item {
	margin-bottom: m(1/3);
	display: flex;
	align-items: center;
}

.ptr-hbar-infographic-item-name {
	min-width: 40%;
	padding-right: 1rem;
}

.ptr-hbar-infographic-item-title {
	padding-right: .25rem;
	font-weight: bold;
	color: var(--base80);
}

.ptr-hbar-infographic-item-unit {
	color: var(--base50);
}

.ptr-hbar-infographic-item-bar-box {
	min-width: 60%;
}

.ptr-hbar-infographic-item-bar-rail {
	width: 100%;
	height: .75rem;
	background: var(--base10);
	position: relative;
}

.ptr-hbar-infographic-item-bar {
	height: 100%;
	width: 50%;
	background: var(--accent50);
}