@import '~@gisatcz/ptr-core/src/styles/_variables';

.ptr-hbar-infographic-item {
	margin-bottom: m(1/3);
	display: flex;
	flex-direction: column;
}

// top
.ptr-hbar-infographic-top {
	display: flex;
	align-items: flex-end;
}

.ptr-hbar-infographic-name {
	color: var(--base65);
	padding-right: m(1);
	padding-bottom: .15rem;
	display: flex;
	align-items: flex-end;
}

.ptr-hbar-infographic-title {
	font-weight: bold;
	padding-right: .25rem;
}

.ptr-hbar-infographic-title > i {
	font-size: $b1;
	color: var(--base40);
}

.ptr-hbar-infographic-value {
	flex: 1;
	text-align: right;
	font-size: $b2;
	font-weight: bold;
	color: var(--accent55);
}

// bar
.ptr-hbar-infographic-bar-box {
	width: 100%;
}

.ptr-hbar-infographic-bar-rail {
	width: 100%;
	height: .3rem;
	background: var(--base15);
	position: relative;
}

.ptr-hbar-infographic-bar {
	height: 100%;
	width: 0;
	background: var(--accent50);
	transition: width .7s ease-in-out;
}

.ptr-hbar-infographic-mean {
	height: calc(100% + 4px);
	width: 3px;
	background: var(--accent80);
	position: absolute;
	left: 0;
	top: 0;
	margin-top: -2px;
}

// bottom
.ptr-hbar-infographic-bottom {
	display: flex;
	margin-top: .15rem;
}

.ptr-hbar-infographic-min,
.ptr-hbar-infographic-max {
	font-size: $b1;
	color: var(--base40);
}

.ptr-hbar-infographic-max {
	flex-grow: 1;
	text-align: right;
}