@import '~@gisatcz/ptr-core/src/styles/_variables';

.ptr-panther-select-current {
	display: flex;
	position: relative;
	z-index: 45;
}
.ptr-panther-select:not(.disabled):not(.currentDisabled) .ptr-panther-select-current {
	cursor: pointer;
}
.ptr-panther-select-current:focus,
.ptr-panther-select-current-icon:focus {
	outline: 0;
}
.ptr-panther-select-current > div:first-child {
	flex: 1;
	overflow: hidden;
}
.ptr-panther-select-current-icon {
	$width: m(1);
	flex: 0 0 $width;
}
.ptr-panther-select-current-icon > svg {
	transition: transform .3s ease-in-out;
}
.ptr-panther-select.open .ptr-panther-select-current-icon > svg {
	transform: rotate(180deg);
}

.ptr-panther-select-list {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 100vh;
	padding-top: 3rem;
	pointer-events: none;
	display: flex;
	z-index: 10;
}

.ptr-panther-select-list > div {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.ptr-panther-select-list > div > div {
	transform: translateY(-100%);
	transition: transform .3s ease-in-out;
	pointer-events: none;
	overflow: hidden;
}
.ptr-panther-select.open .ptr-panther-select-list > div > div {
	transform: none;
	pointer-events: all;
}