.ptr-icon.ptr-inline-icon{
    height: 1em;
    width: 1em;
    fill: currentColor;
}

.ptr-icon-baseline .ptr-icon.ptr-inline-icon{
    top: .2em;
    position: relative;
}

.ptr-icon-inline-wrap{
    display: inline-flex;
    align-self: center;
}

.ptr-icon.hover{
    cursor: pointer;
}