#floater-world-wind-widget {
	display: none;
	left: 10rem;
	top: 10rem;
	min-width: 260px;
	max-width: 40rem;
	min-height: 10rem;
	max-height: 25rem;
	width: 20rem;
}
#floater-world-wind-widget.open {
	display: block;
}
#floater-world-wind-widget.pinned {
	min-width: 300px;
	max-width: 300px;
	max-height: none;
	height: 100%;
}

/* Floater body */
#floater-world-wind-widget .floater-body {
	padding: .5rem 0 0 0;
	height: calc(100% - 3rem);
}
#floater-world-wind-widget .checkbox-row {
	transition: background .3s ease-out;
}
#floater-world-wind-widget .checkbox-row:hover {
	background: rgb(235,235,235);
	cursor: pointer;
}


.floater-fake-header {
	background: #ddd;
	height: 31px;
	line-height: 31px;
	padding: 0 .5rem 0 1rem;
}
.floater-fake-header span {
	color: #333;
	font-size: 12px;
	font-weight: 700;
}
.floater-fake-header-tool {
	cursor: pointer;
	position: relative;
	float: right;
}
.floater-fake-header-tool img {
	position: absolute;
	right: 0;
	top: 7px;
}