.ptr-ui-select-custom-option {
	display: flex;
	flex-direction: column;
	padding: 0 .5rem;
	cursor: pointer;
	border-width: 1px 0 0;
	border-style: solid;

	background-color: rgba(255, 255, 255, 1);
	border-color: rgba(210, 214, 218, 1);
	color: #333;
}
.ptr-ui-select-custom-option:hover,
.ptr-ui-select-custom-option.focused {
	background-color: rgba(153,191,228,.35);
}
.ptr-ui-select-custom-option.centered-vertically {
	justify-content: center;
}

/* === Custom option child elements === */
.custom-option-code {
	font-size: .8rem;
	color: #888;
}
.custom-option-name {
	font-size: .9rem;
}