.case-detail-wrap {
	overflow-y: auto;
	height: 100%;
}
.case-detail-header {
	background: rgba(204,207,211,1);
	padding: 1rem .7rem;
}
.case-detail-header-buttons {
	margin-bottom: .5rem;
	display: flex;
	justify-content: space-between;
}
.case-detail-header-buttons > div {
	flex-grow: 0;
}
.case-detail-body {
	padding: .7rem;
}
.ptr-case-detail-map > div:first-child {
	font-size: .875rem;
	line-height: 1rem;
	margin: .65rem 0 .35rem 0;
}
.ptr-case-detail-buttons {
	margin: .5rem 0;
}
.ptr-case-detail-buttons > .ptr-button {
	margin: 0 .5rem 0 0;
}