/* === Selections === */
.select-menu-box {
    margin: .5rem 0;
}

.select-menu-caption {
    display: block;
    font-weight: bold;
    height: 1.2rem;
    line-height: 1.2rem;
}

.option-count {
    color: #aaa;
    font-style: normal;
    position: absolute;
    right: .7rem;
}

.select-menu-box .ui-selectmenu-button {
    background: #eee;
    width: 15rem;
    margin: .3rem 0;
    padding: .4rem .5rem;
    border: 1px solid #ccc;
    line-height: 1rem;
}

.select-menu-box .ui-selectmenu-icon, .select-menu-box .ui-selectmenu-button-open .ui-selectmenu-icon,
.select-menu-box .ui-selectmenu-button-closed .ui-selectmenu-icon {
    background: url('../../../../../img/arrow-down.png');
}

.select-menu-box .ui-corner-all {
    border-radius: .1rem;
}