/*  PROJECTS SPECIFIC STYLES

	Table of contents

	DROMAS
	INVAZE
	URBAN TEP
	EO4SD
		specific font family
		header
		top toolbar
		windows
		charts
*/

@font-face {
	font-family: 'NotesEsa';
	font-style: normal;
	font-weight: normal;
	src: local('Tangerine'), url('fonts/NotesEsaReg.otf') format('opentype');
}

/* === DROMAS ======================================== */
html.dromas .ptr-overlay.ptr-overlay-views {
	background-image: linear-gradient(160deg, rgba(33,38,53,1) 0%, rgba(33,38,53,1) 40%, rgba(63,50,43,1) 100%);
}
html.dromas .scopes-list-item:hover {
	background: rgba(172,98,33,.2);
}
html.dromas .scopes-list-item.active {
	background: rgba(172,98,33,.6);
}
html.dromas .intro-screen-header:before {
	background-image: url('./img/dromas/dromas-background.jpeg');
}
html.dromas .intro-screen-title {
	background-image: linear-gradient(160deg, rgba(152,98,33,.7) 0%, rgba(202,98,33,.7) 100%);
}
html.dromas .ptr-change-reviews-list-header,
html.dromas .ptr-change-review-form-header {
	background: rgba(172,98,33,.7);
	background-image: linear-gradient(160deg, rgba(152,98,33,1) 0%, rgba(202,98,33,1) 100%);
}

/* === INVAZE ======================================== */
html.invaze .ptr-overlay.ptr-overlay-views {
	background-image: linear-gradient(160deg, rgba(33,38,53,1) 0%, rgba(33,38,53,1) 40%, rgba(40,40,0,1) 100%);
}
html.invaze .scopes-list-item:hover {
	background: rgba(110,130,13,.2);
}
html.invaze .scopes-list-item.active {
	background: rgba(110,130,13,.6);
}
html.invaze .intro-screen-header:before {
	background-image: url('./img/invaze/invaze-background.jpg');
}
html.invaze .intro-screen-title {
	background: rgba(110,130,13,.8);
}

/* === URBAN TEP ===================================== */
html.urban-tep .ptr-overlay.ptr-overlay-views {
	background-image: linear-gradient(160deg, rgba(65,69,81,1) 0%, rgba(65,69,81,1) 40%, rgba(106,110,120,1) 100%);
}
html.urban-tep .scopes-list-item:hover {
	background: rgba(153,55,64,.35);
}
html.urban-tep .scopes-list-item.active {
	background: rgba(153,55,64,.8);
	border: 1px solid rgba(255,255,255,.15);
	border-left: 0;
	border-right: 0;
}
html.urban-tep .intro-screen-header:before {
	background: url('./img/urban_tep/urban_tep_background.png') no-repeat;
}
html.urban-tep .intro-screen-title {
	background: rgba(153,55,64,.9);
}

/* === EO4SD ===================================== */
/* specific font-family */
.eo4sd.newDesign #header,
.eo4sd.newDesign #header h1,
.eo4sd.newDesign #header a,
.eo4sd.newDesign #view-selector,
.eo4sd.newDesign #content-intro,
.eo4sd.newDesign #content-intro-guide,
.eo4sd.newDesign #view-selector .field .label,
.eo4sd.newDesign.x-border-box .custom-combo .x-form-text,
.eo4sd.newDesign #app-view-selector-visualization-save .x-btn.custom-button.x-btn-default-small .x-btn-inner,
.eo4sd.newDesign .thematic-maps-settings .x-window-header-text-default,
.eo4sd.newDesign .chart-panel .x-panel-header-text,

.eo4sd #top-toolbar .item,
.eo4sd .floater-header-title,
.eo4sd.newDesign .mode-3d .detached-window .x-window-header-text-default,
.eo4sd .tool-window-title,

.eo4sd .ptr-window-title,
.eo4sd .view-list-title,
.eo4sd .view-card-title {
	font-family: "NotesEsa", sans-serif;
}

/* header */
.eo4sd.newDesign #header, .eo4sd.newDesign #view-selector, .eo4sd.newDesign #content-intro, .eo4sd.newDesign #content-intro-guide {
	background-color: black;
}

.eo4sd.newDesign #header {
	padding-left: 10px;
}

.eo4sd.newDesign #header .menu {
	padding-left: 20px;
}
.eo4sd.newDesign #header .menu li:first-child:before {
	width: 0;
}

.eo4sd.newDesign #home-page {
	padding: 8px;
}

.eo4sd.newDesign #view-selector {
	padding-left: 190px;
}

.eo4sd.newDesign #header .menu li a,
.eo4sd.newDesign #header .user a {
	font-size: .875rem;
}

.eo4sd.newDesign #content-intro table:hover .x-form-text,
.eo4sd.newDesign #content-intro table:hover .x-form-trigger,
.eo4sd.newDesign #content-intro .x-form-trigger,
.eo4sd.newDesign #content-intro .custom-combo .x-form-text,
.eo4sd.newDesign .app-legacy-view-selector-help .help-btn .x-btn:hover,
.eo4sd.newDesign.x-border-box .x-form-trigger.x-form-refresh-trigger,
.eo4sd.newDesign.x-border-box .custom-combo .x-form-text,
.eo4sd.newDesign.x-border-box .custom-combo .x-form-trigger,
.eo4sd.newDesign .x-btn.custom-button.x-btn-default-small,
.eo4sd.newDesign .select-multi-container.top-bar-multiselect,
.eo4sd.newDesign .component-button.compare-button:hover,
.eo4sd.newDesign .select-basic-container.top-bar-select {
	background: rgba(255, 255, 255, .2);
}
.eo4sd.newDesign.x-border-box .custom-combo:hover .x-form-text,
.eo4sd.newDesign.x-border-box .custom-combo:hover .x-form-trigger,
.eo4sd.newDesign.x-border-box .custom-combo:hover .x-form-trigger.x-form-refresh-trigger,
.eo4sd.newDesign .x-btn.custom-button.x-btn-default-small:hover {
	background-color: rgba(255, 255, 255, .3) !important;
}
.eo4sd.newDesign .select-multi-container.top-bar-multiselect:hover,
.eo4sd.newDesign .select-basic-container.top-bar-select:hover,
.eo4sd.newDesign .component-button.compare-button {
	background: rgba(255, 255, 255, .3);
}

/* Top toolbar */
.eo4sd #top-toolbar .item {
	font-size: .9375rem;
}

/* Windows */
.eo4sd .floater-header-title,
.eo4sd.newDesign .mode-3d .detached-window .x-window-header-text-default,
.eo4sd .ptr-window-title {
	font-size: 1.0625rem;
}

.eo4sd.newDesign .thematic-maps-settings .x-window-header-text-default {
	font-size: 1.125rem;
}

/* charts */
.eo4sd.newDesign .chart-panel .x-panel-header-text {
	font-size: .9375rem;
}
.eo4sd.newDesign .chart-panel .x-panel-header {
	background: rgba(153,54,75, .95) !important;
}
.eo4sd.newDesign .chart-panel .x-panel-header:hover {
	background: rgba(153,54,75, 1) !important;
}
.eo4sd.newDesign .chart-panel .x-panel-header-text {
	color: rgba(218,222,228,1);
	font-weight: 300;
}

.eo4sd.newDesign .chart-panel .x-panel-header .tool-icon:before,
.eo4sd.newDesign .chart-panel.panel-snapshots .x-panel-header .x-tool:before {
	color: #ccc;
}
.eo4sd.newDesign .chart-panel .x-panel-header .tool-icon:hover:before,
.eo4sd.newDesign .chart-panel.panel-snapshots .x-panel-header .x-tool:hover:before,
.eo4sd.newDesign .chart-panel .x-panel-header .tool-icon.tool-active:before {
	color: white;
}