@import '../../../../styles/variables';

.ptr-chart-wrapper {
	min-height: 10rem;
	position: relative;
	margin-bottom: m(1);
	border-radius: .2rem;
	width: 100%;
	background: var(--base0);
}

.ptr-chart-wrapper-loader {
	@include positionFill();
}

.ptr-chart-wrapper-header {
	display: flex;
	color: var(--base90);
}

.ptr-chart-wrapper-header.with-subtitle {

}

.ptr-chart-wrapper-titles {
	flex-grow: 1;
	padding: m(1/3) .75rem;
}

.ptr-chart-wrapper-title {
	flex-grow: 1;
}

.ptr-chart-wrapper-subtitle {
	color: var(--base50);
	font-size: $b1;
	margin-top: .1rem;
}

.ptr-chart-wrapper-tools {
	display: flex;
	justify-content: flex-end;
	padding: .25rem;
	width: 2rem;
}

.ptr-chart-wrapper-tool .ptr-icon .line {
	fill: var(--base70);
}

/* status bar */
.ptr-chart-wrapper-status-bar {
  display: flex;
  flex-wrap: wrap;
  padding: m(1/3) .75rem;
}

.ptr-colored-label {
  background: var(--accent20);
  border-radius: .25rem;
  color: var(--accent50);
  display: flex;
  align-items: center;
  font-size: $b1;
  padding: 0 .2rem 0 .35rem;
  height: m(1);
  margin-right: .5rem;
}

.ptr-colored-label-content {
  display: flex;
  align-items: center;
}

.ptr-colored-label-content > div {
  padding-top: .1rem;
}

.ptr-colored-label-content > .ptr-icon {
  height: 1rem;
  width: 1rem;
  margin-right: .15rem;
}

.ptr-colored-label-content > .ptr-icon .line {
  fill: currentColor;
}

.ptr-colored-label-clear {
  cursor: pointer;
  margin-left: .5rem;
  display: flex;
  align-items: center;
}

.ptr-colored-label-clear > .ptr-icon {
  height: 1rem;
  width: 1rem;
}

.ptr-colored-label-clear > .ptr-icon .line {
  fill: var(--base50);
}

.ptr-colored-label-clear:hover > .ptr-icon .line {
  fill: var(--base100);
}

/* content */

.ptr-chart-wrapper-content {
	padding: .5rem 1.5rem .5rem 1rem;
}

.ptr-chart-wrapper-content > div {
	position: relative;
	width: 100%;
}

.ptr-chart-wrapper-info {
	font-style: italic;
	font-size: $b1;
	color: var(--base80);
	padding: .3rem;
}

@media screen and (max-width: 70rem)  {
	.ptr-chart-wrapper {
		margin-bottom: m(2/3);
	}
}