#floater-custom-views-widget {
	right: 10rem;
	top: 10rem;
	min-height: 30rem;
	min-width: 40rem;
}

#floater-custom-views-widget .floater-body {
	height: calc(100% - 2.8rem);
	padding: .5rem;
}

#floater-custom-views-widget .custom-views-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
