.ptr-map-editing-tools {
	background: rgba(0,5,10,.75);
	color: rgba(220,224,228,1);
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0;
	top: 0;
}

/* svg icons */
.ptr-map-editing-tools .line {
	fill: rgba(220,224,228,1);
}
.ptr-map-editing-tools .polygon {
	stroke: rgba(220,224,228,1);
	fill: transparent;
}
.ptr-map-editing-tools .polygonFilled {
	stroke: rgba(220,224,228,1);
	fill: rgba(220,224,228,1);
}

/* HEADER */
.map-editing-tools-header {
	line-height: 28px;
	display: flex;
}
.map-editing-name {
	color: rgba(220,224,228,1);
	flex: 1;
	font-size: .9rem;
	padding: 0 .5rem;
}
.map-editing-icon {
	color: rgba(220,224,228,1);
	cursor: pointer;
	width: 2rem;
	font-size: 1rem;
	display: flex;
	justify-content: center;
	transition: background-color .3s ease-in-out, color .3s ease-in-out;
}
.map-editing-icon:hover,
.map-editing-icon:focus {
	background: rgba(255,255,255,.15);
	color: rgba(255,255,255,1);
}

/* tools icon */
.ptr-map-editing-tools.open .map-editing-icon.tools {
	background: rgba(255,255,255,.15);
	color: rgba(255,255,255,1);
}
.map-editing-icon.tools > svg {
	width: 20px;
	height: 28px;
}

/* close icon */
.map-editing-icon.close {
	margin-left: 1rem;
}
.map-editing-icon.close:hover,
.map-editing-icon.close:focus {
	background: rgba(255,0,0,.6);
}

/* opactity icon */
.map-editing-icon.opacity > svg {
	width: 20px;
}
.map-editing-icon.opacity .line {
	stroke: rgba(220,224,228,1);
}

/* CONTENT */
.map-editing-tools-content {
	border-top: 1px solid #666;
	width: 0;
	height: 0;
	overflow: hidden;
	transition: height .3s ease-in-out .3s, width .3s ease-in-out;
}
.ptr-map-editing-tools.open .map-editing-tools-content {
	border-top: 1px solid #666;
	width: 20rem;
	height: 10rem;
}
.map-editing-tool {
	padding: .5rem;
}
.map-editing-tool-header {
	font-size: .9rem;
}
.map-editing-tool-body {
}