@import '../../../../../../styles/variables';

.legend {
    margin: m(2/3) 1.5rem;
}

.legend-title {

}

.legend-subtitle {
    color: var(--base50);
    font-size: 0.809rem;
}

.legend .legend-item .images{
    
    min-width: 10rem;
    margin: m(1/3) 0;
 
    .image {
        display: flex;
        align-items: center;

        .title {
            margin-left: .5rem;
            font-size: $b1;
        }

        svg{
            width: 3rem;
            height: 1.5rem;
    
            rect{
                width: 3rem;
                height: 1.5rem;
            }
        }

    }

}

