.ptr-pucs-intro-footer {
	background: #ddd;
	padding: .8rem;
}

.ptr-pucs-intro-footer-content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ptr-pucs-intro-footer-flag {
	display: flex;
	min-width: 70px;
}

.ptr-pucs-intro-footer-text {
	color: rgb(108,112,120);
	font-size: .625rem;
	max-width: 350px;
}