body.application #sidebar-reports.snow-mode {
	width: 100%;
	transition: width .5s ease-in-out;
}
body.application #sidebar-reports.snow-mode.show-map {
	width: 800px;
}
#app-extra-content > iframe {
	width: 100%;
	height: 100%;
}