/* General selector declarations todo move them to the general class */
.select2-container {
	z-index: 99999;
}
.selector {
	display: none;
	height: 1.9rem;
}
.selector-label {
	line-height: 1.9rem;
	margin-right: 3px;
	color: white;
	color: rgba(148,152,160,1);
	font-size: 13px;
	font-weight: 500;
}
body.mode-3d .selector {
	display: inline-block;
	vertical-align: top;
}