@import '../../../../../styles/variables';

.szifLpisZmenovaRizeni-table-row {
	display: flex;
	flex-direction: column;
	border-top: 1px solid var(--accent20);
	padding: 0 0 0 .5rem;
	transition: background .3s ease-in-out;
}

.szifLpisZmenovaRizeni-table-row:first-child {
	border-top: 0;
}

.szifLpisZmenovaRizeni-table-row.open {
	background: var(--accent10);
	border-top: 2px solid var(--accent30);
	border-bottom: 2px solid var(--accent30);
}

.szifLpisZmenovaRizeni-table-row:hover {
	background: var(--accent10);
}

.szifLpisZmenovaRizeni-table-row-record {
	display: flex;
	align-items: center;
}

.szifLpisZmenovaRizeni-table-row-item {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: .3rem .5rem;
}

.szifLpisZmenovaRizeni-table-row-item .ptr-button:first-child {
	margin-right: .5rem;
}

.szifLpisZmenovaRizeni-table-row-expand .ptr-icon {
	transition: transform .5s ease-in-out;
}

.szifLpisZmenovaRizeni-table-row-expand.open .ptr-icon {
	transform: rotate(180deg);
}

// Details
.szifLpisZmenovaRizeni-table-detail {
	height: 0;
	transition: height .5s ease-in-out;
}

.szifLpisZmenovaRizeni-table-detail.open {
	height: 30rem;
}