<div id="floater-{{widgetId}}" class="floater floating-window {{floaterClass}}">
	<div class="floater-header">
		<div class="floater-header-title">{{name}}</div>
		<div class="floater-tools-container">
			<div title="{{minimise}}" class="floater-tool widget-minimise">
				<!--<img alt="{{minimise}}" src="{{minimiseSrc}}"/>-->
				<span class="fa-stack">
					  <i class="fa fa-square-o fa-stack-2x"></i>
					  <i class="fa fa-window-minimize fa-stack-1x"></i>
				</span>
			</div>
		</div>
	</div>
	<div class="floater-warning">
	</div>
	<div class="floater-body">
	</div>
	<div class="floater-footer">
	</div>
	<div class="floater-overlay">
		<div id="loading-screen-content-wrap">
			<div id="loading-screen-content">
				<div class="a-loader-container small blackandwhite">
					<i class="i1"></i>
					<i class="i2"></i>
					<i class="i3"></i>
					<i class="i4"></i>
				</div>
			</div>
		</div>
	</div>
</div>