<div class="placeholders-container">
    <div id="placeholder-{{widgetId}}" class="placeholder open">
        <span>{{name}}</span>
        <div class="placeholder-tools-container">
            <div class="placeholder-tool widget-maximise">
                <img alt="Maximise" src="__new/img/maximise-icon.png"/>
            </div>
        </div>
    </div>
</div>

<div id="floater-{{widgetId}}" class="floater">
    <div class="floater-header">
        <span>{{name}}</span>
        <div class="floater-tools-container">
            <div title="Minimise" class="floater-tool widget-minimise">
                <img alt="Maximise" src="__new/img/minimise-icon.png"/>
            </div>
        </div>
    </div>
    <div class="floater-body">
        </div>
    <div class="floater-footer">
        </div>
</div>
