/* Table of contents

 PLACEHOLDERS...........probably obsolete declarations
 FLOATERS...............floater and its common components
 	Header
 	Body
 	Footer
 	Overlays
 	Floaters modes......floater adjustments according to class
 OTHERS.................other floater components used in widgets
 	Tabs
 	Section
 	Form

*/

/* === PLACEHOLDERS === TODO obsolete?*/
.placeholders-container {
    height: 6.5rem;
    position: absolute;
    right: 12rem;
    top: 0;
    width: 10.5rem;
    z-index: 10000;
}

.placeholder {
    background: rgb(140,140,140);
    border: 1px solid rgba(255,255,255,.3);
    border-radius: .1rem;
    height: 1.5rem;
    position: relative;
    margin: .5rem .3rem;
    transition: background .3s ease-in-out;
    width: 10rem;
}

.placeholder.open {
    background: rgba(201,45,66,.7);
    border: 1px solid rgba(255,255,255,.3);
    transition: background .3s ease-out;
}

.placeholder:hover {
    background: rgb(120,120,120);
    cursor: pointer;
}

.placeholder.open:hover {
    background: #ad2738;
}

.placeholder > span {
    color: white;
    font-size: .7rem;
    font-weight: bold;
    line-height: 1.4rem;
    padding: 0 .5rem;
}
.placeholder-tools-container {
    position: absolute;
    right: 0;
    top: 0;
    height: 1.5rem;
}

.placeholder-tool {
    float: right;
    height: 1.3rem;
    margin: .15rem .15rem .15rem 0;
    position: relative;
    width: 1.3rem;
}
.placeholder-tool > img, .floater-tool > img {
    margin: .1rem;
}

/* ============= FLOATERS ====================== */
.floater {
    background-image: linear-gradient(to bottom, transparent 0rem, transparent 2.3rem, rgba(255,255,255,.95) 2.3rem, rgba(255,255,255,.95) 100%);
    background-position: 0px 0px;
    background-repeat:   no-repeat;
    border-radius: .1rem;
    -webkit-box-shadow: 0 0 4px rgb(136, 136, 136);
    -moz-box-shadow: 0 0 4px rgb(136, 136, 136);
    box-shadow: 0 0 4px rgb(136, 136, 136);
    display: none;
    position: absolute;
    resize: both;
    overflow: auto;
    width: 18rem;
    z-index: 10000;
}

/* floater header */
.floater-header {
    background: rgba(153,54,75,.9);
    height: 2.3rem;
    line-height: 2.4rem;
    padding: 0 .5rem;
    position: relative;
    cursor: move;
    display: flex;
}
.floater-header-title {
    color: #eee;
    flex: 1;
    font-size: 1rem;
    font-weight: 500;
}
.floater-tools-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.floater-tool {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.7rem;
    height: 100%;
    cursor: pointer;
    transition: background .3s ease-in-out;
}
.floater-tool:hover {
    background: rgba(255,255,255,.2);
}
.floater-tool .fa {
    color: #eee;
}
.floater-tool > .fa {
    font-size: 1.15rem;
}
.floater-tool .fa-stack {
    display: flex;
    align-items: center;
    position: relative;
}
.floater-tool .fa-stack .fa-stack-2x {
    display: flex;
    justify-content: center;
    align-items: center;
}
.floater-tool .fa-stack .fa-stack-1x {
    display: flex;
    justify-content: center;
    align-items: center;
}
.floater-tool.widget-minimise .fa-stack-2x {
    top: 3px;
    font-size: 1.3rem;
}
.floater-tool.widget-minimise .fa-stack-1x {
    top: 2px;
    font-size: .45rem;
}
.floater-tool.widget-expand,
.floater-tool.widget-compress {
    display: none;
}
.floater-tool.widget-expand .fa,
.floater-tool.widget-compress .fa {
    font-size: 1.05rem;
}

/* floater body */
.floater-body {
    padding: .5rem;
    height: calc(100% - 5rem);
    overflow: auto;
}
.floater-row {
    width: 100%;
}
.floater-row > .floater-row-caption {
    font-size: .8rem;
    font-weight: 700;
    color: #666;
    margin-bottom: .3rem;
}
.floater-row a {
    display: block;
    height: 1.7rem;
    line-height: 1.7rem;
    transition: background .3s ease-out;
    width: 100%;
}
.floater-row a:hover {
    background: rgb(235,235,235);
}
.floater-row a > * {
    vertical-align: middle;
}

/* floater footer */
.floater-footer {
    border-top: 2px solid #ccc;
    padding: .5rem;
    height: 3rem;
}
.floater-footer > .floater-row {
    margin-bottom: .7rem;
    text-align: center;
}

/* overlays */
.floater-overlay {
    display: none;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

.floater-warning {
    display: none;
    background: white;
    position: absolute;
    height: calc(100% - 2.7rem);
    z-index: 10;
    padding: .5rem;
}

/* FLOATER MODES */
body.application .floater.open {
    display: block;
}
body.application .floater.open:not(.expanded) {
	height: 28rem;
}

/* 2d  - 3d */
body.mode-3d .floater.only-2d.open {
    display: none;
}
body.application .floater.only-3d.open {
    display: none;
}
body.mode-3d .floater.only-3d.open {
    display: block;
}

/* expandable */
.floater.expanded {
	left: 0;
	top: 45px;
	width: 100%;
	height: calc(100% - 45px);
	resize: none;
    box-shadow: none;
}
.floater.expanded .floater-header {
    background: #212635;
    cursor: default;
    padding: 0 1rem;
    border-top: 1px solid rgba(255,255,255,.1);
}
.floater.expanded .floater-header-title {
    line-height: 2rem;
}
.floater.expandable .widget-expand {
    display: flex;
}
.floater.expanded .widget-compress {
    display: flex;
}
.floater.expandable.expanded .widget-expand {
    display: none;
}


.floater.active {
    z-index: 10001;
}
.floater.active.expanded {
    z-index: 50000;
}

.floater.inverse .floater-header {
    background: rgba(255,255,255,.9);
    color: #444;
}
.floater.inverse .floater-header-title {
    color: #444;
}
.floater.inverse .floater-tool:hover {
    background: rgba(65,65,65,.15);
}
.floater.inverse .floater-tool .fa {
    color: #666;
}

/* ========== OTHERS =============== */
/* tabs */
.widget-tabs-menu {
    height: 2rem;
    float: left;
    clear: both;
}

.widget-tabs-menu.vertical {
    height: 100%;
    width: 2.3rem;
    border-right: 0;
}

.widget-tabs-menu li {
    height: 2.1rem;
    line-height: 2.1rem;
    float: left;
    margin-right: .5rem;
}
.widget-tabs-menu.horizontal li {
    border-radius: .2rem .2rem 0 0;
}

.widget-tabs-menu.vertical li {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 4px solid transparent;
    margin-bottom: .3rem;
    width: 2.35rem;
    height: 2.5rem;
    text-align: center;
}

.widget-tabs-menu li.active {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 4px solid rgba(153,54,75,.9);
    border-radius: .1rem;
    background: rgba(245,245,245,1);
    position: relative;
    z-index: 5;
}
.widget-tabs-menu.horizontal li.active {
    border-bottom: 1px solid #fff;
}
.widget-tabs-menu.vertical li.active {
}

.widget-tabs-menu li a {
    padding: .4rem 1rem;
    text-transform: uppercase;
    font-size: .9rem;
    font-family: Corbel Bold, Open Sans, sans-serif;
    color: #888;
    text-decoration: none;
    transition: background .3s ease-out;
}
.widget-tabs-menu li a:hover {
    background: rgba(240,240,240,.7);
}

.widget-tabs-menu.vertical li a {
     padding: 0.5rem;
     line-height: 1.6rem;
     display: block;
     height: 100%;
     cursor: pointer;
}

.widget-tabs-menu li.active a {
    color: #888;
}

.widget-tabs-menu li.active a:focus, .tabs-menu li.active a:active{
    background-color: transparent;
}

.widget-tabs-menu .disabled a {
    color: #ccc;
    pointer-events: none;
    cursor: default;
}

.widget-tabs-menu .disabled a:hover {
    color: inherit;
}

.widget-tabs-menu .fa:before, .tabs-menu .fa:after {
    font-size: 1rem;
}

.widget-tab {
    background: rgba(220,220,220,.3);
    border: 1px solid #ddd;
    border-radius: .1rem;
    display: none;
    float: left;
    padding: .5rem;
    width: 100%;
    min-height: 100%;
}

.widget-tab.vertical {
    width: calc(100% - 2.3rem);
}

.widget-tab.active {
    display: block;
}

.widget-tab p {
    margin: .2rem 0;
    font-size: .9rem;
}

.widget-tab span {
    margin: .2rem 0;
    font-size: .9rem;
}

/* widget section */
.widget-section {
    margin-bottom: 2rem;
}
.widget-section h3 {
    font-size: 1.15rem;
    color: rgb(65,69,81);
    font-weight: 400;
    margin-bottom: .2rem;
}
.widget-section p {
    font-size: .95rem;
    color: rgb(65,69,81);
    margin-bottom: .3rem;
    font-weight: 300;
}

/* widget form */
.widget-form-row {
    margin: .8rem 0;
}
.widget-form-row label {
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 1.7;
}
.widget-form-row span {
    color: rgb(106,110,120);
    font-size: .75rem;
    font-weight: 400;
    text-transform: uppercase;
}
.widget-form-row select,
.widget-form-row input,
.widget-form-row textarea {
    font-size: .95rem;
    line-height: 2rem;
    max-width: 90%;
    border: 1px solid rgba(204,207,211,1);
    border-radius: .15rem;
    padding-left: .3rem;
    color: rgb(65,69,81);
    background: rgba(233,235,237,1);
}
.widget-form-row textarea {
    height: 3rem;
}
.widget-form-row select {
    height: 2rem;
}