@import '../../../styles/variables';
@import './variables';

.ptr-light {

	--accent0: #{$lightAccent0};
	--accent0rgb: #{$lightAccent0rgb};
	--accent05: #{$lightAccent05};
	--accent10: #{$lightAccent10};
	--accent15: #{$lightAccent15};
	--accent20: #{$lightAccent20};
	--accent25: #{$lightAccent25};
	--accent30: #{$lightAccent30};
	--accent35: #{$lightAccent35};
	--accent40: #{$lightAccent40};
	--accent45: #{$lightAccent45};
	--accent50: #{$lightAccent50};
	--accent50rgb: #{$lightAccent50rgb};
	--accent55: #{$lightAccent55};
	--accent60: #{$lightAccent60};
	--accent65: #{$lightAccent65};
	--accent70: #{$lightAccent70};
	--accent75: #{$lightAccent75};
	--accent80: #{$lightAccent80};
	--accent85: #{$lightAccent85};
	--accent90: #{$lightAccent90};
	--accent95: #{$lightAccent95};
	--accent100: #{$lightAccent100};
	--accent100rgb: #{$lightAccent100rgb};
}


.szdcInsar19-app {
	@include positionFill;
	display: flex;
	flex-direction: column;
}

.szdcInsar19-header {
	flex-basis: m(2);
	background: #393836;
	display: flex;
}

.szdcInsar19-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.szdcInsar19-map {
	flex-grow: 1;

	background: #000;
}

.szdcInsar19-visualization {
	//flex-basis: m(10);
	//flex-grow: 0;
	flex: 0 1 m(14);
	
	display: flex;
}
.szdcInsar19-detail {
	flex: 1 1 0%;
}
.szdcInsar19-legend {
	flex: 0 0 m(10);
	background: #ccc;
}





.szdcInsar19-view-select {
	height: 100%;
}
.szdcInsar19-view-select,
.szdcInsar19-view-select-list > div > div {
	width: m(22);
}
.szdcInsar19-view-select-list > div > div {
	background: rgba(var(--base100rgb), .7);
	padding: m(1);
}

.szdcInsar19-view-select-current,
.szdcInsar19-view-select-current > div {
	height: 100%;
}
.szdcInsar19-view-select-current > div > div {
	@include positionCenterVertical;
	padding: 0 m(1);
	color: var(--base0);
}
.szdcInsar19-view-select-current > div > div > span {
	color: rgba(var(--base0rgb),.6);
	margin-right: m(1/6);
}
.szdcInsar19-view-select-current .ptr-panther-select-current-icon {
	padding-top: .5rem;
}
.szdcInsar19-view-select-current .ptr-panther-select-current-icon svg {
	width: m(2/3);
}
.szdcInsar19-view-select-current .ptr-panther-select-current-icon svg .line {
	fill: var(--base0);
}


.szdcInsar19-select-category {
	//padding: m(1);
	//background: #ff0c;
	color: var(--base0);
}
.szdcInsar19-select-category > span {
	//position: relative;
	//left: - m(1/3);
	//top: - m(1/3);
	display: block;
	padding: m(2/3) m(2/3);
	font-weight: bold;
	color: rgba(var(--base0rgb), .75);
}
.szdcInsar19-select-category > div {
	height: m(1 + 2/3);
	padding: m(1/3) m(1);
	position: relative;
	border-top: 1px solid #fff3;
	cursor: pointer;
}
.szdcInsar19-select-category > div::after {
	content: " ";
	display: block;
	@include positionFill;
	pointer-events: none;
}
.szdcInsar19-select-category > div:hover::after {
	background: #fff3;
}


.szdcInsar19-period-select,
.szdcInsar19-TrackSelect {
	padding: 0 1rem;
	line-height: m(2);
	color: #ccc;
}
.szdcInsar19-period-select > label,
.szdcInsar19-TrackSelect > label {
	padding: 0 m(1/3);
	color: #eee;
}
.szdcInsar19-period-select input,
.szdcInsar19-TrackSelect input {
	margin-right: m(1/6);
}

.szdcInsar19-period-select {
	background: rgba(120,120,120,.3);
}


/* Charts */
.szdcInsar19-app .ptr-chart-point.standalone.path {
	stroke: #195dd1
}