@import '~@gisatcz/ptr-core/src/styles/_variables';

.ptr-world-wind-map {
	background: #ddd;
	font-family: "Roboto", sans-serif;
	position: relative;
	height: 100%;
	width: 100%;

	$border: 1px solid #888;

	:not(.row1) > & {
		border-top: $border;
	}

	:not(.col1) > & {
		border-left: $border;
	}
}

.ptr-world-wind-map-canvas {
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: #000;
}

.ptr-world-wind-map .map-label{
	position: absolute;
	z-index: 1000;
	background-color: var(--accent50);
	padding: m(1/8) m(1/4);
	color: rgb(255, 255, 255);
}