@import '../../../styles/variables';

/* General */
.ptr-charts-container {
	display: flex;
	flex-direction: column;
	padding: m(1) m(1) m(2);
	align-items: center;
	background: var(--base15);
}

.ptr-chart-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.ptr-chart {
	box-sizing: content-box;
}

.ptr-chart-popup {
	position: absolute;
	background: rgba(var(--base0rgb), .90);
	z-index: 1;
	padding: .35rem;
	border: 1px solid var(--base30);
	box-shadow: 0 3px 7px 0 rgba(var(--base100rgb), 0.20);
	font-size: $b1;
	color: var(--base80);
}

.ptr-chart-popup > div:first-child {
	font-weight: bold;
}

/* Axis */
.ptr-axis-baseline {
	stroke-width: 2px;
	stroke-linecap: square;
	stroke: var(--base30);
}

.ptr-axis-gridline {
	stroke-width: 1px;
	stroke-linecap: square;
	stroke: var(--base25);
}

.ptr-tick-caption {
	fill: var(--base50);
	font-size: $b1;
}

.ptr-tick-caption.small {
	font-size: $a0;
}

/* Column chart */
.ptr-column-chart {
}

.ptr-column-chart-bar {
	fill: var(--accent50);
	transition: height 1.5s ease-in-out;
}

.ptr-column-chart-bar.hidden {
	fill: transparent;
}

.ptr-column-chart-bar:hover {
	fill: var(--accent65);
}

.ptr-column-chart-path {
	fill: var(--accent50);
}

/* Line chart */
.ptr-line-chart {
	//background: red;
}

.ptr-line-chart-line {
	fill: none;
	stroke-width: 2;
	transition: stroke-width .3s ease-in-out, stroke .3s ease-in-out;
	animation: pathDraw 2s ease-in-out 1;
	animation-fill-mode: forwards;
}

.ptr-chart-point {
	transition: fill .3s ease-in-out, r .3s ease-in-out, stroke-width .3s ease-in-out;
	animation: pointDraw .3s ease-in-out 1;
	animation-fill-mode: forwards;
	animation-delay: 2s;
	fill-opacity: 0;
	stroke-opacity: 0;
	stroke-width: 1px;
	stroke: var(--base10);
}

.ptr-line-chart-line-wrapper:hover .ptr-line-chart-line {
	stroke-width: 3;
}


@keyframes pathDraw {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes pointDraw {
	to {
		fill-opacity: 1;
		stroke-opacity: 1;
	}
}
