@import '../../../styles/variables';

/* General */
.ptr-charts-container {
	display: flex;
	flex-direction: column;
	padding: m(1) m(1) m(2);
	align-items: center;
	background: var(--base15);
	min-height: 100%;
}

.ptr-chart-container {
	width: 100%;
	overflow: hidden;
	max-width: 100%;
	display: flex;
	flex-direction: column;
}

.ptr-chart-container.centered {
	align-items: center;
}

.ptr-chart-container > div:not(.ptr-chart-legend) {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	//height: 100%;
	//min-height: 100%;
	align-items: center;
	justify-content: center;
}

.ptr-chart-container.legend-top > div {
	flex-direction: column-reverse;
}

.ptr-chart-container.legend-right > div {
	flex-direction: row;
}

.ptr-chart-container.legend-left {
	flex-direction: row-reverse;
}

.ptr-chart {
	box-sizing: content-box;
	width: 100%;
}

.ptr-cartesian-chart {
	width: 100%;
}

/* Axis */
.ptr-axis-baseline {
	stroke-width: 2px;
	stroke-linecap: square;
	stroke: var(--base30);
}

.ptr-axis-gridline {
	stroke-width: 1px;
	stroke-linecap: square;
	stroke: var(--base25);
}

.ptr-axis-label {
	fill: var(--base50);
	font-size: $b1;
	font-style: italic;
}

.ptr-tick-caption {
	fill: var(--base50);
	font-size: $b1;
}

.ptr-tick-caption.small {
	font-size: $a0;
}

/* Column chart */
.ptr-column-chart {
}

.ptr-column-chart-bar-container:hover .ptr-column-chart-bar {
	fill: var(--accent65);
}

.ptr-column-chart-bar-placeholder {
	fill: var(--base20);
	opacity: 0;
}

.ptr-column-chart-bar-placeholder.visible {
	opacity: 1;
}

.ptr-column-chart-bar {
	fill: var(--accent50);
	transition: height 1.5s ease-in-out .5s;
}

.ptr-column-chart-bar.hidden {
	fill: transparent;
}

.ptr-column-chart-bar:hover {
	fill: var(--accent65);
}

.ptr-column-chart-bar-baseline {
	stroke: var(--base80);
	stroke-width: 2;
}

.ptr-column-chart-path {
	fill: var(--accent50);
}

/* Line chart */
.ptr-line-chart {
	//background: red;
}

.ptr-line-chart-line {
	fill: none;
	stroke-width: 2;
	stroke: var(--base50);
	animation: pathDraw 2s ease-in-out 1;
	animation-fill-mode: forwards;
	animation-delay: .5s;
}

.ptr-chart-point {
	animation: pointDraw .3s ease-in-out 1;
	animation-fill-mode: forwards;
	animation-delay: 2.5s;
	fill-opacity: 0;
	stroke-opacity: 0;
	stroke-width: 1px;
	stroke: var(--base10);
}

.ptr-chart-point.standalone {
	animation: none;
	fill: var(--accent50);
	fill-opacity: 1;
}

.ptr-line-chart-area {
	fill: rgba(var(--base50rgb), .2);
	fill-opacity: 0;
	animation: pathFill .3s ease-in-out 1;
	animation-delay: 2.5s;
	animation-fill-mode: forwards;
}

.ptr-chart-no-animation .ptr-line-chart-area,
.ptr-chart-no-animation .ptr-column-chart-bar{
	animation: none;
	transition: none;
}

.ptr-line-chart-line-wrapper:hover .ptr-line-chart-line,
.ptr-line-chart-line-wrapper.gray:hover .ptr-line-chart-line,
.ptr-line-chart-line-wrapper.highlighted.gray .ptr-line-chart-line,
.ptr-line-chart-line-wrapper.highlighted .ptr-line-chart-line {
	stroke-width: 3;
}

.ptr-line-chart-line-wrapper.gray .ptr-line-chart-line {
	stroke-width: 1;
}

.ptr-line-chart-line-wrapper.gray .ptr-chart-point {
	opacity: 0;
}

.ptr-line-chart-line-wrapper.gray .ptr-chart-point.no-opacity,
.ptr-line-chart-line-wrapper.gray:hover .ptr-chart-point {
	opacity: 1;
}

@media screen and (max-width: 70rem)  {
	.ptr-charts-container {
		padding: m(2/3) m(2/3) m(2);
	}
}

@keyframes pathDraw {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes pathFill {
	to {
		fill-opacity: 1;
	}
}

@keyframes pointDraw {
	to {
		fill-opacity: 1;
		stroke-opacity: 1;
	}
}


