/* = Basic floater = */
#floater-city-selection {
	height: 15rem;
	left: 15rem;
	top: 9rem;
}

#melodies-selection-confirm {
	margin: 0 auto;
	width: 70%;
}

#melodies-selection-confirm[disabled=disabled] {
	background: #eee;
	color: #aaa;
	font-style: italic;
	text-transform: none;
}

#melodies-selection-confirm.failed {
	color: red;
	text-transform: none;
}