.panel-header {
	background: rgba(67, 66, 84,.15);
	border-top: 1px solid rgba(67, 66, 84,.2);
	color: #555;
	cursor: pointer;
	line-height: 1.9rem;
	padding: 0 .5rem;
	position: relative;
	transition: background .3s ease-out;
}
.panel-header:hover {
	background: rgba(67, 66, 84,.25);
}
.panel-header h3 {
	display: inline-block;
	font-size: .85rem;
	font-weight: 600;
	vertical-align: middle;

}

.panel-layer-group-header {
	border-bottom: 1px solid #e7e7e7;
	color: #555;
	cursor: pointer;
	line-height: 1.9rem;
	padding: 0 1rem;
	position: relative;
	transition: background .3s ease-out;
}
.panel-layer-group-header:hover {
	background: rgb(235,235,235);
}
.panel-layer-group-header h3 {
	display: inline-block;
	font-size: .85rem;
	font-weight: 600;
	vertical-align: middle;

}

.panel-body .floater-row {
	padding-left: .5rem;
}
.panel-layer-group-body .floater-row {
	padding-left: 1rem;
}

.panel-icon {
	display: inline-block;
	width: 1.5rem;
	vertical-align: middle;

}

.panel-icon:before {
	color: #777;
	content: "\f196";
	display: block;
	font-family: "FontAwesome";
	font-size: 1.05rem;
}
.panel-header.open .panel-icon:before, .panel-layer-group-header.open .panel-icon:before {
	content: "\f147";
}
.panel-body {
	display: none;
	padding: 0.05rem 0 .5rem;
	position: relative;
	/*max-height: 12rem;*/
	/*overflow: auto;*/
}
.panel-body.open {
	display: block;
}
.panel-body .panel-row {
	position: relative;
}
.panel-body .layer-row {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 4rem);
}
.panel-body .layer-row a {
	width: auto;
}
.panel-body .floater-row {
	border-bottom: 1px solid #e7e7e7;
}
.panel-body .floater-row:last-child {
	border-bottom: 0;
}
.panel-body .floater-row a {
	padding: 0 .3rem;
	height: 1.7rem;
	line-height: 1.6rem;
}
.panel-body .floater-row .radiobox-label,
.panel-body .floater-row .checkbox-label {
	font-weight: 500;
	font-size: .85rem;
}