.panel-header {
	background: rgba(67, 66, 84,.15);
	border-top: 1px solid rgba(67, 66, 84,.2);
	color: #555;
	cursor: pointer;
	line-height: 1.9rem;
	padding: 0 .5rem;
	position: relative;
	transition: background .3s ease-out;
}
.panel-header:hover {
	background: rgba(67, 66, 84,.25);
}
.panel-header h3 {
	font-size: .85rem;
	font-weight: 600;
}
.panel-header .panel-icon {
	background: url(../../../../../img/arrow-down-small.png) no-repeat center center;
	width: 20px;
	height: 100%;
	position: absolute;
	top: 0;
	right: .3rem;
}
.panel-header.open .panel-icon {
	background: url(../../../../../img/arrow-up-small.png) no-repeat center center;
}
.panel-body {
	display: none;
	padding: 0.05rem 0 .5rem;
}
.panel-body.open {
	display: block;
}
.panel-body .floater-row {
	border-bottom: 1px solid #e7e7e7;
}
.panel-body .floater-row:last-child {
	border-bottom: 0;
}
.panel-body .floater-row a {
	padding: 0 .3rem;
	height: 1.7rem;
	line-height: 1.6rem;
}
.panel-body .floater-row .radiobox-label,
.panel-body .floater-row .checkbox-label {
	font-weight: 500;
	font-size: .85rem;
}