.panel-header {
	color: #555;
	cursor: pointer;
	padding: 0;
	position: relative;
	transition: background .3s ease-out;
}
.panel-header:hover {
	background: rgb(235,235,235);
}
.panel-header h3 {
	display: inline-block;
	font-size: .75rem;
	font-weight: 400;
	vertical-align: middle;

}

.panel-layer-group-header {
	color: #555;
	cursor: pointer;
	padding: 0 0 0 1.3rem;
	position: relative;
	transition: background .3s ease-out;
}
.panel-layer-group-header:hover {
	background: rgb(235,235,235);
}
.panel-layer-group-header h3 {
	display: inline-block;
	font-size: .75rem;
	font-weight: 400;
	vertical-align: middle;

}

.panel-body .floater-row {
	padding-left: 1.05rem;
}

.panel-icon {
	display: inline-block;
	width: 1.2rem;
	height: 1.25rem;
	vertical-align: middle;

}

.panel-icon.expand-icon {
	background: url(../../../../../img/tree-node-expand.png) no-repeat center center;
}
.panel-icon.folder-icon {
	background: url(../../../../../img/tree-node-closed.png) no-repeat center center;
}
.panel-header.open .panel-icon.expand-icon, .panel-layer-group-header.open .panel-icon.expand-icon {
	background: url(../../../../../img/tree-node-collapse.png) no-repeat center center;
}
.panel-header.open .panel-icon.folder-icon, .panel-layer-group-header.open .panel-icon.folder-icon {
	background: url(../../../../../img/tree-node-opened.png) no-repeat center center;
}
.panel-body {
	display: none;
	padding: 0.05rem 0 .2rem;
	position: relative;
	/*max-height: 12rem;*/
	/*overflow: auto;*/
}
.panel-body.open {
	display: block;
}
.panel-body .panel-row {
	position: relative;
	height: 1.3rem;
}
.panel-body .layer-row {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 3rem);
}
.panel-body .panel-layer-group-body .layer-row {
	padding-left: 2.15rem;
	width: calc(100% - 4.3rem);
}
.panel-body .layer-row a {
	width: auto;
}
.panel-body .floater-row a {
	padding: 0 .3rem;
	height: 1.3rem;
	line-height: 1.2rem;
	color: #555;
}
.panel-body .floater-row .radiobox-label,
.panel-body .floater-row .checkbox-label {
	font-weight: 400;
	font-size: .75rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}