@import '../../../../styles/variables';

.ptr-input-text {
	border-radius: .2rem;
	margin: .25rem 0;
	min-width: 10rem;
	display: flex;
	background: white;
	border: 1px solid #aaa;
}
.ptr-input-text.input {
	height: m(4/3);
}
.ptr-input-text.multiline {
	min-height: m(4/3);
}
.ptr-input-text input {
	border: 0;
	width: 100%;
	font-size: $a1;
	line-height: 1.5;
	flex: 1;
	padding: 0 .5rem;
}
.ptr-input-text.multiline > div {
	width: 100%;
}
.ptr-input-text.multiline .ptr-editable-text {
	font-size: $a1;
	padding: .25rem 0;
	width: 100%;
}
.ptr-input-text .ptr-icon {
	width: 1.4rem;
}

/* extra large */
.ptr-input-text.extraLarge input {
	font-size: $b2;
}

/* large */
.ptr-input-text.large input {
	font-size: $a1;
}

/* transparent */
.ptr-input-text.transparent {
	background: rgba(255,255,255,.2);
	border: 0;
	transition: background .3s ease-in-out;
}
.ptr-input-text.transparent input {
	background: none;
	font-weight: 400;
	color: rgba(255,255,255,.6);
	transition: color .3s ease-in-out;
}
.ptr-input-text.transparent .ptr-icon .line,
.ptr-input-text.transparent .ptr-icon .polygon {
	stroke: rgba(255,255,255,.6);
	transition: stroke .3s ease-in-out;
}
.ptr-input-text.transparent input::placeholder {
	color: rgba(255,255,255,.6);
}

/* transparent and focused */
.ptr-input-text.transparent.focus {
	background: rgba(255,255,255,.25);
}
.ptr-input-text.transparent.focus input {
	color: rgba(255,255,255,1);
}
.ptr-input-text.transparent.focus .ptr-icon .line,
.ptr-input-text.transparent.focus .ptr-icon .polygon {
	stroke: rgba(255,255,255,1);
}
