@import '~@gisatcz/ptr-core/src/styles/_variables';

.ptr-input-text {
	border-radius: .2rem;
	min-width: 10rem;
	display: flex;
	background: none;
	border: 1px solid var(--base50); // todo
}
.ptr-input-text.input {
	height: m(4/3);
}
.ptr-input-text input {
	background: none;
	border: 0;
	border-radius: .2rem;
	color: var(--base100); //todo
	width: 100%;
	font-size: $a1;
	line-height: 1.5;
	flex: 1;
	padding: 0 .5rem;
	outline: none;
}
.ptr-input-text input::placeholder {
  color: var(--base50);
}
.ptr-input-text.focus {
	box-shadow: 0 0 2px 1px var(--accent50); // todo
}

/* Inverted */
.ptr-input-text.inverted input {
  background: none;
  color: var(--base0); //todo
}

/* Multiline */
.ptr-input-text.multiline {
	min-height: m(4/3);
}
.ptr-input-text.multiline > div {
	width: 100%;
}
.ptr-input-text.multiline .ptr-editable-text {
	border-radius: .2rem;
	color: var(--base100); //todo
	outline: none;
	font-size: $a1;
	padding: .25rem .5rem;
	width: 100%;
}
.ptr-input-text.multiline .ptr-editable-text:focus {
	box-shadow: 0 0 2px 2px var(--accent50); // todo
}

/* Disabled */
.ptr-input-text.disabled {
	border: 1px solid var(--base40); // todo
  	background: var(--base15);
}

.ptr-input-text.disabled input,
.ptr-input-text.disabled .ptr-editable-text {
	color: var(--base40); // todo
}

.ptr-input-text.inverted.disabled {
  border-color: var(--base60); // todo
  background: var(--base85);
}

.ptr-input-text.inverted.disabled input {
  color: var(--base60);
}