.ptr-overlay-editing {
	padding: 0;
	flex-direction: row;
}

.ptr-overlay-editing.open {
	display: flex;
}

.ptr-overlay-editing-loader {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	z-index: 5;
}