.new-table {
	padding: 0 .2rem;
	width: 95%;
}
.new-table tr th, .new-table tr td {
	color: rgb(65,69,81);
	padding: 0 .2rem;
	min-width: 2rem;
	line-height: 2rem;
	border-bottom: 1px solid rgb(204,207,211);
}
.new-table tr th {
	color: rgb(65,69,81);
	font-weight: 600;
	line-height: 1.3rem;
}
.new-table input[disabled="disabled"] {
	border: 0;
	background: transparent;
}

/* basic table */
table.basic-table {
	border: 1px solid rgb(204,207,211);
	table-layout: fixed;
}
table.basic-table tr {
	border-bottom: 1px solid rgb(204,207,211);
}
table.basic-table tr th {
	padding: 0 .2rem;
	background: rgba(224,227,231,.8);
	line-height: 1.7rem;
	word-wrap: break-word;
	font-size: .85rem;
	font-weight: 400;
	color: rgb(65,69,81);
}
table.basic-table tr td {
	padding: 0 .2rem;
	line-height: 1.2rem;
	word-wrap: break-word;
}
table.key-value-table tr td:last-child{
	width: 70%;
}
