.snow-cfg-table {
	margin: .5rem 0 1.8rem;
	width: 100%;
}

.snow-cfg-table tr td {
	border-bottom: 1px dashed #ccc;
	color: #666;
	line-height: 1.3rem;
	padding: .4rem 0;
	font-size: .85rem;
	transition: background .3s ease-out;
}
.snow-cfg-table tr:first-child td {
	border-top: 1px dashed #ccc;
}

.snow-cfg-table tr td:first-child {
	padding-left: 0;
}
.snow-cfg-table tr td i {
	font-style: normal;
	font-weight: 600;
}
.snow-cfg-table tr td i.satellite-name {
	text-transform: uppercase;
}

.snow-cfg-table tr td:last-child {
	text-align: right;
}

.snow-cfg-table tr:hover td {
	background: rgba(240,240,240,.7);
}

.snow-cfg-table tr td div {
	display: inline-block;
	vertical-align: middle;
}
.snow-cfg-table tr td.snow-icon {
	padding-right: .5rem;
}
.snow-cfg-table tr td.snow-composites {
	padding-right: 1.5rem;
}
.snow-cfg-table tr td.snow-cfg-name-date {
	max-width: 14rem;
	padding-right: 1.5rem;
}
.snow-cfg-table tr td.snow-cfg-name-date div {
	display: block;
	float: left;
}
.snow-cfg-table tr td.snow-cfg-name-date div.snow-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	font-weight: 600;
}
.snow-cfg-table tr td.snow-cfg-name-date div.snow-timestamp {
	color: #aaa;
}
.snow-cfg-table tr td div.snow-icon-container {
	margin: 0 .5rem
}
.snow-icon-container svg {
	width: 1.2rem;
	height: 1.2rem;
	display: inline-block;
	vertical-align: middle;
}
.snow-icon-container:not(.icon-composites) svg path {
	 fill: #666;
	 stroke: #666;
}
.snow-cfg-table .button-cell {
	padding: 0 .2rem;
	width: 6rem;
}
.snow-cfg-table .button-cell-delete {
	width: 2rem;
}
.snow-cfg-table .widget-button {
	min-width: 1.7rem;
	width: 100%;
	font-size: .7rem;
	padding: .2rem;
	text-transform: none;
}
.snow-cfg-table .widget-button i {
	font-size: .85rem;
	font-weight: 400;
}
.snow-cfg-table .delete-composites i {
	font-size: .9rem;
}
.snow-cfg-table .show-composites i {
	font-size: .75rem;
	padding-left: .5rem;
}
.snow-cfg-table .save-composites i {
	font-size: .85rem;
	padding-right: .5rem;
}

.snow-cfg-table .snow-input {
	padding: .1rem .3rem;
	height: 1.6rem;
	border-radius: .15rem;
	border: 1px solid #bbb;
	margin: 0 .2rem;
	color: #666;
	font-weight: 600;
	max-width: 8rem;
}

.snow-cfg-table .snow-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-weight: 400;
	color: #aaa;
}
.snow-cfg-table .snow-input::-moz-placeholder { /* Firefox 19+ */
	font-weight: 400;
	color: #aaa;
}
.snow-cfg-table .snow-input:-ms-input-placeholder { /* IE 10+ */
	font-weight: 400;
	color: #aaa;
}
.snow-cfg-table .snow-input:-moz-placeholder { /* Firefox 18- */
	font-weight: 400;
	color: #aaa;
}